main section form#signup-form {
    padding: 0 0 10px 0;
}
    main section form#signup-form label {
        margin-left: 10px;
    }
main section .toolbar {
    position: sticky;
    top: 0;
}
    main section .toolbar span {
        padding: 5px;
        display: flex;
        align-items: center;
    }
main section h3 {
    margin: 0;
    background: var(--color-primary);
    color: var(--color-primary-text);
    font-weight: normal;
    padding: var(--gap);
    font-size: 90%;
    letter-spacing: 1px;
}