section#list h1:last-of-type {
	margin: calc(var(--gap) * 2) 0;
}
#add-oauth-connection {
	grid-auto-flow: column;
	grid-template-columns: max-content max-content max-content;
	grid-gap: calc(var(--gap) * 2);
}
#details {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
}
.test-result {
	margin-bottom: calc(var(--gap) * 2);
}
#form .password {
	display: flex;
}
	#form .password .show-password {
		margin-left: auto;
		font-size: 90%;
		color: #666;
		font-weight: normal;
	}