main #form .report {
	display: flex;
	transition: opacity var(--transition-duration);
}
	main #form .report label {
		margin: 5px;
		min-width: 125px;
	}
		main #form .report input {
			margin: 0 !important;
		}

		main #form .save,
		main #form .delete {
			min-width: 60px !important;
			max-width: 60px;
		}
		main #dashboard-form .red {
			box-shadow: inset -15px 0 #f66;
		}

		main #form #format {
			max-width: inherit;
		}
			main #form #format .ace_editor {
				height: 250px;
				margin: 0;
			}

main h2.share-heading {
	margin: calc(var(--gap) * 2) 0;
}
main .dashboards {
	display: flex;
	flex-direction: column;
	color: #aaa;
}
	main .dashboards .parent {
		display: grid;
		grid-gap: 5px;
		margin-bottom: 10px;
	}
		main .dashboards .sub-dashboards {
			display: grid;
			grid-gap: 5px;
		}
		main .dashboards .sub-dashboards .child {
			padding: 0;
			margin: 0;
			box-shadow: none;
		}
			main .dashboards .sub-dashboards .first {
				margin-left: 20px;
			}
		main .dashboards .parent .first {
			grid-template-columns: 1fr 1fr repeat(2, 15px);
			display: grid;
			grid-gap: 10px;
			cursor: pointer;
			background: #fff;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
			padding: 10px;
		}
		main .dashboards .parent .first:hover .action {
			opacity: 1;
			color: #777;
		}
			main .dashboards .parent .name {
				letter-spacing: 0.5px;
				font-weight: bold;
				color: #777;
				align-items: center;
				display: flex;
			}
				main .dashboards .parent .name a {
					color: #777;
					margin: 0 5px;
				}
				main .dashboards .name i {
					color: var(--color-accent);
					font-size: 20px;
				}
			main .dashboards .parent .action {
				opacity: 0;
				transition: opacity var(--transition-duration);
			}