main {
	display: grid !important;
	grid-template-rows: 1fr max-content;
	grid-template-columns: 220px calc(100% - 220px);
}

header > .nav-toggle {
	display: none;
	padding: 15px 20px;
	color: var(--color-primary-text);
	transition: background var(--transition-duration);
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

header > .nav-toggle:hover {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transition: box-shadow var(--transition-duration);
}

header > .nav-toggle:active {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

main > nav {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	overflow-y: auto;
	z-index: 7;
	height: calc(100vh - 50px);
	border-right: 1px solid #ccc

}
	main > nav.show {
		transform: translateX(0px);
		opacity: 1;
	}
	main > nav .dashboard-search {
		box-shadow:  0 0 10px rgba(0, 0, 0, 0.15);
	}
		main > nav .dashboard-search input[type=search] {
			background: transparent;
			border: 0 !important;
			width: 100%;
			height: 35px !important;
			outline: none;
		}
	main > nav .collapse {
		margin-top: auto;
	}
		main > nav .collapse .name {
			color: #ccc;
			margin: 0 auto;
		}
		nav > .item .left span {
			padding: 0 5px;
		}
		nav > .item.list-open {
			box-shadow: inset 10px 0px 0 var(--color-accent);
		}
main > nav::-webkit-scrollbar {
	background: var(--color-secondary);
	width: 8px;
}
main > nav::-webkit-scrollbar-thumb {
	background: var(--color-accent);
}
main > nav::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
	main > nav .NA {
		text-align: center;
		padding: 20px;
	}
		main > nav .NA svg {
			font-size: 175%;
		}
	main > nav .label {
		display: flex;
		padding: 12px;
		align-items: center;
		border-radius: 0;
		font: inherit;
		vertical-align: inherit;
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration);
	}
	main > nav .label:hover {
		text-decoration: none;
		background: rgba(0, 0, 0, 0.2);
	}
	main > nav .label:active {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
	}
	main > nav .label.selected {
		background: rgba(0, 0, 0, 0.15);
		box-shadow: inset 6px 0px 0 var(--color-accent);
	}
		main > nav .submenu .label {
			padding-left: 40px;
		}
		main > nav .submenu .submenu .label {
			padding-left: 60px;
		}
		main > nav .submenu .submenu .submenu .label {
			padding-left: 90px;
		}
			main > nav .item .label .name {
				margin-left: 8px;
			}
			main > nav .item .label .angle {
				transition: transform var(--transition-duration);
				margin-left: auto;
			}
			main > nav .item .label .angle.down {
				transform: rotate(90deg);
			}
	main > nav footer {
		margin-top: auto;
	}
		.collapsed-grid .collapse-panel {
			display: flex;
			padding: 12px 0;
			justify-content: center;
			width: 100%;
		}
		main > nav footer .collapse-panel:hover {
			cursor: pointer;
			background: rgba(0, 0, 0, 0.15);
		}

main #reports.show {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
	padding: calc(var(--gap) * 2) calc(var(--gap) * 3);
	grid-template-rows: max-content max-content max-content;
}

main #reports > h1.dashboard-name {
	border: 0;
	font-size: 150%;
	border-bottom:  1px dashed #ccc;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	max-width: 100%;
    overflow: auto;
}
main #reports > h1.dashboard-name::-webkit-scrollbar {
	display: none;
}
	main #reports > h1.dashboard-name > span {
		display: grid;
		grid-auto-flow: column;
		grid-gap: calc(var(--gap) * 2);
	}
	main #reports > h1.dashboard-name > div {
			display: flex;
			opacity: 0;
			transition: opacity var(--transition-duration);
		}
		main #reports > h1.dashboard-name:hover > div {
			opacity: 1;
		}
			main #reports > h1.dashboard-name > div span {
				font-size: 70%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 25px;
				transition: background var(--transition-duration),
							color var(--transition-duration);
			}
			main #reports > h1.dashboard-name > div span:hover {
				background: var(--color-accent);
				color: var(--color-accent-text);
				cursor: pointer;
			}

main #reports > .toolbar {
	align-items: flex-end;
	background: transparent;
	padding: 0;
}
	main #reports > .toolbar input[name=date-range] {
		width: 250px;
		text-align: center;
		letter-spacing: 0.5px;
	}
	main #reports > .toolbar label select {
		max-width: 200px;
	}

main #mailto.selected {
	background: var(--color-accent);
	color: var(--color-accent-text);
	border-color: var(--color-accent);
}
main .mailto-content {
	background: #fff;
	align-items: end;
	margin-bottom: calc(var(--gap) * 2);
	position: sticky;
	top: 45px;
	z-index: 10;
	grid-template-columns: max-content max-content max-content max-content;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	grid-gap: calc(var(--gap) * 2);
}
main #reports > .global-filters {
	display: flex;
	z-index: 7;
	transition: transform var(--transition-duration),
				opacity var(--transition-duration);
}
main #reports > .global-filters.right {
	flex-direction: column;
	position: fixed;
	overflow: auto;
	opacity: 0;
	width: 260px;
	right: 0px;
	top: 50px;
	bottom: 0;
	background: #fff;
	padding: 0 calc(var(--gap) * 2);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	transform: translateX(260px);
}
main #reports > .global-filters.right.show {
	transform: translateX(0px);
	opacity: 1;
}
main #reports > .global-filters.top {
	flex-wrap: wrap;
	padding: 0 calc(var(--gap) * 2);
	align-items: flex-end;
	margin: 0 calc(var(--gap) * -3);
	position: sticky;
	top: 0;
	background: #eee;
	z-index: 5;
}
main #reports > .global-filters.top.scrolled {
	padding: calc(var(--gap) * 2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
	main #reports > .global-filters.top .head {
		display: none;
	}
	main #reports > .global-filters.top > * {
		margin: var(--gap);
	}
	main #reports > .global-filters.right > * {
		padding: var(--gap) 0;
		flex-shrink:  0;
	}
	main #reports > .global-filters > .head {
		width: 100%;
		display: flex;
		align-items: center;
	}
	main #reports > .global-filters > .heading {
		border-bottom: 1px solid #ddd;
		position: sticky;
		top: 0;
		background: #fff;
		z-index: 1;
		padding-top: var(--gap);
	}
		main #reports > .global-filters > .head label {
			grid-auto-flow: column;
			font-size: 90%;
			align-items: center;
		}
			main #reports > .global-filters > .head.heading input[type=search] {
				border: 0;
				width: 100%;
				outline: 0;
			}
			main #reports > .global-filters > .head.heading svg {
				color: #999;
			}
			main #reports > .global-filters > .head .reload {
				margin-left: auto;
				width: 30px;
				display: flex;
				justify-content: center;
			}
			main #reports > .global-filters > .head input[type=checkbox]:checked {
				color: var(--color-accent);
				border: 3px solid blue;
			}
			main #reports > .global-filters > .head .reload svg {
				margin: 0;
			}
	main #reports > .global-filters .dataset-container {
		max-width: 100%;
	}
		main #reports > .global-filters .dataset-container .other-dataset input {
			width: 100%;
			position: relative;
		}
	main #reports > .global-filters .no-results {
		text-align: center;
	}
	main #reports > .global-filters .filters {
		display: flex;
		flex-wrap: wrap;
	}
		main #reports > .global-filters .apply {
			background: var(--color-accent);
			color: var(--color-accent-text);
			border-color: var(--color-accent);
			letter-spacing: 1px;
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration),
						color var(--transition-duration);
		}
		main #reports > .global-filters .apply:hover {
			background: var(--color-accent-text);
			color: var(--color-accent);
			cursor: pointer;
		}
	main #reports > .global-filters.right .filters {
		flex-direction: column;
		padding-top: 0;
	}
		main #reports > .global-filters.right .filters > label {
			max-width: initial;
			margin: 8px 0;
		}
		main #reports > .global-filters.right .filters > label:last-child {
			position: sticky;
			bottom: 0;
		}
			main #reports > .global-filters.right .filters > label:last-child > span {
				display: none;
			}
		main #reports > .global-filters.right .filters .apply {
			font-size: 110%;
			height: auto;
		}
	main #reports > .global-filters.top .filters {
		margin: 0;
		padding: 0;
	}
		main #reports > .global-filters.top .filters > label {
			max-width: initial;
			margin: 0 var(--gap);
		}

main #reports > .list {
	display: grid;
	grid-template-columns: repeat(32, 1.25fr);
	grid-auto-rows: calc(50px - (var(--gap) * 4));
	grid-gap: calc(var(--gap) * 5);
	align-items: start;
	z-index: 4;
	width: 100%;
}
	main #reports > .list .NA.no-reports {
		grid-column: 1 / span all;
	}
	main #reports .list .data-source {
		grid-column: auto / span 16;
		grid-row: auto / span 2;
		transition: box-shadow var(--transition-duration),
					opacity var(--transition-duration),
					border var(--transition-duration);
	}
	main #reports .list .data-source header .edit {
		display: grid;
		grid-auto-flow: column;
		grid-gap: calc(var(--gap) * 2);
	}
	main #reports .list .data-source.being-dragged {
		opacity: 0.5;
	}
	main #reports .list .data-source.drag-enter {
		box-shadow: -6px 0px var(--color-accent);
	}

	main #reports .side {
		position: absolute;
		bottom: 18px;
		right: 18px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background: var(--color-accent);
		color: var(--color-accent-text);
		z-index: 6;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: right var(--transition-duration),
					background var(--transition-duration);
	}
	main #reports .side:hover {
		border: 1px solid #999;
	}
	main #reports .side.selected {
		border: 3px solid #fff;
		color: #fff;
	}
	main #reports .side.selected:focus {
		outline: 0;
	}
	main #reports .side.selected {
		right: 275px;
	}
		main #reports .side > svg {
			margin-right: 0px;
		}

	main #reports .list .data-source .resize.right {
		position: absolute;
		cursor: col-resize;
		width: 5px;
		height: 40px;
		right: 0;
		top: calc(50% - 20px);
		z-index: 10;
		border-right: 3px double #aaa;
	}
	main #reports .list .data-source .resize.bottom {
		position: absolute;
		cursor: row-resize;
		width: 40px;
		height: 5px;
		bottom: 0;
		left: calc(50% - 20px);
		z-index: 10;
		border-bottom: 3px double #aaa;
	}
	main .data-source.add-new {
		cursor: pointer;
		border: 3px dashed #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 500px;
		font-size: 200%;
		color: #999;
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration);
	}
	main .data-source.add-new:hover {
		background: #ddd;
	}
	main .data-source.add-new:active {
		box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.15);
	}
		main #reports .list.singleton {
			display: initial;
		}
		main .singleton .data-source .visualization {
			max-height: 500px;
		}
			main .singleton .data-source .visualization.spatial-map {
				max-height: calc(100vh - 190px);
			}
			main .singleton .data-source .visualization.table {
				max-height: calc(100vh - 200px);
			}

@media (max-width: 750px) {

	header .nav-toggle {
		display: flex;
	}

	main {
		grid-template-columns: 1fr;
	}
		main > nav {
			position: fixed;
			width: 220px;
			transform: translateX(-220px);
			top: 50px;
			left: 0;
			opacity: 0;
			background: #eee;
			border: 0;
			box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
			transition: transform var(--transition-duration),
						opacity var(--transition-duration);
		}

		main #reports {
			grid-column: 1 / 3;
			grid-row: 1;
		}

			main #reports > .list {
				display: flex;
				flex-direction: column;
			}
				main #reports > .list .data-source {
					margin: calc(var(--gap) * 2) 0;
					width: calc(100vw - calc(var(--gap) * 6));
					height: 300px;
				}
}

main .nav-blanket {
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	z-index: 6;
}

main #reports > .NA {
	text-align: center;
}
main #reports #blanket {
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	z-index: 5;
}
main table tbody tr .tag {
	background: var(--color-accent);
	color: var(--color-accent-text);
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 3px 8px;
	margin: 2px;
	border-radius: 2px;
	font-size: 80%;
}
main > footer {
	grid-column: 1 / -1;
	z-index: 5;
	display: flex;
	padding: calc(var(--gap) );
	justify-content: center;
	font-size: 80%;
	margin-top: auto;
	position: relative;
}
	main footer.site-footer .strong {
		color: #333;
		letter-spacing: 0.5px;
	}
	main footer > .env {
		position: absolute;
		right: 5px;
		white-space: nowrap;
		overflow: hidden;
	}
	main footer > .env:hover {
		width: initial;
	}
		main footer > .env .text {
			font-size: 90%;
			margin-right: 5px;
			display: none;
		}
		main footer > .env:hover .text {
			display: initial;
		}
