main {
	display: grid !important;
	grid-template-columns: 220px calc(100% - 220px);
}
main label {
	font-weight: normal;
}
main > nav {
	position: sticky;
	top: 0;
	background: var(--color-primary);
	color: var(--color-primary-text);
	overflow: hidden;
	height: calc(100vh - 50px);
}
main > nav:hover {
	overflow: auto;
}
main > nav::-webkit-scrollbar {
	background: var(--color-secondary);
	width: 8px;
}
main > nav::-webkit-scrollbar-thumb {
	background: var(--color-accent);
}
main > nav::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
	main > nav .NA {
		text-align: center;
		padding: 20px;
	}
		main > nav .NA svg {
			font-size: 175%;
		}
	main > nav .label {
		display: flex;
		padding: 12px;
		color: var(--color-primary-text);
		align-items: center;
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration);
		border-radius: 0;
		font: inherit;
		vertical-align: inherit;
	}
	main > nav .label:hover {
		background: var(--color-secondary);
		color: var(--color-secondary-text);
		text-decoration: none;
	}
	main > nav .label:active {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
	}
	main > nav .label.selected {
		background: var(--color-secondary);
		color: var(--color-secondary-text);
		box-shadow: inset 10px 0px 0 var(--color-accent);
	}
		main > nav .submenu .label {
			padding-left: 40px;
		}
		main > nav .submenu .submenu .label {
			padding-left: 60px;
		}
		main > nav .submenu .submenu .submenu .label {
			padding-left: 90px;
		}
			main > nav .item .label .name {
				margin: 0 auto 0 8px;
			}
			main > nav .item .label .angle {
				transition: transform var(--transition-duration);
			}
			main > nav .item .label .angle.down {
				transform: rotate(-90deg);
			}

main #reports > .list {
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-auto-rows: 250px;
	grid-column-gap: calc(var(--gap) * 2);
	grid-row-gap: calc(var(--gap) * 4);
	width: calc(100% - var(--gap) * 14);
	align-items: start;
}
	main #reports > .toolbar {
		margin: 0 0 calc(var(--gap) * 2);
		position: sticky;
		top: 0;
		/* z-index: 3; */
		align-items: flex-end;
	}
		main #reports > .toolbar input[name=date-range] {
			width: 250px;
			text-align: center;
			letter-spacing: 0.5px;
		}
		main #reports > .toolbar label select {
			max-width: 200px;
		}
		main #reports > .toolbar .date-range {
			order: 1;
			max-width: initial;
		}
		main #reports > .toolbar .edit-dashboard {
			order: 2;
		}
	main #reports .list .data-source {
		grid-column: auto / span 8;
		grid-row: auto / span 2;
		/*position: relative;*/
		transition: grid-column 300ms;
		transition: box-shadow var(--transition-duration),
					opacity var(--transition-duration),
					border var(--transition-duration);
	}
	main #reports .list .data-source.being-dragged {
		opacity: 0.5;
	}
	main #reports .list .data-source.drag-enter {
		box-shadow: -6px 0px var(--color-accent);
	}
	main #reports .list .data-source .resize.right {
		position: absolute;
		cursor: col-resize;
		width: 5px;
		height: 40px;
		right: 0;
		top: calc(50% - 20px);
		z-index: 10;
		border-right: 3px double #aaa;
	}
	main #reports .list .data-source .resize.bottom {
		position: absolute;
		cursor: row-resize;
		width: 40px;
		height: 5px;
		bottom: 0;
		left: calc(50% - 20px);
		z-index: 10;
		border-bottom: 3px double #aaa;
	}
	main .data-source.add-new {
		cursor: pointer;
		border: 3px dashed #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 500px;
		font-size: 200%;
		color: #999;
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration);
	}
	main .data-source.add-new:hover {
		background: #ddd;
	}
	main .data-source.add-new:active {
		box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.15);
	}
		main #reports .list.singleton {
			display: initial;
		}
		main .singleton .data-source .visualization {
			max-height: 50%;
		}
		main .singleton .data-source .visualization.table > .container {
			height: calc(100vh - 348px);
			max-height: calc(100vh - 348px);
		}
main #reports > .NA {
	text-align: center;
}

.daterangepicker .range_inputs {
	display: flex;
}
	.daterangepicker input {
		border-radius: 0 !important;
	}
	.daterangepicker button {
		color: #333 !important;
		border-radius: 0;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: 1px;
		font-size: 11px !important;
	}
	.daterangepicker .ranges li {
		border-radius: 0;
	}