main #form .report {
	display: flex;
	transition: opacity var(--transition-duration);
}
	main #form .report label {
		margin: 5px;
		min-width: 125px;
	}
		main #form .report input {
			margin: 0 !important;
		}

		main #form .save,
		main #form .delete {
			min-width: 60px !important;
			max-width: 60px;
		}
		main #form .red {
			box-shadow: inset -15px 0 #f66;
		}

		main #form #format {
			max-width: inherit;
		}
			main #form #format .ace_editor {
				height: 500px;
				margin: 0;
			}

main table tr td select {
	width: 30%;
	margin-left: 35%;
}

main table tr td button {

	border: none;
	margin-left: 15px;
}
main table tr td button > svg {

	margin-right: 0px;
}

main table tfoot td{

	position: sticky;
	bottom: 0;
	background: var(--color-row-hover)
}