* {
	-webkit-print-color-adjust: exact;
}
main {
	display: grid !important;
	grid-template-rows: 1fr max-content;
	grid-template-columns: 220px calc(100% - 220px);
}
body > header > .menu-toggle {
	display: none;
	padding: 15px 20px;
	color: var(--color-primary-text);
	transition: background var(--transition-duration);
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}
header > .menu-toggle:hover {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transition: box-shadow var(--transition-duration);
}
header > .menu-toggle:active {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}
main > nav {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 50px;
	overflow-y: auto;
	height: calc(100vh - 50px);
}
main > nav.show {
	transform: translateX(0px) !important;
	opacity: 1 !important;
	z-index: 6;
}
main > nav .dashboard-search {
	box-shadow:  0 0 10px rgba(0, 0, 0, 0.15);
	position: sticky;
	top: 0;
	background: var(--color-primary);
	color: var(--color-primary-text);
}
main > nav .dashboard-search input[type=search] {
	background: transparent;
	border: 0 !important;
	width: 100%;
	height: 35px !important;
	outline: none;
}
main > nav .collapse {
	margin-top: auto;
}
main > nav .collapse .name {
	color: #ccc;
	margin: 0 auto;
}
nav > .item .left span {
	padding: 0 5px;
}
nav > .item.list-open {
	box-shadow: inset 10px 0px 0 var(--color-secondary);
}

main > nav::-webkit-scrollbar {
	background: var(--color-surface);
	width: 8px;
	display: none;
}
main > nav:hover::-webkit-scrollbar {
	display: block;
}
main > nav::-webkit-scrollbar-thumb {
	background: var(--color-secondary);
}
main > nav::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
	main > nav .NA {
		text-align: center;
		padding: 20px;
	}
	main > nav .dashboard-hierarchy {
		display: flex;
		flex-direction: column;
		min-height: max-content;
		margin-bottom: 10px;
	}
	main > nav .label {
		display: flex;
		padding: 12px;
		align-items: center;
		border-radius: 0;
		font: inherit;
		vertical-align: inherit;
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration);
	}
	main > nav .label:hover {
		text-decoration: none;
		background: rgba(0, 0, 0, 0.2);
	}
	main > nav .label:active {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
	}
	main > nav .label.selected {
		background: rgba(0, 0, 0, 0.15);
		box-shadow: inset 6px 0px 0 var(--color-selected);
	}
		main > nav .submenu {
			display: flex;
			flex-direction: column;
		}
			main > nav .submenu .label {
				padding-left: 40px;
			}
			main > nav .submenu .submenu .label {
				padding-left: 60px;
			}
			main > nav .submenu .submenu .submenu .label {
				padding-left: 90px;
			}
				main > nav .item .label .name {
					margin-left: 8px;
				}
				main > nav .item .label .angle {
					margin-left: auto;
					opacity: 0;
					transition: transform var(--transition-duration),
								opacity var(--transition-duration);
				}
				main > nav .item .label:hover .angle {
					opacity: 1;
				}
				main > nav .item .label .angle.down {
					transform: rotate(90deg);
				}
	main > nav footer {
		margin-top: auto;
		display: flex;
		align-items: center;
		min-height: max-content;
	}
		main > nav footer .collapse-panel {
			padding: 10px;
		}
		main > nav footer .collapse-panel:hover {
			cursor: pointer;
			background: rgba(0, 0, 0, 0.15);
		}
main #reports {
	background: var(--color-background);
	color: var(--color-background-text);
}
main #reports.show {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
	padding: calc(var(--gap) * 2) calc(var(--gap) * 3);
	grid-template-rows: max-content max-content max-content;
	overflow: auto;
	margin: 0 calc(var(--gap) * 2);
}

main #reports > h1.dashboard-name {
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	overflow: auto;
}
main #reports > h1.dashboard-name::-webkit-scrollbar {
	display: none;
}
	main #reports > h1.dashboard-name > span {
		display: grid;
		grid-auto-flow: column;
		grid-gap: calc(var(--gap) * 2);
		white-space: nowrap;
	}
	main #reports > h1.dashboard-name > div {
			display: flex;
			opacity: 0;
			transition: opacity var(--transition-duration);
		}
		main #reports > h1.dashboard-name:hover > div {
			opacity: 1;
		}
			main #reports > h1.dashboard-name > div span {
				font-size: 70%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 25px;
				transition: background var(--transition-duration),
							color var(--transition-duration);
			}
			main #reports > h1.dashboard-name > div span:hover {
				background: var(--color-accent);
				color: var(--color-accent-text);
				cursor: pointer;
			}
			main #reports > h1.dashboard-name .full-screen {
				font-size: 80%;
				display: flex;
				align-items: center;
				cursor: pointer;
			}

main #reports > .toolbar {
	align-items: flex-end;
	background: transparent;
	padding: 0;
}
	main #reports > .toolbar input[name=date-range] {
		width: 250px;
		text-align: center;
		letter-spacing: 0.5px;
	}
	main #reports > .toolbar label select {
		max-width: 200px;
	}
	main #reports > .toolbar .download {
		position: relative;
	}
		main #reports > .toolbar .download .options {
			position: absolute;
			display: flex;
			flex-direction: column;
			background: var(--color-surface);
			width: 100%;
			z-index: 8;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		}
			main #reports > .toolbar .download .options .item {
				display: grid;
				grid-template-columns: 20px 1fr;
				grid-gap: calc(var(--gap) * 2);
				width: 100%;
				padding: calc(var(--gap) * 2);
				border: 0;
				font-size: 90%;
				align-items: center;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration),
							color var(--transition-duration);
			}
			main #reports > .toolbar .download .options .item:hover {
				background: var(--color-hover);
				cursor: pointer;
			}
			main #reports > .toolbar .download .options .item:active {
				box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
			}
				main #reports > .toolbar .download .options .item i {
					text-align: center;
					color: #888;
				}
				main #reports > .toolbar .download .options .item.pdf div {
					display: flex;
					align-items: center;
				}
					main #reports > .toolbar .download .options .item.pdf div .NA {
						font-size: 60%;
					}
				main #reports > .toolbar .download .options .item:hover i {
					color: var(--color-surface-text);
				}

main #mailto.selected {
	background: var(--color-accent);
	color: var(--color-accent-text);
	border-color: var(--color-accent);
}
main .mailto-content {
	background: #fff;
	align-items: end;
	margin-bottom: calc(var(--gap) * 2);
	position: sticky;
	top: 45px;
	z-index: 10;
	grid-template-columns: max-content max-content max-content max-content;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	grid-gap: calc(var(--gap) * 2);
}
main #reports > .global-filters {
	display: flex;
	z-index: 6;
	transition: transform var(--transition-duration),
				opacity var(--transition-duration);
}
main #reports > .global-filters.right {
	flex-direction: column;
	position: fixed;
	overflow: auto;
	opacity: 0;
	width: 260px;
	right: 0px;
	top: 50px;
	bottom: 0;
	background: var(--color-background);
	color: var(--color-background-text);
	padding: 0 calc(var(--gap) * 2);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
	transform: translateX(260px);
}
main #reports > .global-filters.right.show {
	transform: translateX(0px);
	opacity: 1;
}
main #reports > .global-filters.top {
	flex-wrap: wrap;
	padding: 0 calc(var(--gap) * 2);
	align-items: flex-end;
	margin: 0 calc(var(--gap) * -3);
	position: sticky;
	top: 50px;
	background: var(--color-background);
	color: var(--color-background-text);
	z-index: 4;
}
main #reports > .global-filters.top.scrolled {
	padding: calc(var(--gap) * 2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
	main #reports > .global-filters.top .head {
		display: none;
	}
	main #reports > .global-filters.top > * {
		margin: var(--gap);
	}
	main #reports > .global-filters.right > * {
		padding: var(--gap) 0;
		flex-shrink:  0;
	}
	main #reports > .global-filters > .head {
		width: 100%;
		display: flex;
		align-items: center;
	}
	main #reports > .global-filters > .heading {
		border-bottom: 1px solid var(--color-border);
		position: sticky;
		top: 0;
		background: var(--color-background);
		color: var(--color-background-text);
		z-index: 1;
		padding-top: var(--gap);
	}
		main #reports > .global-filters > .head label {
			grid-auto-flow: column;
			font-size: 90%;
			align-items: center;
		}
			main #reports > .global-filters > .head.heading input[type=search] {
				border: 0;
				width: 100%;
				outline: 0;
				background: var(--color-background);
				color: var(--color-background-text);
			}
			main #reports > .global-filters > .head.heading i {
				color: #999;
			}
			main #reports > .global-filters > .head .reload {
				margin-left: auto;
				width: 30px;
				display: flex;
				justify-content: center;
			}
			main #reports > .global-filters > .head input[type=checkbox]:checked {
				color: var(--color-secondary);
				border: 3px solid blue;
			}
			main #reports > .global-filters > .head .reload i {
				margin: 0;
			}
	main #reports > .global-filters .dataset-container {
		max-width: 100%;
	}
		main #reports > .global-filters .dataset-container .other-dataset input {
			width: 100%;
			position: relative;
		}
	main #reports > .global-filters .no-results {
		text-align: center;
	}
	main #reports > .global-filters .filters {
		display: flex;
		flex-wrap: wrap;
	}
	main #reports > .global-filters.right .filters {
		flex-direction: column;
		padding-top: 0;
	}
		main #reports > .global-filters.right .filters > label {
			max-width: initial;
			margin: 8px 0;
		}
		main #reports > .global-filters.right .filters > label:last-child {
			position: sticky;
			bottom: 0;
		}
			main #reports > .global-filters.right .filters .apply > span,
			main #reports > .global-filters.right .filters .reset-toggle > span {
				display: none;
			}
		main #reports > .global-filters.right .filters .apply {
			font-size: 110%;
			height: auto;
		}
	main #reports > .global-filters.top .filters {
		margin: 0;
		padding: 0;
	}
		main #reports > .global-filters.top .filters > label {
			max-width: initial;
			margin: 0 var(--gap);
		}

main #reports > .list {
	display: grid;
	grid-template-columns: repeat(32, 1.25fr);
	grid-auto-rows: calc(50px - (var(--gap) * 4));
	grid-gap: calc(var(--gap) * 4);
	padding-top: calc(var(--gap) * 2);
	align-items: start;
	z-index: 3;
	width: 100%;
}
main #reports > .list.editing {
	margin-bottom: 200px;
}
	main #reports > .list .NA.no-reports {
		grid-column: 1 / span all;
	}
	main #reports .list .data-source {
		grid-column: auto / span 16;
		grid-row: auto / span 2;
		transition: box-shadow var(--transition-duration),
					opacity var(--transition-duration),
					border var(--transition-duration);
	}
	main #reports .list .data-source.being-dragged {
		opacity: 0.5;
	}
	main #reports .list .data-source.drag-enter {
		box-shadow: -6px 0px var(--color-secondary);
	}

	main #reports .side {
		position: fixed;
		bottom: 18px;
		right: 18px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background: var(--color-secondary);
		color: var(--color-secondary-text);
		z-index: 6;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: right var(--transition-duration),
					background var(--transition-duration);
	}
	main #reports .side:hover {
		border: 1px solid #999;
	}
	main #reports .side.selected {
		border: 3px solid var(--color-surface);
		color: var(--color-surface);
	}
	main #reports .side.selected:focus {
		outline: 0;
	}
	main #reports .side.selected {
		right: 275px;
	}
		main #reports .side > i {
			margin-right: 0px;
		}
	main #reports .list .data-source .resize-dimentions {
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 5;
		color: #999;
		background: rgba(0, 0, 0, 0.05);
		padding: calc(var(--gap) * 2);
		font-size: 125%;
	}
	main #reports .list .data-source .resize {
		position: absolute;
		cursor: nwse-resize;
		width: 12px;
		height: 12px;
		bottom: 0;
		right: 0;
		z-index: 5;
		border: double var(--color-border);
		border-width: 0 3px 3px 0;
	}
	main .data-source.add-new {
		cursor: pointer;
		border: 3px dashed #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 500px;
		font-size: 200%;
		color: #999;
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration);
	}
	main .data-source.add-new:hover {
		background: #ddd;
	}
	main .data-source.add-new:active {
		box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.15);
	}
		main #reports .list.singleton {
			display: initial;
			grid-row: 1 / 4;
			padding: calc(var(--gap)) 0;
			height: calc(100vh - 70px);
		}
			main #reports .list.singleton .list {
				padding: var(--gap) 0;
			}
				main .singleton .data-source .visualization {
					max-height: 400px;
				}
				main .singleton .data-source .visualization.spatial-map {
					max-height: calc(100vh - 190px);
				}
				main .singleton .data-source .visualization.table {
					max-height: calc(100vh - 200px);
				}

@media (max-width: 1000px) {


	body > header {
		grid-template-columns: max-content 1fr max-content;
	}
		body > header .menu-toggle {
			display: flex;
		}

	main {
		grid-template-columns: 1fr;
	}
		main > nav {
			position: fixed;
			width: 220px;
			transform: translateX(-220px);
			top: 50px;
			left: 0;
			opacity: 0;
			color: var(--color-surface-text);
			background: var(--color-surface);
			border: 0;
			box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
			transition: transform var(--transition-duration),
						opacity var(--transition-duration);
		}
		main > nav .collapse-panel {
			display: none;
		}
		main #reports {
			grid-column: 1 / 3;
			grid-row: 1;
		}
			main #reports > .list {
				display: flex;
				flex-direction: column;
				padding: 0;
			}
				main #reports > .list .data-source {
					margin: calc(var(--gap) * 2) 0;
					width: calc(100vw - calc(var(--gap) * 6));
				}
				main #reports > .list.singleton .data-source {
					margin: 0;
				}
					main #reports > .list .visualization {
						height: 275px;
					}
					main #reports > .list .visualization.livenumber {
						height: 200px;
					}
					main #reports > .list .visualization.html {
						height: auto;
					}
}

body.floating header > .menu-toggle  {
	display: flex;
}
body.floating main  {
	grid-template-columns: 1fr;
}
	body.floating main > nav {
		position: fixed;
		width: 220px;
		transform: translateX(-220px);
		top: 50px;
		left: 0;
		opacity: 0;
		background: var(--color-surface);
		color: var(--color-surface-text);
		border: 0;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
		transition: transform var(--transition-duration),
		opacity var(--transition-duration);
	}

main .nav-blanket {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	z-index: 5;
}

main #reports > .NA {
	text-align: center;
}
main #reports #blanket {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	z-index: 5;
}
main table tbody tr .tag {
	background: var(--color-secondary);
	color: var(--color-secondary-text);
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 3px 8px;
	margin: 2px;
	border-radius: 2px;
	font-size: 80%;
}

main section#list .toolbar {
	justify-content: space-between;
}
	main section#list .block .visualisation-display {
		display: flex;
		flex-wrap: wrap;
	}
		main section#list .block .visualisation-display .visualization-name {
			margin: calc(var(--gap) * 2);
		}

.dialog-box .share-url {
	padding: calc(var(--gap) * 2);
	user-select: text;
}
	.dialog-box .share-url input {
		min-width: 100%;
	}