main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 300px;
}
	main .logo {
		width: 100%;
		background: var(--color-secondary);
		padding: 20px 50px;
		margin: var(--gap) 0;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	}
		main .logo img {
			width: 100%;
		}
	main .form {
		background: #fff;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		padding: 10px;
		margin: var(--gap) 0;
	}
		main .form label {
			max-width: initial;
		}
		main form div {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
			main form a {
				font-size: 12px;
				padding: 0 5px;
			}
			main form div input {
				width: auto;
			}