main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 300px;
}
	main .logo {
		width: 100%;
		background: var(--color-secondary);
		padding: 20px 50px;
		margin: var(--gap) 0;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	}
		main .logo img {
			width: 100%;
		}
	main form {
		display: grid;
		background: #fff;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		padding: 16px;
		margin: var(--gap) 0;
		width: 100%;
		grid-gap: calc(var(--gap) * 2);
	}
	input {
			width: 100%;
			padding: 8px 10px !important;
		}
		input[type=submit] {
			width: auto;
			margin-left: auto;
			letter-spacing: 1px;
		}
main form label{
	display: grid;
	grid-gap: var(--gap);
	font-size: 90%;
}
main form div {
	display: flex;
	align-items: center;
}
	main form a {
		font-size: 12px;
		padding: 0 5px;
	}
	main form div input {
		margin-left: auto;
	}