main section#profile {
	padding: calc(var(--gap) * 2);
	display: grid;
	grid-gap: calc(var(--gap) * 3);
}
main #profile h1 {
	border-bottom: 1px dashed black;
}
main #profile .profile-details,
main #profile .privileges,
main #profile .roles {
	background: #fff;
	display: grid;
	padding: calc(var(--gap) * 2);
	grid-gap: calc(var(--gap) * 3);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
	#profile .profile-details label,
	#profile .privileges label,
	#profile .roles label {
		display: grid;
		font-size: 14px;
		grid-template-columns: 100px 600px;
	}
		#profile .profile-details label span,
		#profile .privileges label span,
		#profile .roles label span {
			font-weight: bold;
			color: #708090;
		}
		#profile .profile-details label div,
		#profile .privileges label div,
		#profile .roles label div {

		}
main .privileges table,
main .roles table {
	width: 30%;
}