main {
	padding: calc(var(--gap) * 2);
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	max-width: 600px;
}
.angle-rotate {
	transform: rotate(90deg);
}
	main h1 {
		border-bottom: 1px dashed black;
		margin: 0 0 calc(var(--gap) * 2);
		display: flex;
		justify-content: space-between;
		font-size: 150%;
		padding: var(--gap) 0;
	}
		main h1 a {
			font-weight: normal;
			font-size: 60%;
			color: #333;
			align-items: center;
			width: 40px;
			display: flex;
			justify-content: space-between;
		}

	main #profile-info > svg {
		font-size: 150%;
		display: flex;
		margin: 50px auto;
	}
	main #profile-info h2 {
		border-bottom: 1px dashed black;
		margin: calc(var(--gap) * 2) 0;
		font-size: 110%;
	}
	main p {
		line-height: 20px;
		margin: calc(var(--gap) * 2) 0;
		border: 1px solid #ccc;
		padding: calc(var(--gap) * 2);
	}

main .profile-details,
main .privileges,
main .roles {
	background: #fff;
	table-layout: fixed;
	overflow: hidden;
}
main .profile-details {
	padding: var(--gap);
	user-select: text;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
	.profile-details label {
		display: grid;
		padding: var(--gap);
		font-size: 14px;
		grid-template-columns: 100px 600px;
	}
		.profile-details label span {
			font-weight: bold;
			color: #666;
		}

main .switch {
	margin: calc(var(--gap) * 2) 0;
}
main .switch section {
	padding: 0 !important;
	margin-top: calc(var(--gap) * 2);
}
	main .switch .heading-bar {
		display: flex;
		border-bottom: 1px solid #ccc;
	}
		main .switch #activity-info .NA {
			color: #999;
			margin-right: var(--gap);
		}
		main .heading-bar h3 {
			margin: 0;
			border: 0;
			font-size: 100%;
		}
		main .switch .heading-bar label {
			flex: 1;
			display: flex;
			justify-content: center;
			padding: calc(var(--gap) * 2);
			transition: box-shadow var(--transition-duration),
						background var(--transition-duration);
		}
		main .switch .heading-bar label.selected {
			box-shadow: inset 0px -6px 0px var(--color-accent) !important;
			margin-bottom: -1px;
		}
		main .switch .heading-bar label:hover {
			cursor: pointer;
			box-shadow: inset 0px -6px 0px #999;
			margin-bottom: -1px;
		}

main .sessions .list {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
}
	main .sessions .toolbar {
		background: #fff;
		padding: calc(var(--gap) * 2);
		margin: calc(var(--gap) * 2) 0;
	}
		main .sessions .toolbar h3 {
			margin: 0;
		}
	main article {
		background: #fff;
		overflow: hidden;
		display: flex;
		flex-direction:  column;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}
	main article.active > header::after {
		content: "";
		background: #9dec42;
		width: 6px;
		position: absolute;
		right: 0;
		height: 100%;
	}
	main article > header {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		z-index: 1;
	}
	main article header {
		display: grid;
		grid-template-columns: 50px 1fr;
		padding: calc(var(--gap) * 2);
		position: sticky;
		top: 0;
		background: #fff;
	}
		main header .icon,
		main .activities .icon {
			color: #999;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		main header .icon {
			font-size: 225%;
		}
		main header .activity-details {
			margin-left: auto;
		}
		main header .details,
		main .activities .details {
			display: grid;
			grid-gap: var(--gap);
		}
		main header:hover {
			cursor: pointer;
		}
			main header .details .title,
			main .activities .details .title {
				display: flex;
				align-items: center;
				font-size: 125%;
				color: #333;
			}
				main header .details .title span,
				main .activities .details .title span {
					margin-right: var(--gap);
				}
				main header .details .title .down {
					margin-left: auto;
					transition: transform var(--transition-duration);
				}
			main .activity-list {
				background: #efefef;
			}
			main .activities .details .extra-info,
			main .activities .details .extra-info,
			main header .details .device-info {
				display: flex;
				align-items: center;
				color: #999;
				font-size: 90%;
			}
				main .activities .details .extra-info span,
				main .activities .details .extra-info span {
					margin-right: var(--gap);
				}
	main article .activities {
		display: grid;
		max-height: 300px;
		overflow: auto;
		background-color: #fff;
	}
		main .activities .activity {
			display: grid;
			grid-template-columns: 50px 1fr;
			padding: calc(var(--gap) * 2);
			border-bottom: 1px solid #eee;
			font-size: 90%;
			transition: box-shadow var(--transition-duration),
						background var(--transition-duration);
		}
		main .activities .activity:hover {
			cursor: pointer;
		}
			main .activities .icon {
				font-size: 125%;
			}
			main .activities .details {
				display: grid;
				grid-gap: var(--gap);
			}
			main .activities .details .title {
				font-size: 110%;
				text-transform: capitalize;
			}
			main .activities .details .extra-info span:last-child,
			main .activities .details .extra-info span:last-child {
				margin-left: auto;
			}
		main .activity .NA {
			margin-left: var(--gap);
		}

main .activity-popup {
	padding: calc(var(--gap) * 2);
	display: grid;
	grid-template-columns: max-content 1fr;
}
	main .activity-popup .key {
		color: #999;
		text-transform: capitalize;
	}
	main .activity-popup .value {
		color: #666;
	}
	main .activity-popup .key,
	main .activity-popup .value {
		margin: var(--gap);
	}
 	main .activity-popup .sql,
 	main .activity-popup .json {
 		max-height: 150px;
 		overflow: auto;
 		background: #eee;
 		padding: 10px;
 	}
