main {
	padding: calc(var(--gap) * 2);
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	max-width: 600px;
}
	main h1 {
		border-bottom: 1px dashed black;
		margin: 0 0 calc(var(--gap) * 2);
		display: flex;
		justify-content: space-between;
		font-size: 150%;
		padding: var(--gap) 0;
	}
		main h1 a {
			font-weight: normal;
			font-size: 60%;
			color: #333;
			align-items: center;
			width: 40px;
			display: flex;
			justify-content: space-between;
		}
	main #profile-info h2 {
		border-bottom: 1px dashed black;
		margin: calc(var(--gap) * 2) 0;
		font-size: 110%;
	}
	main p {
		line-height: 20px;
		margin: calc(var(--gap) * 2) 0;
		border: 1px solid #ccc;
		padding: calc(var(--gap) * 2);
	}

main .profile-details,
main .privileges,
main .roles {
	background: #fff;
	table-layout: fixed;
	overflow: hidden;
}
main .profile-details {
	padding: var(--gap);
	user-select: text;
}
	.profile-details label {
		display: grid;
		padding: var(--gap);
		font-size: 14px;
		grid-template-columns: 100px 600px;
	}
		.profile-details label span {
			font-weight: bold;
			color: #666;
		}

main .switch {
	margin: calc(var(--gap) * 2) 0;
}
.angle-rotate {
	transform: rotate(90deg);
}
main .switch section {
	padding: 0 !important;
	margin-top: calc(var(--gap) * 2);
}
	main .switch .heading-bar {
		display: flex;
		border-bottom: 1px solid #ccc;
	}
		main .switch .NA {
			color: #999;
			margin-right: var(--gap);
			font-size: 80%;
		}
		main .heading-bar h3 {
			margin: 0;
			border: 0;
			font-size: 100%;
		}
		main .switch .heading-bar label {
			flex: 1;
			display: flex;
			justify-content: center;
			padding: var(--gap);
			transition: box-shadow var(--transition-duration),
						background var(--transition-duration);
		}
		main .switch .heading-bar label.selected {
			box-shadow: inset 0px -5px 0px var(--color-accent);
			margin-bottom: -1px;
		}
		main .switch .heading-bar label:hover {
			cursor: pointer;
		}

main .sessions-list .list {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
}
	main .sessions-list .sessions-toolbar {
		background: #fff;
		padding: calc(var(--gap) * 2);
		margin: calc(var(--gap) * 2) 0;
	}
		main .sessions-list .sessions-toolbar h3 {
			margin: 0;
		}
	main article {
		background: #fff;
		overflow: hidden;
		display: flex;
		flex-direction:  column;
	}
	main article.active {
		box-shadow: inset -10px 0 0px #02d40e;
	}
	main article header {
		display: grid;
		grid-template-columns: 50px 1fr;
		padding: calc(var(--gap) * 2);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		z-index: 1;
	}
		main header .icon,
		main .activities .icon {
			color: #999;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		main header .icon {
			font-size: 225%;
		}
		main header .details,
		main .activities .details {
			display: grid;
			grid-gap: var(--gap);
		}
			main header .details .title,
			main .activities .details .title {
				display: flex;
				align-items: center;
				padding: 0 calc(var(--gap) * 2);
				font-size: 125%;
				color: #333;
			}
				main header .details .title .down {
					margin-left: auto;
					transition: transform var(--transition-duration);
				}
			main .activities .details .extra-info,
			main .activities .details .extra-info,
			main header .details .device-info {
				display: flex;
				align-items: center;
				padding: 0 calc(var(--gap) * 2);
				color: #999;
				font-size: 90%;
			}
				main .activities .details .extra-info span,
				main .activities .details .extra-info span,
				main header .details .device-info label {
					margin-right: var(--gap);
				}
	main article .activities {
		display: grid;
		max-height: 300px;
		overflow: auto;
		background-color: #fff;
	}
		main .activities .activity {
			display: grid;
			grid-template-columns: 50px 1fr;
			padding: calc(var(--gap) * 2);
			transition: box-shadow var(--transition-duration),
						background var(--transition-duration);
			border-bottom: 1px solid #eee;
		}
		main .activities .activity:hover {
			cursor: pointer;
			background: #ddf;
		}
			main .activities .icon {
				font-size: 125%;
			}
			main .activities .details {
				display: grid;
				grid-gap: var(--gap);
			}
			main .activities .details .title {
				font-size: 110%;
			}
			main .activities .details .extra-info span:last-child,
			main .activities .details .extra-info span:last-child {
				margin-left: auto;
			}
