:root {
	--color-primary: #2a3f54;
	--color-primary-text: #fff;
	--color-secondary: #ddd;
	--color-secondary-text: #333;
	--color-accent:  #1abb9c;
	--color-accent-text: #fff;
	--color-row-hover: #ddf;
	--transition-duration: 300ms;
	--gap: 5px;
}
input:not([type=checkbox]):not([type=radio]),
select,
button {
	border: 1px solid #ccc;
	background: #fff;
}
body > header {
	background: #5f42b5;
}
body > header a.selected, body > header a:hover {
	background: rgba(255, 255, 255, 0.3);
}
body > header .logout.selected,
body > header .logout:hover {
	background: var(--color-accent);
}
main nav {
	background: var(--color-primary);
	color: var(--color-primary-text) !important;
}
main > nav a,
main > nav .label {
	color: var(--color-primary-text);
}
main > nav a:hover,
main > nav a.selected,
main > nav .label:hover,
main > nav .label.selected {
	background: rgba(0, 0, 0, 0.15);
	color: var(--color-primary-text);
}
main .data-source .visualization .tooltip {
    background: var(--color-primary);
    color: var(--color-primary-text);
}
	main .data-source .visualization .tooltip header {
		border-bottom: 1px solid var(--color-primary-text);
	}