main {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: calc(var(--gap) * 2);
	padding: 0 calc(var(--gap) * 2) calc(var(--gap) * 2);
}
main.preview-bottom {
	grid-template-rows: max-content calc(60vh - 155px) 40vh;
}
	main button.unsaved {
		background: #c33;
		color: #fff;
	}
	main section .toolbar {
		padding-top: 0;
	}
#stage-switcher {
	display: flex;
	background: #fff;
	min-height: 64px;
	grid-column: 1 / 4;
	grid-row: 1;
	border: 1px solid #ccc;
	border-top: 0;
	overflow: auto;
}
#stage-switcher::-webkit-scrollbar {
	display: none;
}
	#stage-switcher .stage {
		display: grid;
		grid-template-columns: auto auto;
		padding: calc(var(--gap) * 2);
		flex: 1;
		text-align: center;
		justify-content: center;
		border-left: 1px solid #ccc;
		cursor: pointer;
		position: relative;
		grid-row-gap: var(--gap);
		grid-column-gap: calc(var(--gap) * 2);
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration),
					color var(--transition-duration);
	}
	#stage-switcher .stage:first-child {
		border-left: 0;
	}
	#stage-switcher .stage:not(.disabled):not(.selected):hover {
		background: #ffe;
	}
	#stage-switcher .stage:not(.disabled):active {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
	}
	#stage-switcher .stage.selected {
		background: var(--color-selected);
		color: var(--color-selected-text);
	}
	#stage-switcher .stage.disabled {
		color: #ccc;
		cursor: default;
		background: #eee;
	}
		#stage-switcher .stage > .order {
			grid-row: 1 / 3;
			font-size: calc(14px + 0.6vw);
			color: #aaa;
			border: 1px solid #ccc;
			border-radius: 100px;
			width: calc(20px + 1.25vw);
			height: calc(20px + 1.25vw);
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;
			transition: color var(--transition-duration),
						border var(--transition-duration);
		}
		#stage-switcher .stage.selected > .order,
		#stage-switcher .stage:not(.disabled):hover > .order {
			border: 1px solid #999;
			color: #999;
		}
		#stage-switcher .stage.disabled > .order {
			color: #ccc;
		}
		#stage-switcher .stage > .title {
			font-size: 110%;
			align-self: end;
			white-space: nowrap;
			font-weight: bold;
		}
		#stage-switcher .stage > small {
			color: #999;
			transition: color var(--transition-duration);
		}
		#stage-switcher .stage:not(.disabled):hover {
			color: #666;
		}
		#stage-switcher .stage.disabled > small {
			color: #ccc;
		}

main .form {
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

#stages {
	display: flex;
	grid-column: 1 / 4;
	grid-row: 2;
}
main.preview-top #stages {
	grid-row: 3;
	height: 40vh;
}
main.preview-bottom #stages {
	grid-row: 2;
}
main.preview-right #stages {
	grid-column: 1;
	height: calc(100vh - 135px);
}
main.preview-left #stages {
	grid-column: 3;
	height: calc(100vh - 135px);
}
	#stages section.section.show {
		padding: 0;
		width: 100%;
	}

#stage-configure-report .toolbar {
	justify-content: space-between;
}
	#stage-configure-report #added-by {
		align-self: center;
	}
#stage-configure-report #configure-report-form {
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}
	#stage-configure-report #configure-report-form > .form {
		margin: 5px;
		flex: 1;
	}
#stage-configure-report > h2 {
	margin: calc(var(--gap) * 2) 0;
}

#stage-pick-report table {
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
	#stage-pick-report table thead tr th {
		position: sticky;
		top: 48px;
		cursor: pointer;
	}
	#stage-pick-report table thead tr.search th {
		padding: calc(var(--gap) * 2) var(--gap);
		top: 0;
		background: #fff;
	}
		#stage-pick-report table thead tr.search th input {
			width: 100%;
		}
	#stage-pick-report table tbody tr .tag {
		background: var(--color-accent);
		color: var(--color-accent-text);
		cursor: pointer;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		padding: 3px 8px;
		margin: 2px;
		border-radius: 2px;
		font-size: 80%;
	}

#stage-define-report.show {
	display: flex;
	flex-direction: column;
}
	#stage-define-report #api {
		grid-column: 1 / 3;
		display: grid;
		grid-row-gap: calc(var(--gap) * 2);
		padding: calc(var(--gap) * 2);
		border: 1px solid #ccc;
		background: #fff;
	}
		#stage-define-report #api label {
			max-width: initial;
		}

	#define-report-parts {
		display: flex;
		height: 100%;
	}
		#stage-define-report #schema {
			overflow: hidden;
			font-weight: normal;
			height: 100%;
			position: relative;
			display: flex;
			order: 1;
			flex: 1 300px;
			max-width: 300px;
			flex-direction: column;
			background: #fff;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			margin-right: calc(var(--gap) * 2);
		}
			#stage-define-report #schema .NA {
				text-align: center;
				padding: var(--gap);
			}
			#stage-define-report #schema input[type=search] {
				width: 100%;
				border: 0;
				border-bottom: 1px solid #ccc;
				background: #fff;
			}
			#stage-define-report #schema ul {
				padding: 0;
				list-style: none;
				margin: 0;
				overflow: auto;
			}
			#stage-define-report #schema ul ul {
				border-left: 1px dashed #999;
				padding-left: 10px;
				margin-left: 10px;
			}
				#stage-define-report #schema li {
					white-space: nowrap;
					position: relative
				}
				#stage-define-report #schema li:before {
					content: '–';
					position:absolute;
					color: #999;
					top: 5px;
					left: -10px;
				}
					#stage-define-report #schema li .name {
						display: grid;
						padding: 8px;
						transition: background var(--transition-duration),
									box-shadow var(--transition-duration);
						grid-template-columns: max-content auto max-content;
						grid-gap: var(--gap);
						max-width: 100%;
						overflow: hidden;
					}
					#stage-define-report #schema li .name:hover {
						background: rgba(0, 0, 0, 0.10);
					}
					#stage-define-report #schema li .name:active {
						box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4);
					}
					#stage-define-report #schema li.opened > .name {
						background: rgba(0, 0, 0, 0.10);
					}
						#stage-define-report #schema li .name span {
							overflow: hidden;
							text-overflow: ellipsis;
						}
						#stage-define-report #schema li .name small {
							margin-left: auto;
							color: #999;
						}

		#stage-define-report #define-report-form {
			order: 2;
			flex: 1 60%;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
		}
		#stage-define-report #define-report-form.form {
			height: max-content;
		}
			#stage-define-report #define-report-form .ace_editor {
				height: 100%;
			}
			#stage-define-report #define-report-form.form .mongo-query {
				max-width: 100%;
			}
				#stage-define-report #define-report-form.form .mongo-query .ace_editor {
					height: 50vh;
				}
		#stage-define-report .upload-file {
			order: 2;
			background: #fff;
			height: 100%;
			align-items: center;
			display: flex;
			flex-direction: column;
			color: #999;
			justify-content: center;
			cursor: pointer;
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration),
						color var(--transition-duration);
		}
		#stage-define-report .upload-file:hover {
			background: #ccc;
			color: #666;
		}
		#stage-define-report .upload-file:active {
			box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
		}
		#stage-define-report .upload-file.drag-over {
			background: #ccc;
		}
			#stage-define-report .upload-file h2 {
				font-weight: normal;
				font-size: calc(20px + 1vw);
				margin: 0;
				pointer-events: none;
			}
			#stage-define-report .upload-file small {
				font-size: calc(12px + 0.3vw);
				margin: var(--gap) 0;
				pointer-events: none;
			}
			#stage-define-report .upload-file .message {
				background: none;
				padding: 0;
				box-shadow: none;
				color: #666;
				font-size: calc(20px + 0.8vw);
				pointer-events: none;
			}
			#stage-define-report .upload-file .warning {
				color: #a00;
			}
			#stage-define-report .upload-file .notice {
				color: #191;
			}

		#stage-define-report #filters {
			order: 3;
			flex: 1 40%;
			margin-left: calc(var(--gap) * 2);
			overflow: auto;
		}
			#stage-define-report #filters #missing-filters {
				background: #fcc;
				padding: 16px;
				flex: 1;
				font-weight: normal;
				margin-bottom: calc(var(--gap) * 2);
			}
			#stage-define-report #filters .toolbar {
				position: sticky;
				top: 0;
				z-index: 1;
			}
			#stage-define-report #filters table,
			#stage-define-report #filters .form {
				background: #fff;
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			}
		#stage-define-report .edit-report-data {
			overflow: auto;
			width: 100%;
			border-top: 1px dashed #ccc;
			padding-top: calc(var(--gap) * 2);
		}
			#stage-define-report .edit-report-data table {
				background: #fff;
			}
				#stage-define-report .edit-report-data table thead th:not(.action) {
					cursor: pointer;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				#stage-define-report .edit-report-data table thead th:not(.action):hover {
					background: rgba(255, 255, 255, 0.3);
				}
				#stage-define-report .edit-report-data table thead th:not(.action):active {
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
				}
				#stage-define-report .edit-report-data table tfoot {
					text-align: center;
					border-top: 1px solid #999;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				#stage-define-report .edit-report-data table tfoot:hover {
					background: #ddd;
					cursor: pointer;
				}
				#stage-define-report .edit-report-data table tfoot:active {
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
				}

#stage-pick-visualization table {
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

#stage-configure-visualization.show {
	display: grid;
	grid-template-rows: repeat(4, max-content);
	overflow: auto;
}
	#stage-configure-visualization .toolbar {
		padding: 0;
		position: sticky;
		top: 0;
		z-index: 2;
	}
	#stage-configure-visualization .toolbar .right {
		margin-left: auto;
	}
	#stage-configure-visualization h3 {
		color: #444;
		border-bottom: 1px dashed #999;
		cursor: pointer;
		position: sticky;
		top: 28px;
		padding: var(--gap);
		margin: var(--gap) 0 calc(var(--gap) * 2);
		display: flex;
		align-items: center;
		font-size: 100%;
		font-weight: normal;
		z-index: 1;
		background: #fff;
		transition: color var(--transition-duration);
	}
	#stage-configure-visualization h3:hover {
		color: inherit;
	}
		#stage-configure-visualization h3 > svg {
			margin-right: var(--gap);
			width: 10px;
			transition: margin-right var(--transition-duration);
		}
		#stage-configure-visualization h3:hover > svg {
			margin-right: calc(var(--gap) * 2);
		}
	#stage-configure-visualization h4 {
		margin: 0 0 calc(var(--gap) * 2)
	}
	#stage-configure-visualization fieldset {
		border: 1px solid #ccc;
		background: #eef;
		padding: calc(var(--gap) * 2);
		margin: 0;
		border-radius: 3px;
	}
		#stage-configure-visualization fieldset legend {
			font-size: 90%;
			border: 1px solid #ccc;
			padding: 2px 8px;
			border-radius: 5px;
			color: #888;
			background: #fff;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		}
	#stage-configure-visualization .subform {
		border-bottom: 1px solid #ccc;
		display: grid;
		grid-gap: calc(var(--gap) * 2);
		padding: calc(var(--gap) * 2);
		border: 1px solid #ccc;
		background: #eef;
		box-shadow: none;
		border-radius: 3px;
	}

	#stage-configure-visualization .axes {
	}
		#stage-configure-visualization .axes .form {
			background: transparent;
			padding: 0;
		}
		#stage-configure-visualization .axes .add-axis .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			grid-gap: calc(var(--gap) * 2);
		}
	#stage-configure-visualization #configure-visualization-form {
		display: flex;
		flex-direction: column;
	}
	#stage-configure-visualization .liner-visualization-options {
		display: flex;
		flex-direction: column;
	}
	#stage-configure-visualization #transformations-preview {
		height: 15px;
		margin-left: auto;
		display: flex;
		align-items: center;
		padding: 0 10px;
		font-size: 70%;
	}
		#stage-configure-visualization #transformations-preview svg {
			margin: 0;
		}
	#stage-configure-visualization #transformations {
	}
		#stage-configure-visualization #transformations .transformation {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: calc(var(--gap) * 2);
			align-items: flex-start;
		}
			#stage-configure-visualization #transformations .transformation > div {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: calc(var(--gap) * 2);
			}
				#stage-configure-visualization #transformations .transformation h4 {
					margin: 0;
					border-bottom: 1px dashed #ccc;
					padding-bottom: var(--gap);
					font-size: 90%;
				}
		#stage-configure-visualization #transformations .add-transformation .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			background: transparent;
			padding: 0;
			grid-gap: calc(var(--gap) * 2);
		}
		#stage-configure-visualization #transformations .transformation .row,
		#stage-configure-visualization #transformations .transformation .column,
		#stage-configure-visualization #transformations .transformation .value {
			display: grid;
			grid-auto-flow: column;
			grid-gap: calc(var(--gap) * 2);
		}
		#stage-configure-visualization #transformations .transformation button {
			white-space: nowrap;
		}
		#stage-configure-visualization #transformations .transformation .row button svg,
		#stage-configure-visualization #transformations .transformation .column button svg,
		#stage-configure-visualization #transformations .transformation .value button svg {
			margin: 0;
		}
	#stage-configure-visualization #dashboards {
	}
		#stage-configure-visualization #dashboards .form {
			grid-template-columns: repeat(5, max-content);
			grid-gap: calc(var(--gap) * 2);
		}
		#stage-configure-visualization #dashboards .add-dashboard .form {
			grid-template-columns: repeat(3, max-content);
			background: transparent;
			padding: 0;
		}
		#stage-configure-visualization #dashboards .delete:hover {
			background: #c33;
			border-color: transparent;
		}
			#stage-configure-visualization #dashboards .delete > svg,
			#stage-configure-visualization #dashboards .view-dashboard > svg {
				margin: 0;
			}
		#stage-configure-visualization #dashboards select {
			width: 100%;
		}

	#stage-configure-visualization #filters {
	}
		#stage-configure-visualization #filters .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			background: transparent;
			grid-gap: calc(var(--gap) * 2);
			padding: 0;
		}
		#stage-configure-visualization #filters .delete:hover {
			border-color: transparent;
			background: #c33;
		}
			#stage-configure-visualization #filters .delete > svg {
				margin: 0;
			}

	#stage-configure-visualization .configuration-section > h3 .count {
		color: #bbb;
		font-size: 90%;
		margin-left: auto;
		font-weight: normal;
		letter-spacing: 0.25px;
	}
	#stage-configure-visualization .configuration-section > h3 .count.transformation {
		margin-left: 3px;
	}
	#stage-configure-visualization .configuration-section .form {
		box-shadow: none;
	}
		#stage-configure-visualization .configuration-section .form label span {
			display: flex;
			align-items: center;
		}
		#stage-configure-visualization .configuration-section .body {
			display: grid;
			grid-gap: calc(var(--gap) * 2);
			padding: 0 calc(var(--gap) * 2) calc(var(--gap) * 2) 0;
		}
			#stage-configure-visualization .configuration-section .body > .NA {
				background: #efefef;
				border: 1px solid #ccc;
				padding: calc(var(--gap) * 2);
			}

#add-visualization-picker {
	grid-column: 1 / 3;
}
#add-visualization-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	#add-visualization-form figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 350px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		transform: perspective(500px) translatez(0);
		transition: box-shadow var(--transition-duration),
					transform var(--transition-duration);
	}

	#add-visualization-form figure:hover {
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
		transform: perspective(500px) translatez(30px);
	}
		#add-visualization-form img {
			height: auto;
			width: 100%;
			margin-bottom: var(--gap);
			background: #fff;
		}
		#add-visualization-form figcaption {
			background: #ddf;
			width: 100%;
			padding: 5px;
			text-align: center;
			transition: background var(--transition-duration);
		}
		#add-visualization-form figure.selected figcaption {
			background: var(--color-selected);
			color: var(--color-selected-text);
		}

main.preview-top #preview {
	grid-column: 1 / 4;
	grid-row: 2;
	height: 40vh;
}
main.preview-bottom #preview {
	height: 40vh;
	grid-column: 1 / 4;
}
main.preview-right #preview {
	grid-column: 2 / 4;
	grid-row: 2;
	height: calc(100vh - 135px);
}
main.preview-left #preview {
	grid-column: 1 / 3;
	grid-row: 2;
	height: calc(100vh - 135px);
}
	#preview .unsaved .container {
		background: #fcc;
	}
	#preview .data-source {
		max-height: 600px;
	}