main .dataset {
	position: relative;
	width: 100%;
}
	main .dataset input[type=search],
	main .dataset input[type=date] {
		width: 100%;
	}
	main .dataset .options {
		border-top: 0;
	}
		main .dataset label {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			padding: calc(var(--gap) * 1.5);
			margin: 0;
			max-width: 100%;
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		main .dataset label:hover {
			background: #ddd;
		}
		main .dataset label:active {
			box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
		}
		main .dataset .options label.selected,
		main .dataset .options label.selected:hover {
			background: var(--color-selected);
			color: var(--color-selected-text);
		}
			main .dataset label input {
				margin: 0;
			}

.data-source {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}
	.data-source > .warning {
		margin: 0;
		overflow: auto;
		user-select: text;
		font-family: inherit;
		background: rgba(0, 0, 0, 0.15);
		box-shadow: none;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 6px 6px 0 0;
	}
		.data-source > .warning h2 {
			font-size: calc(15px + 0.8vw);
			font-weight: normal;
			margin: 10px 0;
		}
		.data-source > .warning span {
			font-size: calc(10px + 0.3vw);
			color: var(--color-grey);
		}
		.data-source > .warning.retry:hover {
			cursor: pointer;
			background: rgba(255, 0, 0, 0.15);
		}
		.data-source > .warning.retry:active {
			box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.15);
		}
	.singleton .data-source > header {
		z-index: 7;
	}
	.data-source > header {
		display: flex;
		align-items: center;
		white-space: nowrap;
		z-index: 5;
	}
	.data-source > header::-webkit-scrollbar {
		display: none;
	}
		.data-source > header > .right {
			margin-left: auto;
		}
		.data-source > header h2 {
			font-size: 100%;
			font-weight: normal;
			white-space: nowrap;
			line-height: inherit;
			user-select: text;
			margin: 0 0 -22px 15px;
			padding: 6px 10px 6px 15px;
			background: var(--color-secondary);
			color: var(--color-secondary-text);
			border-radius: 4px;
			letter-spacing: 0.5px;
			overflow: auto;
			cursor: default;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		}
		.data-source > header h2::-webkit-scrollbar {
			display: none;
		}
			.data-source > header i {
				margin-left: 5px;
				color: var(--color-secondary-text);
			}
		.data-source > header .actions {
			height: 22px;
		}
			.data-source > header .actions > * {
				font-size: 85%;
				padding: 4px 6px;
				width: 24px;
				display: inline-block;
				text-align: center;
				color: #999;
			}
			.data-source > header .actions .card-info {
				cursor: pointer;
				padding: 4px 0;
				width: 12px;
			}
			.data-source > header .grey {
				color: #999;
			}
	.data-source .toolbar {
		background: transparent;
		padding: 0 var(--gap);
		margin: calc(var(--gap) * 2) 0;
		font-size: 95%;
		display: flex;
	}
	.data-source .toolbar::-webkit-scrollbar {
		display: none;
	}
		.data-source .toolbar > * {
			margin: var(--gap);
		}
			.data-source .toolbar .right {
				order: 2000;
			}
		.data-source .menu-toggle.selected {
			background: var(--color-secondary);
			color: var(--color-secondary-text);
			border-color: var(--color-secondary);
		}
		.singleton .data-source .menu-toggle {
			display: none;
		}

	.data-source > .menu {
		position: absolute;
		top: 25px;
		background: var(--color-surface);
		color: var(--color-surface-text);
		z-index: 6;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		width: 150px;
		font-size: 90%;
		flex-wrap: wrap;
	}
	.singleton .data-source > .menu {
		position: static;
		flex-direction: row;
		width: 100%;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		border-radius: 0;
		border-top: 20px solid var(--color-surface);
	}
		.data-source > .menu .item {
			position: relative;
		}
			.data-source > .menu .item .submenu {
				display: none;
				flex-direction: column;
				width: max-content;
				min-width: 150px;
				position: absolute;
				right: 100%;
				top: 0;
				z-index: 7;
				background: var(--color-surface);
				color: var(--color-surface-text);
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			}
			.data-source > .menu .item:hover > .submenu {
				display: flex;
			}
			.singleton .data-source > .menu > .item > .submenu {
				top: 100%;
				right: 0;
			}
			.data-source > .menu .label {
				display: grid;
				padding: calc(var(--gap) * 2);
				grid-template-columns: 20px 1fr;
				grid-gap: calc(var(--gap) * 2);
				align-items: center;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration),
							color var(--transition-duration);
			}
			.singleton .data-source > .menu .label {
				padding: 8px calc(var(--gap) * 2);
			}
			.data-source > .menu a.label {
				color: inherit;
			}
			.data-source > .menu a.label:hover {
				text-decoration: none;
			}
			.data-source > .menu .item:hover > .label {
				background: var(--color-hover);
				color: var(--color-hover-text);
				cursor: pointer;
			}
			.data-source > .menu .item.selected > .label {
				background: rgba(0, 0, 0, 0.2);
				color: var(--color-selected-text);
				box-shadow: inset 5px 0px 0 0px var(--color-selected);
			}
			.data-source > .menu .label:active {
				box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
			}
				.data-source > .menu .label .no-icon {
					grid-column: 1 / 3;
				}
				.data-source > .menu .label i {
					text-align: center;
					color: #888;
				}
				.data-source > .menu .item:hover > .label .NA,
				.data-source > .menu .item:hover > .label i {
					color: var(--color-surface-text);
				}
				.data-source > .menu .item.selected > .label .NA,
				.data-source > .menu .item.selected > .label i {
					color: #666;
				}

	.data-source > .overlay {
		background: rgba(255, 255, 255, 0.1);
		position: absolute;
		border-radius: 6px 6px 0 0;
		padding-top: 15px;
		bottom: 0;
		top: 22px;
		z-index: 2;
		left: 0;
		right: 0;
		max-height: 100%;
		overflow: auto;
	}
	.singleton .data-source > .overlay {
		top: 74px;
	}
		.data-source > .overlay > .close {
			cursor: pointer;
			font-size: 175%;
			color: var(--color-surface-text);
			position: absolute;
			top: 10px;
			right: 15px;
			transition: color var(--transition-duration);
		}
		.data-source > .overlay > .close:hover {
			color: var(--color-hover-text);
		}

	.data-source .toolbar.filters {
		padding: 25px calc(var(--gap) * 2) calc(var(--gap) * 2);
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.data-source > .description {
		display: flex;
		flex-direction: column;
	}
		.data-source > .description .body {
			white-space: pre-wrap;
			padding: calc(var(--gap) * 2);
		}
			.data-source > .description .body h3 {
				margin: calc(var(--gap) * 2) 0 var(--gap);
				color: #999;
				font-size: 80%;
			}
			.data-source > .description .body h3:first-child {
				margin-top: 0;
			}
		.data-source > .description .footer {
			border-top: 1px dashed var(--color-border);
			padding: 10px;
			font-size: 90%;
			display: grid;
			margin-top:  auto;
			background: rgba(255, 255, 255, 0.1);
			grid-auto-flow: column;
			grid-gap: 20px;
			overflow: auto;
			justify-content: flex-start;
		}
			.data-source > .description .footer > * {
				display: flex;
				flex-direction: column;
				white-space: nowrap;
			}
			.data-source > .description .footer > *:last-child {
				margin-right: 0;
			}
			.data-source > .description .footer .right {
				margin-left: auto;
			}
			.data-source > .description .footer a {
				cursor: pointer;
			}
			.data-source > .description .footer .visible-to .count:hover {
				text-decoration: underline;
				cursor: pointer;
			}
			.data-source > .description .footer .label {
				font-size: 100%;
				color: var(--color-grey);
			}
			.dialog-box.api-documentation {
				max-width: 50%;
			}
				.dialog-box.api-documentation .body {
					display: grid;
					padding: calc(var(--gap) * 2);
					grid-gap: 10px;
				}
					.dialog-box.api-documentation .body h4 {
						margin-bottom: 0;
					}
					.dialog-box.api-documentation .body h4:first-child {
						margin: 0;
					}
					.dialog-box.api-documentation .body h4 + p {
						margin: 0;
						color: var(--color-grey);
					}
					.dialog-box.api-documentation .body table {
						font-size: 95%;
						box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
						user-select: text;
						background: var(--color-surface);
						color: var(--color-surface-text);
					}
					.dialog-box.api-documentation .body .url {
						padding: calc(var(--gap) * 2);
						background: var(--color-surface);
						color: var(--color-surface-text);
						font-size: 95%;
						user-select: text;
						overflow: auto;
						margin: 0;
					}
	.data-source > .query {
		padding: 25px calc(var(--gap) * 2) calc(var(--gap) * 2);
		user-select: text;
		white-space: pre;
		display: flex;
		flex-direction: column;
	}

	.data-source > .share-link {
		background: #fff;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		padding: 10px;
		margin-top: calc(var(--gap) * 2);
	}
		.data-source > .share-link input {
			width: 100%;
		}
	.data-source > .drilldown {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(0, auto));
		justify-content: flex-start;
		grid-gap: calc(var(--gap) * 2);
		align-items: center;
		padding: calc(var(--gap) * 2);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		border-top: 15px solid var(--color-surface);
		background: var(--color-surface);
	}
		.data-source > .drilldown a {
			padding: var(--gap) calc(var(--gap) * 2);
			border: 1px solid transparent;
			transition: border var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		.data-source > .drilldown a:hover {
			text-decoration: none;
			border-color: var(--color-border);
		}
		.data-source > .drilldown a:active {
			box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
		}
	.data-source > .columns {
		display: flex;
		width: 100%;
		overflow: auto;
		order: 1;
		padding: 0 var(--gap);
		height: 37px;
		transition: filter var(--transition-duration);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		background: var(--color-surface);
		color: var(--color-surface-text);
		z-index: 1;
	}
	.data-source > .columns.blur {
		filter: blur(6px);
	}
	.data-source > .columns.over-flow::after {
		background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.15));
		content: "\00a0\00a0\00a0\00a0\00a0";
		margin-left: auto;
		width: 10px;
		right: 0;
		height: inherit;
		position: absolute;
	}
	.data-source > .columns::-webkit-scrollbar {
		display: none;
	}
		.data-source > .columns .column {
			display: flex;
			position: relative;
			margin-right: var(--gap);
			transition: opacity var(--transition-duration);
		}
		.data-source > .columns .column.disabled > span,
		.data-source > .columns .column.disabled > button {
			background: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(0,0,0,.3) 0px, rgba(0,0,05,.3) 8px);
			opacity: 0.6;
		}
		.data-source > .columns .column.drag-enter:before {
			content: "";
			position: absolute;
			left: -6.5px;
			top: 0;
			bottom: 0;
			background: blue;
			width: 2px;
		}
		.data-source .column.filtered {
			background: #ff9;
		}
		.data-source .column.error {
			background: #fcc;
		}
			.data-source > .columns.being-dragged .column * {
				pointer-events: none;
			}
			.data-source .column > .label {
				display: flex;
				cursor: pointer;
				align-items: center;
				white-space: nowrap;
				padding: 8px 5px;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration);
			}
			.data-source > .columns .column.being-dragged > .label {
				border: 1px blue dashed;
				opacity: 0.5;
			}
			.data-source .column > .label:hover {
				background: rgba(0, 0, 0, 0.2);
			}
			.data-source .column > .label:active {
				box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
			}
				.data-source .column > .label .color {
					border-radius: 10px;
					width: 20px;
					height: 20px;
					margin-left: var(--gap);
					display: flex;
					justify-content: center;
					align-items: center;
					-webkit-text-stroke-width: 0.5px;
					-webkit-text-stroke-color: #fff;
					text-stroke-width: 0.5px;
					text-stroke-color: #fff;
					font-weight: bold;
					font-size: 110%;
				}
				.data-source .column > .label .name {
					padding: 0px 5px;
					display: flex;
					flex: 1;
					font-size: 85%;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				.data-source .column > .label .edit-column {
					opacity: 0;
					padding: 0 var(--gap);
					font-size: 118%;
					font-weight: bold;
					border-left: 1px solid transparent;
					transition: opacity var(--transition-duration),
								border var(--transition-duration);
				}
				.data-source .column > .label .edit-column:hover {
					text-decoration: none;
				}
				.data-source .column > .label:hover .edit-column {
					opacity: 1;
				}
					.data-source .column form h3,
					.dialog-box form h3 {
						margin: 0;
						padding: 10px;
						background: var(--color-primary);
						color: var(--color-primary-text);
						position: sticky;
						top: 0px;
						font-weight: normal;
						font-size: 100%;
						z-index: 1;
					}
					.data-source .column form label {
						margin: 0 calc(var(--gap) * 2);
					}
					.data-source .column form label.drilldown-dropdown {
						max-width: 100%;
					}
						.data-source .column form .category-group {
							grid-template-columns: auto 200px;
							display: grid;
							grid-gap: calc(var(--gap));
						}
							.data-source .column form .category-group input {
								flex: 1;
								margin-left: calc(var(--gap) * 2);
								width: calc(100% - 20px);
							}
						.data-source .column form input {
							transition: background var(--transition-duration);
						}
						.data-source .column form input[type=color] {
							width: 200px;
							background: transparent;
							padding: 0;
						}
						.data-source .column form input.error {
							background: rgba(255, 0, 0, 0.25);
						}
						.data-source .column form small {
							margin-top: 5px;
							color: #999;
							font-weight: normal;
							display: none;
						}
						.data-source .column form .parameter-list .NA {
							padding: 0 calc(var(--gap) * 2);
						}
	.data-source .visualization {
		position: relative;
		flex: 1;
		transition: filter var(--transition-duration);
		overflow: auto;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		background: var(--color-surface);
		color: var(--color-surface-text);
		border-radius: 6px 6px 0 0;
		border-top: 10px var(--color-surface) solid;
	}
	.singleton .data-source > .visualization {
		border-radius: 0;
		border-top: 0;
	}

	.data-source:not(.flush) .visualization:hover {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}
	.data-source.flush .visualization {
		box-shadow: none;
		background: var(--color-background);
		color: var(--color-background-text);
		border-radius: 0;
		border: 0;
	}

	.data-source .visualization.blur {
		filter: blur(6px);
	}
		.data-source .visualization .NA {
			padding: 8px 16px;
		}
		.data-source .visualization .container {
			width: 100%;
			overflow: auto;
			margin: 0;
			padding: 0;
			height: 100%;
		}
		.data-source .visualization.table .container {
			overflow: initial;
		}
			.data-source .visualization.table .container td.json {
				color: #666;
				padding: 4px;
				user-select: none;
				transition: background var(--transition-duration);
			}
			.data-source .visualization.table .container td.json:hover {
				cursor: pointer;
				background: #ccf;
			}
			.data-source .visualization.table .container td.json:active {
				box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
			}
				.data-source .visualization.table .container .code-editor {
					margin: 0;
					height: 250px;
				}
				.data-source .visualization.table .container td.json .close {
					color: rgba(0, 0, 0, 0.5);
					position: absolute;
					cursor: pointer;
					top: 8px;
					z-index: 2;
					right: 18px;
					opacity: 0;
					padding: 2px 4px;
					transition: opacity var(--transition-duration),
								color var(--transition-duration);
				}
				.data-source .visualization.table .container td.json > div:hover .close {
					opacity: 1;
				}
				.data-source .visualization.table .container td.json .close:hover {
					color: #333;
					opacity: 1;
				}
			.visualization > .container > .loading {
				display: flex;
				align-items: center;
				height: 100%;
				font-size: 250%;
				color: #999;
				margin: 0 auto;
				justify-content: center;
			}

		.data-source .visualization .tooltip {
			background: var(--color-primary);
			color: var(--color-primary-text);
			box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
			position: absolute;
			font-size: 90%;
			opacity: 1;
			transition: left 100ms,
						top 100ms;
		}
			.data-source .visualization .tooltip header {
				padding: var(--gap) calc(var(--gap) * 2);
				border-bottom: 1px solid var(--color-border);
				display: flex;
			}
			.data-source .visualization .tooltip footer {
				padding: var(--gap) calc(var(--gap) * 2);
				border-top: 1px dashed #999;
				display: grid;
				grid-template-columns: auto 1fr;
				grid-column-gap: var(--gap);
			}
			.data-source .visualization .tooltip .body {
				list-style: none;
				margin: 0;
				padding: var(--gap);
				display: grid;
				grid-template-columns: 100%;
				background: rgba(255, 255, 255, 0.1);
			}
				.data-source .visualization .tooltip li {
					display: grid;
					grid-template-columns: 16px auto 1fr;
					grid-column-gap: var(--gap);
					align-items: center;
					padding: var(--gap);
				}
				.data-source .visualization .tooltip li.hover {
					background: var(--color-hover);
					color: var(--color-hover-text);
				}
					.data-source .visualization .tooltip .circle {
						width: 80%;
						border-radius: 8px;
						display: inline-block;
						height: 80%;
					}
					.data-source .visualization .tooltip .value {
						text-align: right;
						margin-left: 10px;
					}

		.data-source .visualization.json {
			background: #272822;
		}
			.data-source .visualization.json .ace_editor {
				height: 100%;
			}
		.data-source .visualization.table {
			overflow: auto;
			width: initial;
			max-width: initial;
			user-select: text;
		}
			.visualization.table table {
				caption-side: bottom;
				background: var(--color-surface);
				color: var(--color-surface-text);
				margin-bottom: 25px;
			}
			.visualization.table thead tr th.heading {
				padding-right: 0;
				background: var(--color-primary);
				color: var(--color-primary-text);
			}
			.visualization.table thead tr th.heading > div {
				display: flex;
			}
			.visualization.table thead .heading .compact > *:not(.show) {
				display: none !important;
			}
			.visualization.table thead .heading .filter-popup {
				width: 15px;
				font-size: 60%;
				transform: rotate(45deg);
				margin-right: 5px;
			}
				.visualization.table thead .heading .filter-popup > span {
					opacity: 0;
					transition: opacity var(--transition-duration);
				}
				.visualization.table thead .heading:hover .filter-popup > span,
				.visualization.table thead .heading .filter-popup > span.open {
					opacity: 1;
				}
				.visualization.table thead .heading.has-filter {
					box-shadow: inset 0px -4px 0px 0px var(--color-accent);
				}
				.visualization.table thead .heading .popup-dropdown {
					position: absolute;
					top: 100%;
					left: 0;
					min-width: 300px;
					text-align: initial;
					padding-top: calc(var(--gap) * 2);
					background: var(--color-background);
					color: var(--color-background-text);
					box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
					max-width: 500px;
				}
			.visualization.table thead td {
				padding: 0;
				border: 0;
			}
				.visualization.table thead input,
				.visualization.table thead select {
					width: 100%;
					background: var(--color-surface);
					color: var(--color-surface-text);
					padding: 5px 8px;
					font-family: sans-serif;
					text-align: center;
					font-size: 12px;
					margin-bottom: 10px;
				}
				.visualization.table thead td:first-child input,
				.visualization.table thead td:first-child select {
					border-left: 0;
				}
			.visualization.table table thead th {
				text-transform: capitalize;
				position: sticky;
				cursor: pointer;
				white-space: nowrap;
				padding: 6px 10px;
				border: 0;
				border-right: 1px solid #999;
				top: 0;
				box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.15);
			}
			.visualization.table table thead th:last-child {
				border-right: 0;
			}
				.visualization.table table thead th > div {
					display: flex;
				}
					.visualization.table table thead th span {
						flex: 1;
					}
					.visualization.table table thead th .drilldown {
						margin-right: 3px;
						font-size: 80%;
						color: #ccc;
					}
					.visualization.table table thead th .name {
						margin-left: auto;
					}
					.visualization.table table thead th > .fa {
						opacity: 0;
						transition: opacity var(--transition-duration);
					}
					.visualization.table table thead th:hover .fa {
						opacity: 1;
						margin-left: auto;
					}
		.visualization.table table tbody tr {
			transform: translateY(0);
			opacity: 1;
			transition: transform var(--transition-duration),
						opacity var(--transition-duration),
						background var(--transition-duration),
						color var(--transition-duration);
		}
		.visualization.table table tr.NA {
			text-align: center;
		}
		.visualization.table table tbody tr.initial {
			transform: translateY(-10px);
			opacity: 0;
		}
			.visualization.table table tbody tr td.drilldown {
				cursor: pointer;
				transition: background var(--transition-duration);
			}
			.visualization.table table tbody tr td.drilldown:hover {
				background: var(--color-hover);
			}
		.visualization.table table tbody tr.show-rows {
			font-size: 90%;
			border-top: 1px solid #bbb;
			cursor: pointer;
			transition: box-shadow var(--transition-duration),
						background var(--transition-duration);
		}
		.visualization.table table tbody tr.show-rows:active {
			box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
		}
			.visualization.table table tbody tr.show-rows td {
				text-align: center;
			}
			.visualization.table table tbody tr.show-rows span {
				margin: 0 15px;
			}
		.visualization.table .row-summary {
			font-size: 90%;
			text-align: right;
			position: sticky;
			bottom: 0;
			background: var(--color-surface);
			color: var(--color-surface-text);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: var(--gap);
			transition: background var(--transition-duration);
			right: 0;
			left: 0;
		}
		.visualization.table .row-summary:hover {
			background: var(--color-hover);
			color: var(--color-hover-text);
		}
			.visualization.table .row-summary > span {
				margin-right: 15px;
			}
			.visualization.table .row-summary .label {
				font-weight: normal;
				font-size: 100%;
				padding: 0;
				border-radius: 0;
				vertical-align: initial;
			}

		.visualization.spatial-map .container {
			height: 500px;
		}
		.visualization.spatial-map .columns-toggle {
			background: #fff;
			height: 40px;
			width: 40px;
			position: absolute;
			bottom: 175px;
			right: 10px;
			border-radius: 2px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		}
			.visualization.spatial-map .columns-toggle .arrow {
				cursor: pointer;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #666;
				font-size: 22px;
			}
			.visualization.spatial-map .columns-toggle .columns {
				bottom: 100%;
				max-height: 200px;
				width: 150px;
				position: absolute;
				right: 0;
				background: #fff;
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
				overflow: auto;
				padding: 5px 0;
			}
				.visualization.spatial-map .columns-toggle .columns .column {
					padding: calc(var(--gap) * 2);
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
					.visualization.spatial-map .columns-toggle .columns .column .name {
						display: flex;
						flex-direction: column;
						width: 100%;
					}
					.visualization.spatial-map .columns-toggle .columns .column .type {
						color: #aaa;
					}
				.visualization.spatial-map .columns-toggle .columns .column:hover {
					background-color: #eee;
					cursor: pointer;
				}
				.visualization.spatial-map .columns-toggle .columns .column.disabled {
					color: #999;
				}
				.visualization.spatial-map .columns-toggle .columns .column input {
					cursor: pointer;
				}
		.visualization.cohort {
			overflow: auto;
		}
		.visualization.cohort table {
			width: 100%;
		}
			.visualization.cohort table td:first-child,
			.visualization.cohort table th:first-child {
				white-space: nowrap;
				min-width: 100px;
				border: 0;
			}
			.visualization.cohort table th.sticky,
			.visualization.cohort table td.sticky {
				position: sticky;
				left: 0;
				top: 0;
			}
			.visualization.cohort table th.sticky {
				z-index: 2;
				background: var(--color-primary);
			}
			.visualization.cohort table td.sticky {
				background: #fff;
			}
			.visualization.cohort table td.sticky:nth-child(2n) {
				background: #f1f1f9;
			}
			.visualization.cohort table .sticky:nth-child(2) {
				left: 100px;
			}
			.visualization.cohort th {
				white-space: nowrap;
			}
			.visualization.cohort td {
				text-align: center;
			}
			.visualization.cohort td.href {
				padding: 0;
			}
				.visualization.cohort td a {
					color: #333;
					display: block;
					padding: 8px 15px;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				.visualization.cohort td a:focus,
				.visualization.cohort td a:hover {
					background: rgba(0, 0, 0, 0.3);
					text-decoration: none;
				}
				.visualization.cohort td a:active {
					box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4);
				}


.visualization .container > svg {
	width: 100%;
	height: 100%;
	display: flex;
	padding: calc(var(--gap) * 2);
}
.visualization .container > svg .scale path,
.visualization .container > svg .scale line {
	fill: none;
	stroke: var(--color-border);
	stroke-width: 0.5px;
}
.visualization.dualaxisbar .container > svg .scale path,
.visualization.dualaxisbar .container > svg .scale line {
	display: none;
}
.visualization.linear .container > svg .scale.hide-scale-lines path,
.visualization.linear .container > svg .scale.hide-scale-lines line {
	display: none;
}

.visualization .container > svg .y path {
	display: none;
}
.visualization .container > svg .x path {
	stroke: #999;
	stroke-width: 1px;
}

.visualization .container > svg text.axis-label {
	letter-spacing: 2px;
	fill: #bbb;
	font-weight: bold;
}
.visualization .container > svg text.axis-label.y {
	writing-mode: vertical-lr;
}
.visualization .container > svg .tick text {
	fill: var(--color-grey);
	font-size: 90%;
}

.visualization .container > svg .clips.drilldown {
	transition: opacity var(--transition-duration);
}
.visualization .container > svg .clips.drilldown:hover {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.visualization .container > svg .line {
	fill: none;
	stroke: steelblue;
	transition: stroke-width var(--transition-duration);
	stroke-width: 2px;
}

.visualization .container > svg .line-hover {
	stroke-width: 3px;
}

.visualization .container > svg .reset-zoom {
	fill: var(--color-background);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: fill var(--transition-duration);
}
.visualization .container > svg .reset-zoom:hover {
	fill: var(--color-hover);
}
	.visualization .container > svg .reset-zoom text {
		fill: var(--color-background-text);
	}
	.visualization .container > svg .reset-zoom:hover text {
		fill: var(--color-hover-text);
	}

.visualization .container > svg rect.zoom-rectangle {
	fill: #89b;
	fill-opacity: 0.7;
}
	.visualization .container > svg .zoom-rectangle-text {
		font-size: 110%;
		font-weight: bold;
	}
		.visualization .container > svg .zoom-rectangle-text text {
			fill: var(--color-surface-text);
		}
		.visualization .container > svg .zoom-rectangle-text .range {
			font-weight: normal;
			font-size: 90%;
		}
.visualization .container > svg .bar {
	transition: opacity var(--transition-duration);
}
.visualization .container > svg .bar.hover {
	opacity: 0.7;
}
.visualization .container > svg .pie-slice {
	transition: opacity var(--transition-duration);
}
.visualization .container > svg .pie-slice.hover {
	opacity: 0.8;
}
.visualization .container > svg .pie text {
	fill: #fff;
	font-size: 110%;
	font-weight: bold;
	pointer-events: none;
}
.visualization .container > svg circle.bubble {
	opacity: 0.8;
	transition: opacity var(--transition-duration);
}
.visualization .container > svg circle.bubble:hover {
	opacity: 1;
}
.visualization.bigtext .container .value {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: calc(18px + 5vw);
}
.data-source .visualization.livenumber {
	overflow: hidden;
}
	.visualization.livenumber .container {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}
		.visualization.livenumber .container h5 {
			font-size: calc(35px + 1vw);
			flex: 1 1 100%;
			margin: 0;
			height: 55%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: normal;
			z-index: 1;
		}
		.visualization.livenumber .container .left {
			border-right: 1px solid #bbb;
		}
		.visualization.livenumber .container .left,
		.visualization.livenumber .container .right {
			flex: 1 0 50%;
			height: 45%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-top: 1px solid #bbb;
			padding: calc(var(--gap) * 2);
			position: relative;
		}
			.visualization.livenumber .container .red {
				color: #db4437;
			}
			.visualization.livenumber .container .green {
				color: #2c9d58;
			}
			.visualization.livenumber .container h6 {
				font-size: calc(18px + .2vw);
				margin: 0 0 var(--gap) 0;
				font-weight: normal;
				transition: filter var(--transition-duration);
			}
			.visualization.livenumber .container .left .value,
			.visualization.livenumber .container .right .value {
				text-align: center;
			}
			.visualization.livenumber .container .left .value-left,
			.visualization.livenumber .container .right .value-right {
				transition: filter var(--transition-duration);
			}
			.visualization.livenumber .container .left:hover h6,
			.visualization.livenumber .container .right:hover h6,
			.visualization.livenumber .container .left:hover .value-left,
			.visualization.livenumber .container .right:hover .value-right {
				opacity: 0.6;
				filter: blur(1.5px);
			}
			.visualization.livenumber .container .left .value small,
			.visualization.livenumber .container .right .value small {
				margin-top: 1px;
				opacity: 0;
				display: flex;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				align-items: center;
				justify-content: center;
				font-size: 125%;
				font-weight: bold;
				color: var(--color-grey);
				transition: opacity var(--transition-duration);
			}
			.visualization.livenumber .container .left:hover .value small,
			.visualization.livenumber .container .right:hover .value small {
				opacity: 1;
			}
	.visualization.livenumber .graph {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		filter: blur(3px);
		transition: transform var(--transition-duration);
	}
	.visualization.livenumber:hover .graph {
		transition: none;
	}
		.visualization.livenumber .graph svg .line {
			fill: none;
			transition: stroke-width var(--transition-duration);
			stroke-width: 2px;
		}
		.visualization.livenumber .graph svg .y .domain {
			display: none;
		}

.data-source-column form .parameter-list {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
	padding: 0 calc(var(--gap) * 2);
	margin-top: 20px;
}
	.data-source-column form .parameter {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr max-content;
	}
		.dialog-box form .parameter .delete:hover {
			background-color: #c11;
			border-color: #c11;
		}
	.data-source-column form .drilldown-parameters > label {
		margin-left: calc(var(--gap) * 2);
	}
.column-form {
	padding: calc(var(--gap) * 2) 0 0;
}
.column-form.compact {
	padding: 0;
	grid-gap: calc(var(--gap) * 2);
	box-shadow: none;
	width: 100%;
	overflow: auto;
	max-height: 200px;
	background: var(--color-background);
	color: var(--color-background-text);
}
	.column-form .filters,
	.column-form .accumulations {
		margin: 0 calc(var(--gap) * 2);
		display: grid;
		grid-gap: var(--gap);
	}
		.column-form .filters .list,
		.column-form .accumulations .list {
			display: grid;
			grid-gap: calc(var(--gap) * 2);
		}
		.column-form .filters span,
		.column-form .accumulations span {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: bold;
			font-size: 90%;
		}
			.column-form .filters .add-filter,
			.column-form .accumulations .add-accumulation {
				border: 0;
				height: auto;
				width: 33px;
			}
				.column-form .filters .add-filter i,
				.column-form .accumulations .add-accumulation i,
				.column-form .delete i {
					margin: 0;
				}
		.column-form.compact label {
			max-width: none;
			margin: 0;
		}
			.column-form label.disable-column {
				max-width: max-content;
			}
			.column-form label .category-group {
				display: grid;
				grid-template-columns: 1fr 1.5fr max-content;
				grid-gap: calc(var(--gap) * 2);
			}
				.column-form label .category-group button:hover {
					background: #c33;
					border-color: transparent;
				}
					.column-form label .category-group button i {
						margin: 0;
					}
				.column-form:not(.compact) label .category-group select {
					width: 100px;
				}
				.column-form label .category-group input,
				.column-form label .category-group select {
					margin-bottom: 0;
					text-align: initial !important;
				}
	.column-form > label {
		margin: 0 calc(var(--gap) * 2);
	}
	.column-form .timing-type-custom {
		max-width: 100%;
		margin: 0 calc(var(--gap) * 2);
		display: grid;
		grid-gap: 10px;
	}
		.column-form .timing-format {
			display: grid;
			overflow: auto;
			grid-gap: calc(var(--gap) * 2);
			grid-auto-flow: column;
		}
			.column-form .timing-format fieldset {
				border: 1px solid var(--color-border);
				font-size: 90%;
				margin: 0;
			}
				.column-form .timing-format fieldset legend {
					font-size: 90%;
				}
				.column-form .timing-format fieldset label {
					display: inline-block;
					padding: 0 3px;
					text-align: center;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				.column-form .timing-format fieldset label:hover {
					cursor: pointer;
					background: var(--color-hover);
					color: var(--color-hover-text);
				}
				.column-form .timing-format fieldset label:active {
					box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
				}
				.column-form .timing-format fieldset input[type=radio] {
					display: none;
				}
				.column-form .timing-format fieldset input:checked + span {
					color: var(--color-selected);
				}
				.column-form .timing-format fieldset label span {
					color: #ccc;
					transition: color var(--transition-duration);
					font-weight: normal;
				}
			.column-form .timing-type-custom .result-date {
				color: #333;
				font-size: 80%;
				font-weight: normal;
			}
		.column-form > label .color {
			width: 100%;
			padding: 0;
		}
	.column-form .drilldown-dropdown {
		max-width: initial;
	}
	.column-form > footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		position: sticky;
		bottom: 0;
		font-size: 110%;
		z-index: 6;
	}
		.column-form > footer button {
			padding: calc(var(--gap) * 2);
			height: auto;
			border-right: 0;
			border-bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
		}
		.column-form.compact > footer button {
			padding: 10px;
		}
		.column-form > footer button:first-child {
			border-left: 0;
		}
		.column-form > footer .disabled {
			background: #eee;
			color: #9e9e9e;
			outline: none
		}
		.column-form > footer .disabled:hover {
			background: #eee;
			color: #9e9e9e;
			border: 1px solid #ccc;
			border-bottom: 0;
			border-right: 0;
			box-shadow: none;
		}

.sub-reports-dialog .dialog-box {
	width: 50%;
}
	.sub-reports-dialog .body {
		padding: calc(var(--gap) * 2) 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
		.sub-reports-dialog .data-source {
			min-width: 150px;
			max-width: 350px;
			width: 100%;
			height: 200px;
			margin: calc(var(--gap) * 3) 0;
		}