html, body {
	height: 100%;
}
main {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1.5fr 1fr 1fr;
	grid-gap: calc(var(--gap) * 2);
	padding: 0 calc(var(--gap) * 2) calc(var(--gap) * 2);
	height: 100%;
}
main.preview-bottom {
	grid-template-rows: max-content calc(60vh - 155px) 40vh;
}
	main button.unsaved {
		background: #c33;
		color: #fff;
	}
	main section .toolbar {
		padding-top: 0;
	}
	main section#stage-pick-report > .toolbar,
	main section#stage-pick-visualization .toolbar {
		justify-content: space-between;
	}

#stage-switcher {
	display: flex;
	background: var(--color-surface);
	color: var(--color-surface-text);
	min-height: 64px;
	grid-column: 1 / 4;
	grid-row: 1;
	border-top: 0;
	overflow: auto;
}
#stage-switcher::-webkit-scrollbar {
	display: none;
}
	#stage-switcher .stage {
		display: grid;
		grid-template-columns: auto auto;
		padding: calc(var(--gap) * 2);
		flex: 1;
		text-align: center;
		justify-content: center;
		border: solid var(--color-border);
		border-width: 0 0 1px 1px;
		cursor: pointer;
		position: relative;
		grid-row-gap: var(--gap);
		grid-column-gap: calc(var(--gap) * 2);
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration),
					color var(--transition-duration);
	}
	#stage-switcher .stage:last-child {
		border-right-width: 1px;
	}
	#stage-switcher .stage:not(.disabled):not(.selected):hover {
		background: var(--color-hover);
		color: var(--color-hover-text);
	}
	#stage-switcher .stage:not(.disabled):active {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
	}
	#stage-switcher .stage.selected {
		background: var(--color-selected);
		color: var(--color-selected-text);
		border-bottom-color: var(--color-selected);
	}
	#stage-switcher .stage.disabled {
		cursor: default;
		background: var(--color-background);
		color: var(--color-background-text);
		opacity: 0.5;
	}
		#stage-switcher .stage > .order {
			grid-row: 1 / 3;
			font-size: calc(14px + 0.6vw);
			color: var(--color-grey);
			border: 1px solid var(--color-grey);
			border-radius: 100px;
			width: calc(20px + 1.25vw);
			height: calc(20px + 1.25vw);
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;
			transition: color var(--transition-duration),
						border var(--transition-duration);
		}
		#stage-switcher .stage.selected > .order {
			border: 1px solid var(--color-selected-text);
			color: var(--color-selected-text);
		}
		#stage-switcher .stage > .title {
			font-size: 110%;
			align-self: end;
			white-space: nowrap;
			font-weight: bold;
		}
		#stage-switcher .stage > small {
			color: var(--color-grey);
			transition: color var(--transition-duration);
		}
		#stage-switcher .stage.selected > small {
			color: var(--color-selected-text);
		}

main .form {
	background: var(--color-surface);
	color: var(--color-surface-text);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#stages {
	display: flex;
	grid-column: 1 / 4;
	grid-row: 2;
	overflow-y: auto;
}
main.preview-top #stages {
	grid-row: 3;
	height: 40vh;
}
main.preview-bottom #stages {
	grid-row: 2;
}
main.preview-right #stages {
	grid-column: 1;
	height: calc(100vh - 135px);
}
main.preview-right.compact #stages {
	grid-column: 1 / 3;
}
	main.preview-right.compact #stages #stage-configure-visualization {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content;
	}
		main.preview-right.compact #stages #stage-configure-visualization .query-history {
			grid-row: 1 / 3;
			grid-column: 2;
		}
main.preview-left #stages {
	grid-column: 3;
	height: calc(100vh - 135px);
}
	#stages section.section.show {
		padding: 0;
		width: 100%;
	}
	#stages .toolbar #history-toggle {
		margin-left: auto;
		right: calc(var(--gap) * 2);
		position: absolute;
	}
#stage-configure-report .toolbar {
	justify-content: space-between;
}
	#stage-configure-report #added-by {
		align-self: center;
	}
#stage-configure-report #configure-report-form {
	display: grid;
	flex-wrap: wrap;
	grid-gap: calc(var(--gap) * 2);
	grid-template-columns: 1fr 1fr;
}
	#stage-configure-report #configure-report-form .description.form {
		grid-column: 1 / 3;
		grid-gap: 5px;
	}
		#stage-configure-report #configure-report-form .description.form > span {
			font-weight: bold;
		}
#stage-configure-report > h2 {
	margin: calc(var(--gap) * 2) 0;
}

#stage-pick-report table {
	background: var(--color-surface);
	color: var(--color-surface-text);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
	#stage-pick-report table thead tr th {
		position: sticky;
	}
		#stage-pick-report table thead tr th.sort {
			cursor: pointer;
		}
	#stage-pick-report table thead tr.search th {
		padding: calc(var(--gap) * 2) var(--gap);
		top: 0;
		background: var(--color-surface);
		color: var(--color-surface-text);
	}
		#stage-pick-report table thead tr.search th input {
			width: 100%;
		}
	#stage-pick-report table tbody tr .tag,
	#stage-pick-visualization table tbody tr .tag {
		background: var(--color-secondary);
		color: var(--color-secondary-text);
		cursor: pointer;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		padding: 3px 8px;
		margin: 2px;
		border-radius: 2px;
		font-size: 80%;
	}

#stage-define-report.show {
	display: flex;
	flex-direction: column;
}
	#stage-define-report #save-container {
		display: flex;
		position: relative;
	}
		#stage-define-report #save-container #save-more {
			border-left: 1px solid var(--color-border);
			padding-right: 8px;
			padding-left: 8px;
		}
			#stage-define-report #save-container #save-more i {
				margin: 0;
			}
		#stage-define-report #save-container #save-menu {
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 5;
			background: var(--color-surface);
			color: var(--color-surface-text);
		}
		.dialog-box .fork-report {
			padding: 10px;
		}
			.dialog-box .fork-report h2 {
				margin: 0;
				font-size: 120%;
			}
			.dialog-box .fork-report .separator {
				margin: 0;
				border-top: 1px dashed var(--color-border);
				padding-top: 20px;
			}
			.dialog-box .fork-report .filters,
			.dialog-box .fork-report .visualizations {
				max-width: 100%;
			}
			.dialog-box .fork-report .switch-to-new {
				display: grid;
				grid-template-columns: max-content max-content;
				grid-gap: var(--gap);
				align-items: center;
			}
			.dialog-box .fork-report .form .footer {
				display: grid;
				grid-template-columns: 1fr max-content max-content;
				grid-gap: calc(var(--gap) * 2);
				align-items: flex-end;
			}
				.dialog-box .fork-report .footer .progress {
					display: grid;
					grid-gap: var(--gap);
				}
					.dialog-box .fork-report .footer .progress span em {
						font-weight: bold;
					}
					.dialog-box .fork-report .footer .progress progress {
						width: 100%;
						height: var(--gap);
					}
				.dialog-box .fork-report .footer button {
					height: auto;
					padding: 8px 18px;
					font-size: 100%;
				}
				.dialog-box .fork-report .footer button[type=submit] {
					grid-column: 3;
				}
				.dialog-box .fork-report .footer .export {
					grid-column: 2;
				}
					.dialog-box .fork-report i:last-child {
						margin: 0 0 0 var(--gap);
					}

	#stage-define-report #api {
		grid-column: 1 / 3;
		display: grid;
		grid-row-gap: calc(var(--gap) * 2);
		padding: calc(var(--gap) * 2);
		border: 1px solid #ccc;
		background: #fff;
	}
		#stage-define-report #api label {
			max-width: initial;
		}

	#define-report-parts {
		display: flex;
		height: 100%;
	}
		#stage-define-report .not-saved {
			background: var(--color-red);
			color: #fff;
		}
		#stage-define-report #schema {
			overflow: auto;
			font-weight: normal;
			height: 100%;
			position: relative;
			display: flex;
			order: 1;
			flex: 1 300px;
			max-width: 300px;
			flex-direction: column;
			background: var(--color-surface);
			color: var(--color-surface-text);
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			margin-right: calc(var(--gap) * 2);
		}
			#stage-define-report #schema .NA {
				text-align: center;
				padding: var(--gap);
			}
			#stage-define-report #schema input[type=search] {
				width: 100%;
				border: 0;
				border-bottom: 1px solid var(--color-border);
				position: sticky;
				top: 0;
				z-index: 2;
			}
			#stage-define-report #schema ul {
				padding: 0;
				list-style: none;
				margin: 0;
			}
			#stage-define-report #schema ul ul {
				border-left: 1px dashed #999;
				padding-left: 10px;
				margin-left: 10px;
			}
				#stage-define-report #schema li {
					white-space: nowrap;
					position: relative
				}
				#stage-define-report #schema li:before {
					content: '–';
					position:absolute;
					color: #999;
					top: 5px;
					left: -10px;
				}
					#stage-define-report #schema li .name {
						display: grid;
						padding: 8px;
						grid-template-columns: max-content auto max-content;
						grid-gap: var(--gap);
						max-width: 100%;
						overflow: hidden;
						transition: background var(--transition-duration),
									box-shadow var(--transition-duration);
					}
					#stage-define-report #schema li .name:hover {
						background: rgba(0, 0, 0, 0.10);
					}
					#stage-define-report #schema li .name:active {
						box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4);
					}
					#stage-define-report #schema li.opened > .name {
						background: var(--color-selected);
						position: sticky;
						color: var(--color-selected-text);
						top: 28px;
						z-index: 1;
					}
						#stage-define-report #schema li .name span {
							overflow: hidden;
							text-overflow: ellipsis;
						}
						#stage-define-report #schema li .name small {
							margin-left: auto;
							color: var(--color-grey);
						}

		#stage-define-report button[type=submit].not-saved {
			background: var(--color-red);
		}
		#stage-define-report #define-report-form {
			order: 2;
			flex: 1 60%;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			height: 100%;
			grid-template-rows: max-content max-content max-content max-content max-content max-content;
		}
		#stage-define-report #define-report-form.api {
			overflow: auto;
		}
			#stage-define-report #define-report-form .ace_editor {
				height: 100%;
			}
			#stage-define-report #define-report-form.form .mongo-query {
				max-width: 100%;
			    grid-template-rows: max-content 1fr;
			}
			#stage-define-report #define-report-form .parameters {
				display: grid;
				grid-gap: var(--gap);
			}
				#stage-define-report #define-report-form .headings {
					display: grid;
					grid-template-columns: 200px 200px;
					grid-gap: calc(var(--gap) * 2);
					text-align: center;
					color: var(--color-grey);
				}
				#stage-define-report #define-report-form .list {
					display: grid;
					grid-gap: calc(var(--gap) * 2);
				}
					#stage-define-report #define-report-form .list button.delete:hover {
						background: var(--color-red);
						cursor: pointer;
					}
					#stage-define-report #define-report-form .list i {
						margin-left: 5px;
					}
					#stage-define-report #define-report-form .list > label {
						display: grid;
						grid-template-columns: 200px 200px 50px;
						grid-gap: calc(var(--gap) * 2);
					}
			#stage-define-report #define-report-form .add-headers,
			#stage-define-report #define-report-form .add-parameter {
				display: grid;
				grid-gap: calc(var(--gap) * 2);
			}
				#stage-define-report #define-report-form .add-parameter-form,
				#stage-define-report #define-report-form .add-headers-form {
					display: grid;
					grid-template-columns: 200px 200px 50px;
					grid-gap: calc(var(--gap) * 2);
				}
					#stage-define-report #define-report-form .add-parameter-form button.add,
					#stage-define-report #define-report-form .add-headers-form button.add {
						background: var(--color-secondary);
					}
					#stage-define-report #define-report-form .add-parameter-form label span,
					#stage-define-report #define-report-form .add-headers-form label span {
						justify-content: center;
						color: var(--color-grey);
					}
		#stage-define-report .upload-file {
			order: 2;
			background: var(--color-surface);
			color: var(--color-surface-text);
			height: 100%;
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			cursor: pointer;
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration),
						color var(--transition-duration);
		}
		#stage-define-report .upload-file:active {
			box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
		}
		#stage-define-report .upload-file.drag-over {
			background: var(--color-hover);
			color: var(--color-hover-text);
		}
			#stage-define-report .upload-file h2 {
				font-weight: normal;
				font-size: calc(20px + 1vw);
				margin: 0;
				pointer-events: none;
			}
			#stage-define-report .upload-file small {
				font-size: calc(12px + 0.3vw);
				margin: var(--gap) 0;
				pointer-events: none;
			}
			#stage-define-report .upload-file .message {
				background: none;
				padding: 0;
				box-shadow: none;
				font-size: calc(20px + 0.8vw);
				pointer-events: none;
			}
			#stage-define-report .upload-file .warning {
				color: var(--color-red);
			}
			#stage-define-report .upload-file .notice {
				color: var(--color-green);
			}
			#stage-define-report #save-container button[disabled] {
				color: #999;
			}

		#stage-define-report #filters {
			order: 3;
			flex: 1 40%;
			margin-left: calc(var(--gap) * 2);
			overflow: auto;
		}
			#stage-define-report #filters h3:first-child {
				margin: 10px 0;
				border-bottom: 1px dashed var(--color-border);
				padding-bottom: 10px;
				position: sticky;
				top: 0;
				background: var(--color-background);
				color: var(--color-background-text);
				z-index: 1;
			}
				#stage-define-report #filters h3 > i {
					margin: 0 var(--gap);
					color: var(--color-secondary);
					font-size: 90%;
				}
			#stage-define-report #filters h3 + p {
				color: var(--color-grey);
			}
			#stage-define-report #filters .toolbar {
				overflow: auto;
			}
				#stage-define-report #filters .toolbar .filter-info {
					text-align: right;
					white-space: nowrap;
					font-size: 85%;
				}
			#stage-define-report #filters table,
			#stage-define-report #filters .form {
				background: var(--color-surface);
				color: var(--color-surface-text);
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			}
				#stage-define-report #filters table tr.red {
					background: rgba(175, 0, 0, 0.25);
				}
				#stage-define-report #filters table .action {
					width: auto;
				}
				#stage-define-report #filters table .action.grey:hover {
					background: unset;
					color: #888;
				}
				#stage-define-report #filters table .trusted .NA {
					font-size: 80%;
					margin-left: var(--gap);
				}
			#stage-define-report #filters .form {
				grid-template-columns: 1fr;
				align-items: flex-start;
			}
				#stage-define-report #filters .form .toolbar {
					margin: calc(var(--gap) * -2);
				}
				#stage-define-report #filters .edit-filter .toolbar {
					grid-template-columns: max-content max-content 1fr;
					align-items: center;
					grid-column: 1 / 3;
				}
				#stage-define-report #filters .form .label {
					grid-row: span 2;
				}
			#stage-define-report #filters #external-parameters,
			#stage-define-report #filters #suggested-filters {
				margin-top: 40px;
			}
		#stage-define-report .query-history {
			order: 3;
			flex: 1 50%;
			overflow: auto;
		}
			#stage-define-report .query-history .info .query {
				height: calc(100% - 38px);
			}
		#stage-define-report .edit-report-data {
			overflow: auto;
			width: 100%;
			border-top: 1px dashed var(--color-border);
			padding-top: calc(var(--gap) * 2);
		}
			#stage-define-report .edit-report-data table {
				background: var(--color-surface);
				color: var(--color-surface-text);
			}
				#stage-define-report .edit-report-data table thead th {
					position: sticky;
					top: 0;
				}
				#stage-define-report .edit-report-data table thead th:not(.action) {
					cursor: pointer;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				#stage-define-report .edit-report-data table thead th:not(.action):hover {
					background: var(--color-hover);
					color: var(--color-hover-text);
				}
				#stage-define-report .edit-report-data table thead th:not(.action):active {
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
				}
				#stage-define-report .edit-report-data table tfoot {
					text-align: center;
					border-top: 1px solid var(--color-border);
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				#stage-define-report .edit-report-data table tfoot:hover {
					background: var(--color-hover);
					color: var(--color-hover-text);
					cursor: pointer;
				}
				#stage-define-report .edit-report-data table tfoot:active {
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
				}
#stage-pick-visualization table {
	background: var(--color-surface);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

#stage-configure-visualization.show {
	display: grid;
	grid-template-rows: repeat(4, max-content);
	overflow: auto;
}
	#stage-configure-visualization .toolbar {
		padding: 0;
		position: sticky;
		top: 0;
		z-index: 7;
		background: var(--color-background);
		color: var(--color-background-text);
	}
	#stage-configure-visualization .toolbar .right {
		margin-left: auto;
	}
	.visualization-form h3 {
		border-bottom: 1px dashed var(--color-border);
		cursor: pointer;
		position: sticky;
		top: 28px;
		padding: var(--gap);
		margin: var(--gap) 0 calc(var(--gap) * 2);
		display: flex;
		align-items: center;
		font-size: 100%;
		font-weight: normal;
		z-index: 3;
		transition: color var(--transition-duration);
		background: var(--color-background);
		color: var(--color-background-text);
	}
	.visualization-form h3:hover {
		color: inherit;
	}
		.visualization-form h3 > i {
			margin-right: var(--gap);
			width: 10px;
			transition: margin-right var(--transition-duration);
		}
		.visualization-form h3:hover > i {
			margin-right: calc(var(--gap) * 2);
		}
	.visualization-form h4 {
		margin: 0 0 calc(var(--gap) * 2)
	}
	.visualization-form fieldset {
		background: var(--color-surface);
		color: var(--color-surface-text);
		margin: 0;
		border-radius: 3px;
		border: 0;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}
		.visualization-form fieldset legend {
			font-size: 90%;
			padding: 5px 10px;
			border-radius: 5px;
			background: var(--color-secondary);
			color: var(--color-secondary-text);
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
			transition: background var(--transition-duration),
						color var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		#stage-configure-visualization fieldset legend.interactive:hover {
			cursor: pointer;
		}
		#stage-configure-visualization fieldset legend.interactive:active {
			box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
		}
		.visualization-form fieldset > .ellipsis {
			color: #ccc;
			text-align: center;
			transition: color var(--transition-duration);
		}
		.visualization-form fieldset > .ellipsis:not(.disabled):hover {
			color: #666;
			cursor: pointer;
		}
		.visualization-form fieldset > .form {
			padding: 0;
		}
	.visualization-form .subform {
		display: grid;
		padding: calc(var(--gap) * 2);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
	}
		.visualization-form .subform .gradient-rules {
			display: grid;
			grid-gap: calc(var(--gap) * 2);
			align-items: center;
			overflow: auto;
			max-height: 200px;
		}
		.visualization-form .subform .gradient-rules::-webkit-scrollbar {
			height: 5px;
			width: 5px;
		}
			.visualization-form .subform .gradient-rules .rule {
				display: grid;
				grid-gap: calc(var(--gap) * 2);
				padding-bottom: calc(var(--gap) * 2);
				padding-right: calc(var(--gap) * 2);
				grid-auto-flow: column;
				align-items: end;
			}
				.visualization-form .subform .gradient-rules .rule select {
					max-width: 200px;
				}
				.visualization-form .subform .gradient-rules .rule input[type=color] {
					width: 100%;
					padding: 0;
				}
				.visualization-form .subform .gradient-rules .rule .delete:hover {
					color: var(--color-red);
				}
					.visualization-form .subform .gradient-rules .rule .delete .delete-icon {
						margin-right: 0;
					}

	.visualization-form .axes,
	.visualization-form .layers {
		background: transparent;
	}
		.visualization-form .axes .form,
		.visualization-form .layers .form {
			background: transparent;
			padding: 0;
		}
			.visualization-form .axes .form .advanced-toggle {
				font-size: 90%;
				text-align: center;
				color: #888;
				cursor: pointer;
				border-bottom: 1px dashed #ccc;
				padding-bottom: var(--gap);
			}
			.visualization-form .layers .form .opacity > span {
				justify-content: space-between;
			}
			.visualization-form .layers .form .opacity > span .value {
				font-weight: normal;
				color: #999;
			}
		.visualization-form .axes .add-axis .form,
		.visualization-form .layers .add-layer .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			grid-gap: calc(var(--gap) * 2);
		}
	.visualization-form #configure-visualization-form {
		display: flex;
		flex-direction: column;
	}
	.visualization-form .liner-visualization-options {
		display: flex;
		flex-direction: column;
	}
	.visualization-form .transformations > .body > .list {
		display: grid;
		grid-gap: 20px;
	}
		.visualization-form .transformations fieldset {
			position: relative;
		}
		.visualization-form .transformations fieldset.disabled {
			opacity: 0.6;
			background: #ccc;
		}
			.visualization-form .transformations fieldset > .actions {
				position: absolute;
				right: 0;
				top: 11px;
				border-top-right-radius: 3px;
				font-size: 90%;
				display: flex;
			}
				.visualization-form .transformations fieldset > .actions > div {
					margin-top: 2px;
					padding: 5px 8px;
					color: var(--color-grey);
					transition: color var(
					--transition-duration),
								background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				.visualization-form .transformations fieldset > .actions > div:last-child {
					border-top-right-radius: 3px;
				}
				.visualization-form .transformations fieldset > .actions > div:hover {
					background: var(--color-hover);
					color: var(--color-hover-text);
					cursor: pointer;
				}
				.visualization-form .transformations fieldset:first-child .actions .move-up,
				.visualization-form .transformations fieldset:last-child .actions .move-down {
					background: rgba(0, 0, 0, 0.15);
					opacity: 0.5;
				}
				.visualization-form .transformations fieldset:first-child .actions .move-up:hover,
				.visualization-form .transformations fieldset:last-child .actions .move-down:hover {
					cursor: default;
					color: var(--color-grey);
				}
				.visualization-form .transformations fieldset:first-child .actions .move-up:active,
				.visualization-form .transformations fieldset:last-child .actions .move-down:active {
					box-shadow: none;
				}
				.visualization-form .transformations fieldset > .actions > div.remove:hover {
					color: var(--color-red);
				}
				.visualization-form .transformations fieldset > .actions > div:active {
					box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
				}
			.visualization-form .transformations .transformation {
				display: grid;
				grid-template-columns: max-content;
				grid-gap: calc(var(--gap) * 2);
				align-items: flex-start;
				margin-top: var(--gap);
			}
				.visualization-form .transformations .transformation > div {
					display: grid;
					grid-template-columns: 1fr;
					grid-gap: calc(var(--gap) * 2);
					width: max-content;
				}
					.visualization-form .transformations .transformation h4 {
						margin: 0;
						border-bottom: 1px dashed var(--color-border);
						padding-bottom: var(--gap);
						font-size: 90%;
					}
				.visualization-form .transformations .transformation > .restrict-columns {
					display: grid;
					grid-template-columns: repeat(2, max-content);
				}
					.visualization-form .transformations .transformation > .restrict-columns input[disabled]:not(:checked) + span {
						color: var(--color-grey);
					}
				.visualization-form .transformations .transformation.custom-column textarea {
					padding: 5px 10px;
				}
				.visualization-form .transformations .transformation.custom-column .error {
					color: var(--color-red);
				}

				.visualization-form .transformations .transformation .form-row {
					display: grid;
					grid-auto-flow: column;
					grid-gap: calc(var(--gap) * 2);
				}
					.visualization-form .transformations .transformation .form-row button i {
						margin: 0;
					}
				.visualization-form .transformations .transformation button {
					white-space: nowrap;
				}
				.visualization-form .transformations .transformation.sort .column:first-of-type .move-up,
				.visualization-form .transformations .transformation.sort .column:last-of-type .move-down {
					background: rgba(0, 0, 0, 0.15);
					opacity: 0.5;
				}
				.visualization-form .transformations .transformation.sort .column:first-of-type .move-up:active,
				.visualization-form .transformations .transformation.sort .column:last-of-type .move-down:active {
					box-shadow: none;
				}
				.visualization-form .transformations .next-connector {
					display: grid;
					grid-gap: 15px;
					grid-auto-flow: column;
					text-align: center;
					justify-content: center;
					align-items: center;
				}
					.visualization-form .transformations .next-connector > i {
						color: var(--color-grey);
					}
					.visualization-form .transformations .next-connector .NA {
						max-width: max-content;
						display: grid;
						grid-auto-flow: column;
						grid-gap: 10px;
					}
		.visualization-form .transformations .add-transformation {
			border-top: 1px solid var(--color-border);
			padding-top: 15px;
		}

	#stage-configure-visualization .dashboards .list {
		grid-gap: calc(var(--gap) * 2);
		display: grid;
	}
		#stage-configure-visualization .dashboards .form {
			grid-template-columns: repeat(7, max-content);
			grid-gap: calc(var(--gap) * 2);
		}
		#stage-configure-visualization .dashboards .add-dashboard .form {
			grid-template-columns: repeat(6, max-content);
			background: transparent;
			padding: 0;
		}
			#stage-configure-visualization .dashboards .delete:hover {
				background: #c33;
				border-color: transparent;
			}
				#stage-configure-visualization .dashboards .save button > i,
				#stage-configure-visualization .dashboards .delete > i,
				#stage-configure-visualization .dashboards .view-dashboard > i {
					margin: 0;
				}
			#stage-configure-visualization .dashboards .dashboard_id {
				width: 200px;
			}
			#stage-configure-visualization .dashboards input[type=number] {
				width: 75px;
			}
			#stage-configure-visualization .dashboards button[disabled],
			#stage-configure-visualization .dashboards button[disabled]:hover {
				background: var(--color-hover);
				color: var(--color-hover-text);
				opacity: 0.5;
			}
	.visualization-form .filters {
	}
		.visualization-form .filters .body .list {
			display: grid;
			grid-gap: calc(var(--gap) * 2);
		}
		.visualization-form .transformations .add-transformation .form,
		.visualization-form .filters .add-filter .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			background: transparent;
			grid-gap: calc(var(--gap) * 2);
			padding: 0;
		}
		.visualization-form .filters label .delete:hover {
			border-color: transparent;
			background: #c33;
		}
			.visualization-form .filters .delete > i {
				margin: 0;
			}

	.visualization-form .related-visualizations .list {
		grid-gap: calc(var(--gap) * 2);
		display: grid;
	}
		.visualization-form .related-visualizations .form {
			grid-template-columns: repeat(6, max-content);
			grid-gap: calc(var(--gap) * 2);
		}
		.visualization-form .related-visualizations .add .form {
			padding: 0;
		}
		.visualization-form .related-visualizations button.delete:hover {
			color: var(--color-red);
		}
		.visualization-form .related-visualizations .list button > i {
			margin: 0;
		}
			.visualization-form .related-visualizations .form label input.item {
				width: 70px;
			}
			.visualization-form .related-visualizations .form .visualization {
				width: 200px;
			}

	.visualization-form .configuration-section h3 .count {
		color: var(--color-grey);
		font-size: 90%;
		margin-left: auto;
		font-weight: normal;
		letter-spacing: 0.25px;
	}
	.visualization-form .configuration-section fieldset .form {
		box-shadow: none;
	}
		.visualization-form .configuration-section .form label span {
			display: flex;
			align-items: center;
		}
		.visualization-form .configuration-section .body {
			display: grid;
			grid-gap: 15px;
			padding: 0 var(--gap) calc(var(--gap) * 2) 0;
		}
			.visualization-form .configuration-section .body .list .default small {
				color: var(--color-grey);
				font-size: 90%;
			}
			.visualization-form .configuration-section .body .NA {
				background: var(--color-surface);
				color: var(--color-surface-text);
				padding: calc(var(--gap) * 2);
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
				border-radius: 3px;
			}
			.visualization-form .configuration-section .body .list .form {
				grid-gap: calc(var(--gap) * 2);
			}
	.visualization-form .configuration-section .theme-list {
		padding: 10px;
		list-style-type: none;
		font-size: 90%;
		font-weight: bold;
		color: #444;
		margin: 0;
		display: grid;
		grid-template-columns: max-content max-content max-content;
		grid-gap: calc(var(--gap) * 4);
		position: relative;
		justify-content: space-around;
	}
		.visualization-form .configuration-section .theme-list .theme {
			display: flex;
			justify-content: center;
			cursor: pointer;
			height: 140px;
			width: 160px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
		}
		.visualization-form .configuration-section .theme-list .theme:hover {
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			transform: perspective(500px) translatez(30px)
		}
		.visualization-form .configuration-section .theme-list .theme.selected {
			border: 1px solid #80b7fa;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		}
			.visualization-form .configuration-section .theme-list .theme .name {
				position: absolute;
				font-size: 120%;
				letter-spacing: 0.5px;
				font-weight: normal;
				margin-top: 115px;
				color: #7d7d7d;
			}
			.visualization-form .configuration-section .theme-list .theme-image {
				overflow: hidden;
			}
				.visualization-form .configuration-section .theme-list .theme-image .road {
					height: 10px;
					transform: rotate(27deg);
					width: 153px;
					margin: 18px;
				}
				.visualization-form .configuration-section .theme-list .theme-image .water {
					height: 16px;
					margin-top: 20px;
				}
				.visualization-form .configuration-section .theme-list .theme-image .park {
					height: 20px;
					transform: rotate(28deg);
					width: 250px;
					margin-left: -65px;
				}

#add-visualization-picker {
	grid-column: 1 / 3;
}
#add-visualization-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	#add-visualization-form figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 350px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		transform: perspective(500px) translatez(0);
		transition: box-shadow var(--transition-duration),
					transform var(--transition-duration);
	}

	#add-visualization-form figure:hover {
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
		transform: perspective(500px) translatez(30px);
	}
		#add-visualization-form img,
		#add-visualization-form .NA,
		#add-visualization-form .loader {
			height: auto;
			width: 100%;
			height: 233.33px;
		}
		#add-visualization-form img {
			opacity: 0;
			transition: opacity var(--transition-duration);
		}
		#add-visualization-form img.show {
			opacity: 1;
		}
		#add-visualization-form .loader {
			font-size: 200%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #8d6e63;
			position: absolute;
			top: 0;
		}
		#add-visualization-form .NA {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #8d6e63;
			font-size: 110%;
			position: absolute;
			top: 0;
		}
		#add-visualization-form figcaption {
			background: var(--color-surface);
			color: var(--color-surface-text);
			width: 100%;
			padding: calc(var(--gap) * 2);
			text-align: center;
			transition: background var(--transition-duration);
			font-size: 125%;
		}

main.preview-top .tabs {
	grid-column: 1 / 4;
	grid-row: 2;
	height: 40vh;
}
main.preview-bottom .tabs {
	height: 35vh;
	grid-column: 1 / 4;
}
main.preview-right .tabs {
	grid-column: 2 / 4;
	grid-row: 2;
	display: flex;
	flex-direction: column;
}
main.preview-right.compact .tabs {
	grid-column: 3 / 4;
	overflow: auto;
}
main.preview-left .tabs {
	grid-column: 1 / 3;
	grid-row: 2;
}

main .tabs .tabs-header {
	display: flex;
}
	main .tabs .tabs-header .headers {
		display: flex;
		overflow: auto;
	}
	main .tabs .tabs-header .headers::-webkit-scrollbar {
		height: 0;
	}
	main .tabs .tabs-header .icons {
		padding: 0 12px;
		white-space: nowrap;
		display: grid;
		grid-gap: 12px;
		grid-auto-flow: column;
	}
		main .tabs .tabs-header .icons .add-tab,
		main .tabs .tabs-header .icons .close-all-tabs {
			background: transparent;
			border: none;
			height: 100%;
			width: 36px;
		}
		main .tabs .tabs-header .icons .add-tab:hover,
		main .tabs .tabs-header .icons .close-all-tabs:hover {
			color: var(--color-secondary);
		}
		main .tabs .tabs-header .icons .icon {
			margin: 0;
		}
	main .tabs .tabs-header .tab-header {
		border: 1px solid transparent;
		background: var(--color-surface);
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		padding: 6px;
		white-space: nowrap;
	}
	main .tabs .tabs-header .fade-header {
		background: var(--color-background);
		position: relative;
		border-radius: 0;
	}
	main .tabs .tabs-header .fade-header::after {
		content: '';
		height: 60%;
		position: absolute;
		right: 0;
		border-right: 1px solid var(--color-border);
	}
	main .tabs .tabs-header .remove-border::after {
		border-right: none;
	}
	main .tabs .tabs-header .fade-header:hover {
		background:  var(--color-hover);
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration),
					color var(--transition-duration);
	}
		main .tabs .tabs-header .tab-header .close {
			margin-left: 10px;
		}
		main .tabs .tabs-header .tab-header .close .close-icon {
			font-size: 10px;
			font-weight: 600;
			opacity: 0.5;
			padding: 2px 3px;
		}
		main .tabs .tabs-header .tab-header .close-icon:hover {
			padding: 2px 3px;
			box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25);
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration),
						color var(--transition-duration);
			border-radius: 50%;
			opacity: 0.8;
		}
	main .tabs .tabs-body {
		flex: 1;
		display: flex;
		max-height: 600px;
		height: 100%;
	}
		main .tabs .tabs-body .tab-body {
			width: 100%;
			background: var(--color-surface);
			max-height: 600px;
			height: 100%;
		}
