main .toolbar {
	position: sticky;
	top: 0px;
	z-index: 7;
}
main section.section {
	display: none;
}
main section.section.show {
	display: block;
}
	main section a {
		text-decoration: none;
		color: #55f;
	}
	main section a:hover {
		text-decoration: underline;
	}

	main #list thead tr.table-search th {
		padding: 10px 8px;
		position: sticky;
		top: 45px;
		z-index: 2;
		background: white;
		color: var(--color-primary-text);
	}
	main #list thead tr th input {
		width : 100%;
	}
	main #list tr .source {
		text-transform: capitalize;
	}
	main #list tr .tags div {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
	}
		main #list tr .tags a {
			cursor: pointer;
			text-decoration: none;
			text-transform: uppercase;
			background: #1abb9c;
			color: #fff;
			letter-spacing: 0.5px;
			font-size: 11px;
			font-weight: bold;
			padding: 3px 8px;
			margin: 2px;
			border-radius: 2px;
		}
		main #list tr .tags a:hover {
			text-decoration: none;
			background:#32CD32 !important;
			transition: background var(--transition-duration),
						color var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		main #list tr .tags a:active {
			box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
		}

main table thead tr.table-head th {
	padding: 5px 8px;
	position: sticky;
	top: 93px;
	z-index: 2;
	background: var(--color-primary);
	color: var(--color-primary-text);
}

main table thead tr.table-search th {
	padding: 10px 8px;
	position: sticky;
	top: 45px;
	z-index: 2;
	width: 120px;
	background: white;
	color: var(--color-primary-text);
}

	main table thead tr th input {
		width : 100%;
	}
main #form #report-form {
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	grid-template-columns: 200px auto;
}
	main #form #report-form label {
		grid-column: 1;
	}
		main #form #source {
			flex-wrap: wrap;
			justify-content: left;
			flex-direction: row;
			max-width: none;
		}
			main #form #source span {
				flex-basis: 100%;
			}
			main #form #source select {
				max-width: 100px;
			}
		main #form form > #api {
			grid-column: 1 / 3;
			display: grid;
			grid-row-gap: calc(var(--gap) * 2);
			padding: calc(var(--gap) * 2);
			border: 1px solid #ccc;
			background: #eef;
		}
			main #form form > #api label {
				max-width: initial;
			}
		main #form form > #query {
			max-width: 100%;
			display: grid;
			grid-template-columns: 300px 1fr;
			grid-row-gap: calc(var(--gap));
			grid-column-gap:  0;
			grid-column: 1 / 3;
		}
		main #form form > #query:-webkit-full-screen {
			width: 100vw;
			height: 100vh;
			grid-template-rows: max-content 1fr;
			padding: calc(var(--gap) * 2);
			max-width: initial;
		}
			#form form #query > span {
				grid-column: 1 / 3;
				font-size: 90%;
				color: #666;
				font-weight: bold;
				display: flex;
			}
				#form form #query > span #full-screen-editor {
					margin-left: auto;
					cursor: pointer;
					transition: color var(--transition-duration);
				}
				#form form #query > span #full-screen-editor:hover {
					color: var(--color-accent);
				}
			main #form form #editor {
				height: 500px;
			}
			main #form form > #query:-webkit-full-screen #editor {
				height: 100%;
			}
		#form form #schema {
			grid-row: 2;
			overflow: hidden;
			font-weight: normal;
			border: 1px solid #ccc;
			border-right: 0;
			max-height: 500px;
			position: relative;
			display: flex;
			flex-direction: column;
		}
		main #form form > #query:-webkit-full-screen #schema {
			max-height: 100%;
		}
			#form form #schema .NA {
				text-align: center;
				padding: var(--gap);
			}
			#form form #schema input[type=search] {
				width: 100%;
				border: 0;
				border-bottom: 1px solid #ccc;
				background: #fff;
			}
			#form form #schema ul {
				padding: 0;
				list-style: none;
				margin: 0;
				overflow: auto;
			}
			#form form #schema ul ul {
				border-left: 1px dashed #999;
				padding-left: 10px;
				margin-left: 10px;
			}
				#form form #schema li {
					white-space: nowrap;
					position: relative
				}
				#form form #schema li:before {
					content: '–';
					position:absolute;
					color: #999;
					top: 5px;
					left: -10px;
				}
					#form form #schema li .name {
						display: grid;
						padding: 8px;
						transition: background var(--transition-duration),
									box-shadow var(--transition-duration);
						grid-template-columns: max-content 1fr max-content;
						grid-gap: var(--gap);
					}
					#form form #schema li .name:hover {
						background: rgba(0, 0, 0, 0.10);
					}
					#form form #schema li .name:active {
						box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4);
					}
					#form form #schema li.opened > .name {
						background: rgba(0, 0, 0, 0.10);
					}
						#form form #schema li .name small {
							margin-left: auto;
							color: #999;
						}

	main #form #test-container {
		grid-column: 1 / 3;
	}
		main #form #test-container .data-source {
			background: #fff;
			overflow: auto;
			user-select: text;
		}
			main #form #test-container .data-source .visualization .container {
				max-height: 400px;
			}

	main #form > h3 {
		border-bottom: 1px dashed #999;
		margin: var(--gap) 0 0 0;
	}
	main #form #missing-filters {
		background: #fcc;
		padding: 16px;
		grid-column: 1 / 3;
		border: 1px solid #ccc;
		font-weight: normal;
	}
	main #form #transformations-container {
		grid-column: 1 / 3;
	}
	main #form #transformations {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: calc(var(--gap) * 2);
	}
		main #form #transformations .transformation {
			border: 1px solid #ccc;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: calc(var(--gap) * 2);
			align-items: flex-start;
			padding: calc(var(--gap) * 2);
		}
		main #form #transformations .transformation > div {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: calc(var(--gap) * 2);
		}
			main #form #transformations .transformation h4 {
				margin: 0;
				border-bottom: 1px dashed #ccc;
				padding-bottom: var(--gap);
				font-size: 90%;
			}
		main #form #transformations .add-new-transformation {
			max-width: fit-content;
		}
		main #form #transformations .transformation .row,
		main #form #transformations .transformation .column,
		main #form #transformations .transformation .value {
			display: grid;
			grid-auto-flow: column;
			grid-gap: calc(var(--gap) * 2);
		}
		main #form #transformations .transformation button {
			white-space: nowrap;
		}
		main #form #transformations .transformation .row button svg,
		main #form #transformations .transformation .column button svg,
		main #form #transformations .transformation .value button svg {
			margin: 0;
		}
	main .form.filter,
	main .form.visualization {
		padding: 0;
		margin: calc(var(--gap) * 2) 0;
		grid-template-columns: repeat(10, auto);
		grid-gap: calc(var(--gap) * 2);
		overflow: auto;
		justify-content: flex-start;
	}
	main .form.filter::-webkit-scrollbar,
	main .form.visualization::-webkit-scrollbar {
		display: none;
	}
	main .toolbar button.unsaved[type=submit],
	main .form.filter.unsaved button[type=submit],
	main .form.visualization.unsaved button[type=submit] {
		background: #c33;
		color: #fff;
	}
		main #form .NA {
			margin: 5px;
		}
		main #form .save,
		main #form .delete {
			white-space: nowrap;
		}
		main #form input.red {
			box-shadow: inset -15px 0 #c11;
		}
		main h3 {
			display: flex;
		}
		main h3 span {
			margin: 0px 5px -1px;
		}
		main #row-count {
			margin-left: auto;
			font-size: 12px;
			font-weight: normal;
			margin-top: 2px;
			color: #999;
		}
		.tab {
			border: 1px dashed #999;
			border-bottom-color: transparent;
			padding: 2px 10px 0;
			font-size: 12px;
			cursor: pointer;
			background-clip: padding-box !important;
		}
		.tab.active {
			color: var(--theme-accent);
			border-bottom: solid #eee;
		}
		.tab:hover {
			background: #ddd;
		}
		.tab.active:hover {
			border-bottom: #000;
		}
		.tab:active {
			box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
		}
		main #form #visualizations-list {
			margin-top: calc(var(--gap) * 2);
		}
			main #form #visualizations-list table {
				background: #fff;
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
			}
		main #visualization-preview.show {
			display: grid;
			grid-template-columns: 250px 1fr;
			grid-column-gap: calc(var(--gap) * 2);
			align-items: flex-start;
		}
			main #visualization-preview .toolbar {
				grid-column: 1 / 3;
			}
			main #visualization-form {
				background: #fff;
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
				margin-top: 35px;
			}
			main .preview {
				min-height: 500px;
				position: sticky;
				top: 50px;
				display: flex;
				width: calc(100vw - 250px - 45px);
			}
				main .preview .data-source {
					height: 500px;
					width: 100%;
				}

		main #visualization-form .options label {
			display: grid;
			grid-gap: calc(var(--gap) * 2);
			max-width: 100%;
		}
		main #visualization-form .options h4 {
			margin-top: 0;

		}
		main #visualization-form .subform {
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
			display: grid;
			grid-gap: calc(var(--gap) * 2);
			padding: calc(var(--gap) * 2);
			border: 1px solid #ccc;
			background: #eef;
		}
			main #visualization-form .subform select[multiple] {
				height: 75px;
				padding: 0
			}
				main #visualization-form .subform select[multiple] option {
					padding: 3px 5px;
				}