main > #stage-switcher {
	display: flex;
	overflow: auto;
	background: #fff;
}
	main > #stage-switcher .stage {
		display: grid;
		grid-template-columns: auto auto;
		padding: calc(var(--gap) * 2);
		flex: 1;
		text-align: center;
		justify-content: center;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		cursor: pointer;
		grid-row-gap: var(--gap);
		grid-column-gap: calc(var(--gap) * 2);
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration),
					color var(--transition-duration);
	}
	main > #stage-switcher .stage:first-child {
		border-left: 0;
	}
	main > #stage-switcher .stage:not(.disabled):not(.selected):hover {
		background: #ffe;
	}
	main > #stage-switcher .stage:not(.disabled):active {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
	}
	main > #stage-switcher .stage.selected {
		background: #FFC;
	}
	main > #stage-switcher .stage.disabled {
		color: #ccc;
		cursor: default;
		background: #eee;
	}
		main > #stage-switcher .stage > .order {
			grid-row: 1 / 3;
			font-size: calc(14px + 0.6vw);
			color: #aaa;
			border: 1px solid #ccc;
			border-radius: 100px;
			width: calc(20px + 1.25vw);
			height: calc(20px + 1.25vw);
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;
			transition: color var(--transition-duration),
						border var(--transition-duration);
		}
		main > #stage-switcher .stage.selected > .order,
		main > #stage-switcher .stage:not(.disabled):hover > .order {
			border: 1px solid #999;
			color: #999;
		}
		main > #stage-switcher .stage.disabled > .order {
			color: #ccc;
		}
		main > #stage-switcher .stage > .title {
			font-size: 110%;
			align-self: end;
			white-space: nowrap;
			font-weight: bold;
		}
		main > #stage-switcher .stage > small {
			color: #999;
			transition: color var(--transition-duration);
		}
		main > #stage-switcher .stage:not(.disabled):hover {
			color: #666;
		}
		main > #stage-switcher .stage.disabled > small {
			color: #ccc;
		}

main .unsaved {
	background: #c33;
	color: #fff;
}
main section .toolbar {
	padding-top: 0;
}
main .form {
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

#stage-pick-report table {
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
	#stage-pick-report table thead tr th {
		padding: 5px 8px;
		position: sticky;
		top: 48px;
		z-index: 2;
		background: var(--color-primary);
		color: var(--color-primary-text);
	}
	#stage-pick-report table thead tr.search th {
		padding: calc(var(--gap) * 2) var(--gap);
		position: sticky;
		top: 0;
		z-index: 2;
		background: #fff;
		color: var(--color-primary-text);
	}
		#stage-pick-report table thead tr.search th input {
			width: 100%;
		}


main #stage-define-report #source {
	flex-wrap: wrap;
	justify-content: left;
	flex-direction: row;
	max-width: none;
}
	main #stage-define-report #source span {
		flex-basis: 100%;
	}
	main #stage-define-report #source select {
		max-width: 100px;
	}
main #stage-define-report form > #api {
	grid-column: 1 / 3;
	display: grid;
	grid-row-gap: calc(var(--gap) * 2);
	padding: calc(var(--gap) * 2);
	border: 1px solid #ccc;
	background: #eef;
}
	main #stage-define-report form > #api label {
		max-width: initial;
	}
main #stage-define-report form > #query {
	max-width: 100%;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-row-gap: calc(var(--gap));
	grid-column-gap:  0;
	grid-column: 1 / 3;
}
main #stage-define-report form > #query:-webkit-full-screen {
	width: 100vw;
	height: 100vh;
	grid-template-rows: max-content 1fr;
	padding: calc(var(--gap) * 2);
	max-width: initial;
}
	#stage-define-report form #query > span {
		grid-column: 1 / 3;
		font-size: 90%;
		color: #666;
		font-weight: bold;
		display: flex;
	}
		#stage-define-report form #query > span #full-screen-editor {
			margin-left: auto;
			cursor: pointer;
			transition: color var(--transition-duration);
		}
		#stage-define-report form #query > span #full-screen-editor:hover {
			color: var(--color-accent);
		}
	main #stage-define-report form #editor {
		height: 500px;
	}
	main #stage-define-report form > #query:-webkit-full-screen #editor {
		height: 100%;
	}
#stage-define-report form #schema {
	grid-row: 2;
	overflow: hidden;
	font-weight: normal;
	border: 1px solid #ccc;
	border-right: 0;
	max-height: 500px;
	position: relative;
	display: flex;
	flex-direction: column;
}
main #stage-define-report form > #query:-webkit-full-screen #schema {
	max-height: 100%;
}
	#stage-define-report form #schema .NA {
		text-align: center;
		padding: var(--gap);
	}
	#stage-define-report form #schema input[type=search] {
		width: 100%;
		border: 0;
		border-bottom: 1px solid #ccc;
		background: #fff;
	}
	#stage-define-report form #schema ul {
		padding: 0;
		list-style: none;
		margin: 0;
		overflow: auto;
	}
	#stage-define-report form #schema ul ul {
		border-left: 1px dashed #999;
		padding-left: 10px;
		margin-left: 10px;
	}
		#stage-define-report form #schema li {
			white-space: nowrap;
			position: relative
		}
		#stage-define-report form #schema li:before {
			content: '–';
			position:absolute;
			color: #999;
			top: 5px;
			left: -10px;
		}
			#stage-define-report form #schema li .name {
				display: grid;
				padding: 8px;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration);
				grid-template-columns: max-content 1fr max-content;
				grid-gap: var(--gap);
			}
			#stage-define-report form #schema li .name:hover {
				background: rgba(0, 0, 0, 0.10);
			}
			#stage-define-report form #schema li .name:active {
				box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4);
			}
			#stage-define-report form #schema li.opened > .name {
				background: rgba(0, 0, 0, 0.10);
			}
				#stage-define-report form #schema li .name small {
					margin-left: auto;
					color: #999;
				}