html, body {
	height: 100%;
}
main {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: calc(var(--gap) * 2);
	padding: 0 calc(var(--gap) * 2) calc(var(--gap) * 2);
	height: 100%;
}
main.preview-bottom {
	grid-template-rows: max-content calc(60vh - 155px) 40vh;
}
	main button.unsaved {
		background: #c33;
		color: #fff;
	}
	main section .toolbar {
		padding-top: 0;
	}
#stage-switcher {
	display: flex;
	background: #fff;
	min-height: 64px;
	grid-column: 1 / 4;
	grid-row: 1;
	border: 1px solid #ccc;
	border-top: 0;
	overflow: auto;
}
#stage-switcher::-webkit-scrollbar {
	display: none;
}
	#stage-switcher .stage {
		display: grid;
		grid-template-columns: auto auto;
		padding: calc(var(--gap) * 2);
		flex: 1;
		text-align: center;
		justify-content: center;
		border-left: 1px solid #ccc;
		cursor: pointer;
		position: relative;
		grid-row-gap: var(--gap);
		grid-column-gap: calc(var(--gap) * 2);
		transition: background var(--transition-duration),
					box-shadow var(--transition-duration),
					color var(--transition-duration);
	}
	#stage-switcher .stage:first-child {
		border-left: 0;
	}
	#stage-switcher .stage:not(.disabled):not(.selected):hover {
		background: #ffe;
	}
	#stage-switcher .stage:not(.disabled):active {
		box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
	}
	#stage-switcher .stage.selected {
		background: var(--color-selected);
		color: var(--color-selected-text);
	}
	#stage-switcher .stage.disabled {
		color: #ccc;
		cursor: default;
		background: #eee;
	}
		#stage-switcher .stage > .order {
			grid-row: 1 / 3;
			font-size: calc(14px + 0.6vw);
			color: #aaa;
			border: 1px solid #ccc;
			border-radius: 100px;
			width: calc(20px + 1.25vw);
			height: calc(20px + 1.25vw);
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;
			transition: color var(--transition-duration),
						border var(--transition-duration);
		}
		#stage-switcher .stage.selected > .order,
		#stage-switcher .stage:not(.disabled):hover > .order {
			border: 1px solid #999;
			color: #999;
		}
		#stage-switcher .stage.disabled > .order {
			color: #ccc;
		}
		#stage-switcher .stage > .title {
			font-size: 110%;
			align-self: end;
			white-space: nowrap;
			font-weight: bold;
		}
		#stage-switcher .stage > small {
			color: #999;
			transition: color var(--transition-duration);
		}
		#stage-switcher .stage:not(.disabled):hover {
			color: #666;
		}
		#stage-switcher .stage.disabled > small {
			color: #ccc;
		}

main .form {
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#stages {
	display: flex;
	grid-column: 1 / 4;
	grid-row: 2;
	overflow-y: auto;
}
main.preview-top #stages {
	grid-row: 3;
	height: 40vh;
}
main.preview-bottom #stages {
	grid-row: 2;
}
main.preview-right #stages {
	grid-column: 1;
	height: calc(100vh - 135px);
}
main.preview-left #stages {
	grid-column: 3;
	height: calc(100vh - 135px);
}
	#stages section.section.show {
		padding: 0;
		width: 100%;
	}
	#stages .toolbar #history-toggle {
		margin-left: auto;
		right: calc(var(--gap) * 2);
		position: absolute;
	}
#stage-configure-report .toolbar {
	justify-content: space-between;
}
	#stage-configure-report #added-by {
		align-self: center;
	}
#stage-configure-report #configure-report-form {
	display: grid;
	flex-wrap: wrap;
	grid-gap: calc(var(--gap) * 2);
	grid-template-columns: 1fr 1fr;
}
#stage-configure-report > h2 {
	margin: calc(var(--gap) * 2) 0;
}

#stage-pick-report table {
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
	#stage-pick-report table thead tr th {
		position: sticky;
		top: 48px;
		cursor: pointer;
	}
	#stage-pick-report table thead tr.search th {
		padding: calc(var(--gap) * 2) var(--gap);
		top: 0;
		background: #fff;
	}
		#stage-pick-report table thead tr.search th input {
			width: 100%;
		}
	#stage-pick-report table tbody tr .tag {
		background: var(--color-accent);
		color: var(--color-accent-text);
		cursor: pointer;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		padding: 3px 8px;
		margin: 2px;
		border-radius: 2px;
		font-size: 80%;
	}

#stage-define-report.show {
	display: flex;
	flex-direction: column;
}
	#stage-define-report #api {
		grid-column: 1 / 3;
		display: grid;
		grid-row-gap: calc(var(--gap) * 2);
		padding: calc(var(--gap) * 2);
		border: 1px solid #ccc;
		background: #fff;
	}
		#stage-define-report #api label {
			max-width: initial;
		}

	#define-report-parts {
		display: flex;
		height: 100%;
	}
		#stage-define-report #schema {
			overflow: auto;
			font-weight: normal;
			height: 100%;
			position: relative;
			display: flex;
			order: 1;
			flex: 1 300px;
			max-width: 300px;
			flex-direction: column;
			background: #fff;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			margin-right: calc(var(--gap) * 2);
		}
			#stage-define-report #schema .NA {
				text-align: center;
				padding: var(--gap);
			}
			#stage-define-report #schema input[type=search] {
				width: 100%;
				border: 0;
				border-bottom: 1px solid #ccc;
				position: sticky;
				top: 0;
				z-index: 1;
			}
			#stage-define-report #schema ul {
				padding: 0;
				list-style: none;
				margin: 0;
				/* overflow: auto; */
			}
			#stage-define-report #schema ul ul {
				border-left: 1px dashed #999;
				padding-left: 10px;
				margin-left: 10px;
			}
				#stage-define-report #schema li {
					white-space: nowrap;
					position: relative
				}
				#stage-define-report #schema li:before {
					content: '–';
					position:absolute;
					color: #999;
					top: 5px;
					left: -10px;
				}
					#stage-define-report #schema li .name {
						display: grid;
						padding: 8px;
						transition: background var(--transition-duration),
									box-shadow var(--transition-duration);
						grid-template-columns: max-content auto max-content;
						grid-gap: var(--gap);
						max-width: 100%;
						overflow: hidden;
					}
					#stage-define-report #schema li .name:hover {
						background: rgba(0, 0, 0, 0.10);
					}
					#stage-define-report #schema li .name:active {
						box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4);
					}
					#stage-define-report #schema li.opened > .name {
						background: rgba(0, 0, 0, 0.10);
					}
						#stage-define-report #schema li .name span {
							overflow: hidden;
							text-overflow: ellipsis;
						}
						#stage-define-report #schema li .name small {
							margin-left: auto;
							color: #999;
						}

		#stage-define-report #define-report-form {
			order: 2;
			flex: 1 60%;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			height: 100%;
			grid-template-rows: max-content 1fr;
		}
			#stage-define-report #define-report-form .ace_editor {
				height: 100%;
			}
			#stage-define-report #define-report-form.form .mongo-query {
				max-width: 100%;
			    grid-template-rows: max-content 1fr;
			}
		#stage-define-report .upload-file {
			order: 2;
			background: #fff;
			height: 100%;
			align-items: center;
			display: flex;
			flex-direction: column;
			color: #999;
			justify-content: center;
			cursor: pointer;
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration),
						color var(--transition-duration);
		}
		#stage-define-report .upload-file:active {
			box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
		}
		#stage-define-report .upload-file.drag-over {
			background: #ccc;
		}
			#stage-define-report .upload-file h2 {
				font-weight: normal;
				font-size: calc(20px + 1vw);
				margin: 0;
				pointer-events: none;
			}
			#stage-define-report .upload-file small {
				font-size: calc(12px + 0.3vw);
				margin: var(--gap) 0;
				pointer-events: none;
			}
			#stage-define-report .upload-file .message {
				background: none;
				padding: 0;
				box-shadow: none;
				color: #666;
				font-size: calc(20px + 0.8vw);
				pointer-events: none;
			}
			#stage-define-report .upload-file .warning {
				color: #a00;
			}
			#stage-define-report .upload-file .notice {
				color: #191;
			}

		#stage-define-report #filters {
			order: 3;
			flex: 1 40%;
			margin-left: calc(var(--gap) * 2);
			overflow: auto;
		}
			#stage-define-report #filters #missing-filters {
				background: #fcc;
				padding: 16px;
				flex: 1;
				font-weight: normal;
				margin-bottom: calc(var(--gap) * 2);
			}
			#stage-define-report #filters .toolbar {
				position: sticky;
				top: 0;
				z-index: 1;
			}
			#stage-define-report #filters table,
			#stage-define-report #filters .form {
				background: #fff;
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			}
		#stage-define-report .query-history {
			order: 3;
			flex: 1 50%;
			margin-left: calc(var(--gap) * 2);
			overflow: auto;
			min-width: 50%;
		}
			#stage-define-report .query-history .info .query {
				height: calc(100% - 38px);
			}
		#stage-define-report .edit-report-data {
			overflow: auto;
			width: 100%;
			border-top: 1px dashed #ccc;
			padding-top: calc(var(--gap) * 2);
		}
			#stage-define-report .edit-report-data table {
				background: #fff;
			}
				#stage-define-report .edit-report-data table thead th:not(.action) {
					cursor: pointer;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				#stage-define-report .edit-report-data table thead th:not(.action):hover {
					background: rgba(255, 255, 255, 0.3);
				}
				#stage-define-report .edit-report-data table thead th:not(.action):active {
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
				}
				#stage-define-report .edit-report-data table tfoot {
					text-align: center;
					border-top: 1px solid #999;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				#stage-define-report .edit-report-data table tfoot:hover {
					background: #ddd;
					cursor: pointer;
				}
				#stage-define-report .edit-report-data table tfoot:active {
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
				}

#stage-pick-visualization table {
	background: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

#stage-configure-visualization.show {
	display: grid;
	grid-template-rows: repeat(4, max-content);
	overflow: auto;
}
	#stage-configure-visualization .toolbar {
		padding: 0;
		position: sticky;
		top: 0;
		z-index: 2;
		background: #eee;
	}
	#stage-configure-visualization .toolbar .right {
		margin-left: auto;
	}
	#stage-configure-visualization h3 {
		color: #444;
		border-bottom: 1px dashed #999;
		cursor: pointer;
		position: sticky;
		top: 28px;
		padding: var(--gap);
		margin: var(--gap) 0 calc(var(--gap) * 2);
		display: flex;
		align-items: center;
		font-size: 100%;
		font-weight: normal;
		z-index: 1;
		background: #eee;
		transition: color var(--transition-duration);
	}
	#stage-configure-visualization h3:hover {
		color: inherit;
	}
		#stage-configure-visualization h3 > i {
			margin-right: var(--gap);
			width: 10px;
			transition: margin-right var(--transition-duration);
		}
		#stage-configure-visualization h3:hover > i {
			margin-right: calc(var(--gap) * 2);
		}
	#stage-configure-visualization h4 {
		margin: 0 0 calc(var(--gap) * 2)
	}
	#stage-configure-visualization fieldset {
		background: #fff;
		padding: calc(var(--gap) * 2);
		margin: 0;
		border-radius: 3px;
		border: 0;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}
		#stage-configure-visualization fieldset legend {
			font-size: 90%;
			border: 1px solid #ccc;
			padding: 2px 8px;
			border-radius: 5px;
			color: #888;
			background: #fff;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		}
	#stage-configure-visualization .subform {
		display: grid;
		grid-gap: calc(var(--gap) * 2);
		padding: calc(var(--gap) * 2);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
	}

	#stage-configure-visualization .axes,
	#stage-configure-visualization .layers {
	}
		#stage-configure-visualization .axes .form,
		#stage-configure-visualization .layers .form {
			background: transparent;
			padding: 0;
		}
			#stage-configure-visualization .layers .form .opacity > span {
				justify-content: space-between;
			}
			#stage-configure-visualization .layers .form .opacity > span .value {
				font-weight: normal;
				color: #999;
			}
			#stage-configure-visualization .layers .form .gradient {
				grid-template-columns: 220px 220px;
				display: grid;
				grid-gap: calc(var(--gap) * 3);
			}
				#stage-configure-visualization .layers .form .gradient div {
					height: 15px;
					cursor: pointer;
					margin: 4px 0;
					box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
				}
		#stage-configure-visualization .axes .add-axis .form,
		#stage-configure-visualization .layers .add-layer .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			grid-gap: calc(var(--gap) * 2);
		}
	#stage-configure-visualization #configure-visualization-form {
		display: flex;
		flex-direction: column;
	}
	#stage-configure-visualization .liner-visualization-options {
		display: flex;
		flex-direction: column;
	}
	#stage-configure-visualization #transformations-preview {
		height: 15px;
		margin-left: auto;
		display: flex;
		align-items: center;
		padding: 0 10px;
		font-size: 70%;
	}
		#stage-configure-visualization #transformations-preview svg {
			margin: 0;
		}
	#stage-configure-visualization #transformations {
	}
		#stage-configure-visualization #transformations .transformation {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: calc(var(--gap) * 2);
			align-items: flex-start;
		}
			#stage-configure-visualization #transformations .transformation > div {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: calc(var(--gap) * 2);
			}
				#stage-configure-visualization #transformations .transformation h4 {
					margin: 0;
					border-bottom: 1px dashed #ccc;
					padding-bottom: var(--gap);
					font-size: 90%;
				}

			#stage-configure-visualization #transformations .transformation .form-row {
				display: grid;
				grid-auto-flow: column;
				grid-gap: calc(var(--gap) * 2);
			}
			#stage-configure-visualization #transformations .transformation .form-row button svg {
				margin: 0;
			}
				#stage-configure-visualization #transformations .transformation input[type=text] {
					width: 100px;
				}
			#stage-configure-visualization #transformations .transformation button {
				white-space: nowrap;
			}
			#stage-configure-visualization #transformations .transformation.stream .joins,
			#stage-configure-visualization #transformations .transformation.stream .columns {
				grid-row: 2;
			}
		#stage-configure-visualization #transformations .add-transformation .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			background: transparent;
			padding: 0;
			grid-gap: calc(var(--gap) * 2);
		}
	#stage-configure-visualization #dashboards {
	}
		#stage-configure-visualization #dashboards .form {
			grid-template-columns: repeat(5, max-content);
			grid-gap: calc(var(--gap) * 2);
		}
		#stage-configure-visualization #dashboards .add-dashboard .form {
			grid-template-columns: repeat(3, max-content);
			background: transparent;
			padding: 0;
		}
			#stage-configure-visualization #dashboards .delete:hover {
				background: #c33;
				border-color: transparent;
			}
				#stage-configure-visualization #dashboards .delete > i,
				#stage-configure-visualization #dashboards .view-dashboard > i {
					margin: 0;
				}
			#stage-configure-visualization #dashboards .dashboard_id {
				width: 200px;
			}

	#stage-configure-visualization #filters {
	}
		#stage-configure-visualization #filters .form {
			grid-template-columns: minmax(max-content, 200px) max-content;
			background: transparent;
			grid-gap: calc(var(--gap) * 2);
			padding: 0;
		}
		#stage-configure-visualization #filters .delete:hover {
			border-color: transparent;
			background: #c33;
		}
			#stage-configure-visualization #filters .delete > i {
				margin: 0;
			}

	#stage-configure-visualization .configuration-section > h3 .count {
		color: #bbb;
		font-size: 90%;
		margin-left: auto;
		font-weight: normal;
		letter-spacing: 0.25px;
	}
	#stage-configure-visualization .configuration-section > h3 .count.transformation {
		margin-left: 3px;
	}
	#stage-configure-visualization .configuration-section fieldset .form {
		box-shadow: none;
	}
		#stage-configure-visualization .configuration-section .form label span {
			display: flex;
			align-items: center;
		}
		#stage-configure-visualization .configuration-section .body {
			display: grid;
			grid-gap: calc(var(--gap) * 2);
			padding: 0 calc(var(--gap) * 2) calc(var(--gap) * 2) 0;
			background: #eee;
		}
			#stage-configure-visualization .configuration-section .body > .NA {
				background: #fff;
				padding: calc(var(--gap) * 2);
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
				border-radius: 3px;
			}
	#stage-configure-visualization .configuration-section .theme-list {
		padding: 10px;
		list-style-type: none;
		font-size: 90%;
		font-weight: bold;
		color: #444;
		margin: 0;
		display: grid;
		grid-template-columns: max-content max-content max-content;
		grid-gap: calc(var(--gap) * 4);
		position: relative;
		justify-content: space-around;
	}
		#stage-configure-visualization .configuration-section .theme-list .theme {
			display: flex;
			justify-content: center;
			cursor: pointer;
			height: 140px;
			width: 160px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
		}
		#stage-configure-visualization .configuration-section .theme-list .theme:hover,
		#stage-configure-visualization .layers .form .gradient div:hover {
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			transform: perspective(500px) translatez(30px)
		}
		#stage-configure-visualization .configuration-section .theme-list .theme.selected,
		#stage-configure-visualization .layers .form .gradient div.selected {
			border: 1px solid #80b7fa;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
		}
			#stage-configure-visualization .configuration-section .theme-list .theme .name {
				position: absolute;
				font-size: 120%;
				letter-spacing: 0.5px;
				font-weight: normal;
				margin-top: 115px;
				color: #7d7d7d;
			}
			#stage-configure-visualization .configuration-section .theme-list .theme-image {
				overflow: hidden;
			}
				#stage-configure-visualization .configuration-section .theme-list .theme-image .road {
					height: 10px;
					transform: rotate(27deg);
					width: 153px;
					margin: 18px;
				}
				#stage-configure-visualization .configuration-section .theme-list .theme-image .water {
					height: 16px;
					margin-top: 20px;
				}
				#stage-configure-visualization .configuration-section .theme-list .theme-image .park {
					height: 20px;
					transform: rotate(28deg);
					width: 250px;
					margin-left: -65px;
				}

#add-visualization-picker {
	grid-column: 1 / 3;
}
#add-visualization-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	#add-visualization-form figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 350px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		transform: perspective(500px) translatez(0);
		transition: box-shadow var(--transition-duration),
					transform var(--transition-duration);
	}

	#add-visualization-form figure:hover {
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
		transform: perspective(500px) translatez(30px);
	}
		#add-visualization-form img,
		#add-visualization-form .NA,
		#add-visualization-form .loader {
			height: auto;
			width: 100%;
			height: 233.33px;
		}
		#add-visualization-form img {
			opacity: 0;
			transition: opacity var(--transition-duration);
		}
		#add-visualization-form img.show {
			opacity: 1;
		}
		#add-visualization-form .loader {
			font-size: 200%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #8d6e63;
			position: absolute;
			top: 0;
		}
		#add-visualization-form .NA {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #8d6e63;
			font-size: 110%;
			position: absolute;
			top: 0;
		}
		#add-visualization-form figcaption {
			background: #D7CCC8;
			width: 100%;
			padding: calc(var(--gap) * 2);
			text-align: center;
			transition: background var(--transition-duration);
			font-size: 125%;
		}

main.preview-top #preview {
	grid-column: 1 / 4;
	grid-row: 2;
	height: 40vh;
}
main.preview-bottom #preview {
	height: 40vh;
	grid-column: 1 / 4;
}
main.preview-right #preview {
	grid-column: 2 / 4;
	grid-row: 2;
	height: calc(100vh - 135px);
}
main.preview-left #preview {
	grid-column: 1 / 3;
	grid-row: 2;
	height: calc(100vh - 135px);
}
	#preview .unsaved .container {
		background: #fcc;
	}
	#preview .data-source {
		max-height: 600px;
	}