main .dataset {
	position: relative;
	width: 100%;
}
	main .dataset input[type=search],
	main .dataset input[type=date] {
		width: 100%;
	}
	main .dataset .options {
		position: absolute;
		background: #fff;
		z-index: 3;
		width: 100%;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		max-height: 250px;
		overflow: auto;
		border:  1px solid #ccc;
		border-top: 0;
	}
		main .dataset label {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			padding: calc(var(--gap) * 1.5);
			margin: 0;
			max-width: 100%;
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		main .dataset label:hover {
			background: #ddd;
		}
		main .dataset label:active {
			box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
		}
		main .dataset .options label.selected,
		main .dataset .options label.selected:hover {
			background: var(--color-selected);
			color: var(--color-selected-text);
		}
			main .dataset label input {
				margin: 0;
			}
		main .dataset .options header,
		main .dataset .options footer {
			background: #fff;
			position: sticky;
			font-size: 85%;
			padding: var(--gap);
			color: #999;
			display: grid;
			grid-template-columns: auto auto auto;
			grid-gap: calc(var(--gap) * 2);
			justify-content: flex-start;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		}
		main .dataset .options header {
			border-bottom: 1px dashed #999;
			top: 0;
		}
			main .dataset .options header a {
				cursor: pointer;
			}
		main .dataset .options footer {
			border-top: 1px dashed #999;
			bottom: 0;
		}
		main .dataset .options .NA {
			padding: calc(var(--gap) * 2);
			color: #999;
			text-align: center;
		}

main .data-source {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
main .data-source:not(.flush):hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
main .data-source.flush {
	box-shadow: none;
}
	main .data-source > .warning {
		margin: 0;
		overflow: auto;
		user-select: text;
		font-family: inherit;
		background: #f1f1f1;
		color: #aaa;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
		main .data-source > .warning h2 {
			font-size: calc(15px + 0.8vw);
			font-weight: normal;
			margin: 10px 0;
		}
		main .data-source > .warning span {
			font-size: calc(10px + 0.3vw);
			color: #bbb;
		}
	main .data-source > header {
		display: flex;
		align-items: center;
		overflow: auto;
		white-space: nowrap;
		padding: calc(var(--gap) * 2);
	}
	main .data-source > header::-webkit-scrollbar {
		display: none;
	}
		main .data-source > header > .right {
			margin-left: auto;
		}
		main .data-source > header h2 {
			font-size: 18px;
			margin: 0 auto 0 0;
			padding: 0;
			color: #333;
			font-weight: normal;
			white-space: nowrap;
			line-height: inherit;
			user-select: text;
		}
			main .data-source > header h2 .id {
				color: #aaa;
				font-size: 90%;
				opacity: 0;
				transition: opacity var(--transition-duration);
			}
			main .data-source > header h2:hover .id {
				opacity: 1;
			}
		main .data-source > header .actions {
		}
			main .data-source > header .actions > * {
				font-size: 85%;
				padding: 4px 6px;
				width: 24px;
				display: inline-block;
				text-align: center;
				color: inherit;
			}
			main .data-source > header .actions a {
				opacity: 0;
				transition: opacity var(--transition-duration);
			}
			main .data-source > header:hover .actions a {
				opacity: 1;
			}
			main .data-source > header a:hover {
				color: var(--color-accent);
			}
			main .data-source > header .grey {
				color: #999;
			}
	main .data-source .toolbar {
		background: transparent;
		padding: 0 calc(var(--gap));
		margin-bottom: calc(var(--gap) * 2);
		font-size: 95%;
		display: flex;
	}
	main .data-source .toolbar::-webkit-scrollbar {
		display: none;
	}
		main .data-source .toolbar > * {
			margin: 0 5px;
		}
	main .data-source .toolbar.filters {
		grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
		background: rgba(255, 255, 255, 0.8);
		position: absolute;
		border-top: 1px solid #ccc;
		bottom: 0;
		top: 80px;
		z-index: 1;
		left: 0;
		right: 0;
		overflow: auto;
		max-height:  100%;
		margin: 0;
		padding: calc(var(--gap) * 2);
		align-items: flex-start;
	}
		main .data-source .menu-toggle.selected,
		main .data-source .query-toggle.selected,
		main .data-source .description-toggle.selected,
		main .data-source .share-link-toggle.selected,
		main .data-source .export-toggle.selected,
		main .data-source .filters-toggle.selected {
			background: var(--color-accent);
			color: var(--color-accent-text);
			border-color: var(--color-accent);
		}
		main .data-source .download-btn {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 50px;
		}
		main .data-source .download.selected {
			background: var(--color-accent);
			color: var(--color-accent-text);
		}
		main .data-source .download-dropdown-content {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 27px;
			right: 0px;
			z-index: 3;
		}
		main .data-source .download-dropdown-content > button {
			text-align: left;
			border-top: 0;
		}
		main .data-source .download-dropdown-content button:first-child {
			border-top: 1px solid #ccc;
		}
		main .data-source .download-dropdown-content svg {
			width: 10px;
		}
	main .data-source > .description {
		border-top: 1px solid #ccc;
		background: rgba(255, 255, 255, 0.8);
		position: absolute;
		bottom: 0;
		top: 80px;
		z-index: 1;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
	}
		main .data-source > .description .body {
			white-space: pre-wrap;
			padding: calc(var(--gap) * 2);
		}
			main .data-source > .description .body h3 {
				margin: calc(var(--gap) * 2) 0 var(--gap);
				color: #999;
				font-size: 80%;
			}
			main .data-source > .description .body h3:first-child {
				margin-top: 0;
			}
		main .data-source > .description .footer {
			border-top: 1px dashed #ccc;
			padding: 10px;
			font-size: 90%;
			display: flex;
			margin-top:  auto;
			background: rgba(255, 255, 255, 0.5);
		}
			main .data-source > .description .footer > * {
				margin-right: calc(var(--gap) * 2);
			}
			main .data-source > .description .footer > *:last-child {
				margin-right: 0;
			}
			main .data-source > .description .footer .right {
				margin-left: auto;
			}
			main .data-source > .description .footer a {
				color: #333;
				cursor: pointer;
			}
			main .data-source > .description .footer .visible-to .count:hover {
				text-decoration: underline;
				cursor: pointer;
			}
			main .data-source > .description .footer .label {
				font-size: 100%;
				color: #999;
			}
	main .data-source > .query {
		padding: 10px;
		user-select: text;
		font-family: monospace;
		max-height: 100%;
		overflow: auto;
		border-top: 1px solid #ccc;
		background: rgba(255, 255, 255, 0.8);
		position: absolute;
		bottom: 0;
		top: 0;
		z-index: 1;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		top: 80px;
	}
    main .data-source > .export-json {
          background: #fff;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
          padding: 10px;
          margin-top: calc(var(--gap) * 2);
          user-select: text;
          font-family: monospace;
          max-height: 150px;
          overflow: auto;
    }
	main .data-source > .share-link {
		background: #fff;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		padding: 10px;
		margin-top: calc(var(--gap) * 2);
	}
		main .data-source > .share-link input {
			width: 100%;
		}
	main .data-source .column .blanket .form > footer,
	.visualization.table thead tr th.heading .compact footer {
		display: flex;
		flex-direction: row;
		position: sticky;
		font-size: 110%;
		bottom: 0;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	}
		main .data-source .column .blanket > .form footer button {
			padding: calc(var(--gap) * 2);
			height: auto;
			border-right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
		}
		main .data-source .column .blanket > .form footer button:first-child {
			border-left: 0;
		}
	main .data-source > .drilldown {
		margin-top: calc(var(--gap) * 2);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(0, auto));
		justify-content: flex-start;
		grid-gap: calc(var(--gap) * 2);
		align-items: center;
	}
		main .data-source > .drilldown a {
			padding: var(--gap) calc(var(--gap) * 2);
			border: 1px solid #ccc;
			background: #fff;
			transition: background var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		main .data-source > .drilldown a:hover {
			text-decoration: none;
			background: #eff;
		}
		main .data-source > .drilldown a:active {
			box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
		}
	main .data-source > .columns {
		display: flex;
		width: 100%;
		overflow: auto;
		order: 1;
		padding: 0 var(--gap);
		height: 37px;
		transition: filter var(--transition-duration);
	}
	main .data-source > .columns.blur {
		filter: blur(2px);
	}
	main .data-source > .columns.over-flow::after {
		background: -webkit-linear-gradient(left, #eee, #ccc);
		content: "\00a0\00a0\00a0\00a0\00a0";
		position: sticky;
		right: 0;
		margin-left: auto;
		width: 50px;
		display: none;
	}
	main .data-source > .columns::-webkit-scrollbar {
		display: none;
	}
		main .data-source > .columns .column {
			display: flex;
			position: relative;
			margin-right: var(--gap);
			transition: opacity var(--transition-duration);
		}
		main .data-source > .columns .column.disabled > span,
		main .data-source > .columns .column.disabled > button {
			background: #eee;
			opacity: 0.5;
		}
		main .data-source > .columns .column.drag-enter:before {
			content: "";
			position: absolute;
			left: -6.5px;
			top: 0;
			bottom: 0;
			background: blue;
			width: 2px;
		}
		main .data-source .column.filtered {
			background: #ff9;
		}
		main .data-source .column.error {
			background: #fcc;
		}
			main .data-source > .columns.being-dragged .column * {
				pointer-events: none;
			}
			main .data-source .column.disabled > .label .color {
				background: #aaa !important;
			}
			main .data-source .column > .label {
				display: flex;
				cursor: pointer;
				align-items: center;
				white-space: nowrap;
				padding: 8px 5px;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration);
			}
			main .data-source > .columns .column.being-dragged > .label {
				border: 1px blue dashed;
				opacity: 0.5;
			}
			main .data-source .column > .label:hover {
				background: #eee;
			}
			main .data-source .column > .label:active {
				box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
			}
				main .data-source .column > .label .color {
					border-radius: 10px;
					width: 20px;
					height: 20px;
					margin-left: var(--gap);
					display: flex;
					justify-content: center;
					align-items: center;
					-webkit-text-stroke-width: 0.5px;
					-webkit-text-stroke-color: #fff;
					text-stroke-width: 0.5px;
					text-stroke-color: #fff;
					font-weight: bold;
					font-size: 110%;
				}
				main .data-source .column > .label .name {
					padding: 0px 5px;
					display: flex;
					flex: 1;
					font-size: 85%;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				main .data-source .column > .label .edit-column {
					opacity: 0;
					padding: 0 var(--gap);
					font-size: 118%;
					font-weight: bold;
				    border-left: 1px solid transparent;
					transition: opacity var(--transition-duration),
								border var(--transition-duration);
				}
				main .data-source .column > .label .edit-column:hover {
					text-decoration: none;
				}
				main .data-source .column > .label:hover .edit-column {
					opacity: 1;
				}

						main .data-source .column form h3,
						main .dialog-box form h3{
							margin: 0;
							padding: var(--gap) 10px;
							background: var(--color-primary);
							color: var(--color-primary-text);
							position: sticky;
							top: 0px;
							font-weight: normal;
							font-size: 100%;
							z-index: 1;
						}
						main .data-source .column form label {
							margin: 0 calc(var(--gap) * 2);
						}
						main .data-source .column form label.drilldown-dropdown {
							max-width: 100%;
						}
							main .data-source .column form .category-group {
								grid-template-columns: auto 200px;
								display: grid;
								grid-gap: calc(var(--gap));
							}
								main .data-source .column form .category-group input {
									flex: 1;
									margin-left: calc(var(--gap) * 2);
									width: calc(100% - 20px);
								}
							main .data-source .column form input {
								transition: background var(--transition-duration);
							}
							main .data-source .column form input[type=color] {
								width: 200px;
								background: transparent;
								padding: 0;
							}
							main .data-source .column form input.error {
								background: rgba(255, 0, 0, 0.25);
							}
							main .data-source .column form small {
								margin-top: 5px;
								color: #999;
								font-weight: normal;
								display: none;
							}
							main .data-source .column form .parameter-list .NA {
								padding: 0 calc(var(--gap) * 2);
							}
	main .data-source .visualization {
		position: relative;
		flex: 1;
		background: #f1f1f1;
		transition: filter var(--transition-duration);
		overflow: auto;
	}
	main .data-source .visualization.blur {
		filter: blur(2px);
	}
		main .data-source .visualization .NA {
			padding: 8px 16px;
		}
		main .data-source .visualization .container {
			width: 100%;
			overflow: auto;
			margin: 0;
			padding: 0;
			height: 100%;
		}
		main .data-source .visualization.table .container {
			overflow: initial;
		}
			.visualization > .container > .loading {
				display: flex;
				align-items: center;
				height: 100%;
				font-size: 250%;
				color: #999;
				margin: 0 auto;
				justify-content: center;
			}

		main .data-source .visualization .tooltip {
			background: var(--color-primary);
			color: var(--color-primary-text);
			box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
			position: absolute;
			font-size: 90%;
			opacity: 1;
			transition: left 100ms,
						top 100ms;
		}
			main .data-source .visualization .tooltip header {
				padding: var(--gap) calc(var(--gap) * 2);
				border-bottom: 1px solid var(--color-primary-text);
				display: flex;
			}
			main .data-source .visualization .tooltip footer {
				padding: var(--gap) calc(var(--gap) * 2);
				border-top: 1px dashed #999;
				display: grid;
				grid-template-columns: auto 1fr;
				grid-column-gap: var(--gap);
			}
			main .data-source .visualization .tooltip .body {
				list-style: none;
				margin: 0;
				padding: var(--gap);
				display: grid;
				grid-template-columns: 100%;
				background: rgba(255, 255, 255, 0.1);
			}
				main .data-source .visualization .tooltip li {
					display: grid;
					grid-template-columns: 16px auto 1fr;
					grid-column-gap: var(--gap);
					align-items: center;
					padding: var(--gap);
				}
				main .data-source .visualization .tooltip li.hover {
					background: rgba(0, 0, 0, 0.1);
				}
					main .data-source .visualization .tooltip .circle {
						width: 80%;
						border-radius: 8px;
						display: inline-block;
						height: 80%;
					}
					main .data-source .visualization .tooltip .value {
						text-align: right;
						margin-left: 10px;
					}
		main .data-source .visualization.table .row-summary {
			font-size: 90%;
			text-align: right;
			position: sticky;
			bottom: 0;
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: var(--gap);
			transition: background var(--transition-duration);
			right: 0;
			left: 0;
		}
		main .data-source .visualization.table .row-summary:hover {
			background: #fff;
		}
			main .data-source .visualization.table .row-summary > span {
				margin-right: 15px;
			}
			main .data-source .visualization.table .row-summary .label {
				color: #666;
				font-weight: normal;
				font-size: 100%;
				padding: 0;
				border-radius: 0;
				vertical-align: initial;
			}

		main .data-source .visualization.json {
			background: #272822;
		}
		main .data-source .visualization.html {
			background: transparent;
		}
		main .data-source .visualization.table {
			overflow: auto;
			width: initial;
			max-width: initial;
			user-select: text;
			border-bottom: 1px solid #ddd;
		}
			.visualization.table table {
				caption-side: bottom;
				background: #fff;
				margin-bottom: 25px;
			}
			.visualization.table thead tr th.heading {
				background: var(--color-primary);
				color: var(--color-primary-text);
				padding-right: 0;
			}
			.visualization.table thead tr th.heading > div {
				display: flex;
			}
			.visualization.table thead tr th.heading .compact > *:not(.show) {
				display: none !important;
			}
			.visualization.table thead tr th.heading .filter-popup {
				width: 15px;
				font-size: 70%;
				margin-right: 5px;
			}
				.visualization.table thead tr th.heading .filter-popup > span {
					transform: rotate(45deg);
					opacity: 0;
					transition: opacity var(--transition-duration);
				}
				.visualization.table thead tr th.heading:hover .filter-popup > span,
				.visualization.table thead tr th.heading .filter-popup > span.open {
					opacity: 1;
				}
				.visualization.table thead tr th.heading.has-filter {
					box-shadow: inset 0px -4px 0px 0px var(--color-accent);
				}
				.visualization.table thead tr th.heading .popup-dropdown {
					position: absolute;
					top: 100%;
					left: 0;
					color: #333;
					width: 250px;
					text-align: initial;
					padding-top: calc(var(--gap) * 2);
					background: #fff;
					box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
				}
				.visualization.table thead tr th.heading .popup-dropdown .form.compact {
						padding: 0;
						grid-gap: calc(var(--gap) * 2);
						box-shadow: none;
				}
					.visualization.table thead tr th.heading .popup-dropdown .compact label {
						max-width: none;
						margin: 0 calc(var(--gap) * 2);
					}
						.visualization.table thead tr th.heading .popup-dropdown .compact label .category-group {
							display: grid;
							grid-template-columns: 1fr 1fr;
							grid-gap: calc(var(--gap) * 2);
						}
				.visualization.table thead .heading .compact label .category-group input,
				.visualization.table thead .heading .compact label .category-group select {
					margin-bottom: 0;
					text-align: initial !important;
				}
 				.visualization.table thead tr th.heading .popup-dropdown footer button {
					 border-right: 0;
					 flex: 1;
				}
					.visualization.table thead tr th.heading .popup-dropdown footer button:first-child {
						border-left: 0;
					}
			.visualization.table thead td {
				padding: 0;
				border: 0;
			}
				.visualization.table thead input,
				.visualization.table thead select {
					width: 100%;
					background-color: white;
					color: #333 !important;
					padding: 5px 8px;
					font-family: sans-serif;
					text-align: center;
					font-size: 12px;
					border-left: 1px solid #999;
					margin-bottom: 10px;
				}
				.visualization.table thead td:first-child input,
				.visualization.table thead td:first-child select {
					border-left: 0;
				}
			.visualization.table table thead th {
				text-transform: capitalize;
				position: sticky;
				cursor: pointer;
				white-space: nowrap;
				padding: 6px 10px;
				border: 0;
				border-right: 1px solid #fff;
				top: 0;
			}
				.visualization.table table thead th div {
					display: flex;
				}
					.visualization.table table thead th span {
						flex: 1;
					}
					.visualization.table table thead th .drilldown {
						margin-right: 3px;
						font-size: 80%;
						color: #ccc;
					}
					.visualization.table table thead th .name {
						margin-left: auto;
 					}
					.visualization.table table thead th .fa {
						opacity: 0;
						transition: opacity var(--transition-duration);
					}
					.visualization.table table thead th:hover .fa {
						opacity: 1;
						margin-left: auto;
					}
		.visualization.table table tr.selected {
			background: #ddf;
			color: var(--theme-light-text);
		}
		.visualization.table table tr.NA {
			text-align: center;
		}
			.visualization.table table tbody tr td.drilldown {
				cursor: pointer;
				transition: background var(--transition-duration);
			}
			.visualization.table table tbody tr td.drilldown:hover {
				background: #fcc;
			}
		.visualization.table table tbody tr.show-rows {
			color:  #666;
			font-size: 90%;
			background: #fff;
			border-top: 1px solid #bbb;
			cursor: pointer;
			transition: box-shadow var(--transition-duration),
						background var(--transition-duration);
		}
		.visualization.table table tbody tr.show-rows:hover {
			background: #ddd !important;
		}
		.visualization.table table tbody tr.show-rows:active {
			box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
		}
			.visualization.table table tbody tr.show-rows td {
				text-align: center;
			}
			.visualization.table table tbody tr.show-rows span {
				margin: 0 15px;
			}

		.visualization.spatial-map .container {
			height: 500px;
		}
		.visualization.cohort {
			overflow: auto;
		}
		.visualization.cohort table {
			width: 100%;
		}
			.visualization.cohort table td:first-child,
			.visualization.cohort table th:first-child {
				white-space: nowrap;
				min-width: 100px;
				border: 0;
			}
			.visualization.cohort table th.sticky,
			.visualization.cohort table td.sticky {
				position: sticky;
				left: 0;
				top: 0;
			}
			.visualization.cohort table th.sticky {
				z-index: 2;
				background: var(--color-primary);
			}
			.visualization.cohort table td.sticky {
				background: #fff;
			}
			.visualization.cohort table td.sticky:nth-child(2n) {
				background: #f1f1f9;
			}
			.visualization.cohort table .sticky:nth-child(2) {
				left: 100px;
			}
			.visualization.cohort th {
				white-space: nowrap;
			}
			.visualization.cohort td {
				text-align: center;
			}
			.visualization.cohort td.href {
				padding: 0;
			}
				.visualization.cohort td a {
					color: #333;
					display: block;
					padding: 8px 15px;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				.visualization.cohort td a:focus,
				.visualization.cohort td a:hover {
					background: rgba(0, 0, 0, 0.3);
					text-decoration: none;
				}
				.visualization.cohort td a:active {
					box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4);
				}


.visualization .container > svg {
	width: 100%;
	height: 100%;
	display: flex;
	padding: calc(var(--gap) * 2);
}
.visualization .container > svg .axis path,
.visualization .container > svg .axis line {
	fill: none;
	stroke: #ddd;
}

.visualization .container > svg .y path {
	display: none;
}
.visualization .container > svg .x path {
	stroke: #999;
	stroke-width: 1px;
}

.visualization .container > svg text.axis-label {
	letter-spacing: 2px;
	fill: #bbb;
	font-weight: bold;
}
.visualization .container > svg text.axis-label.y {
	writing-mode: vertical-lr;
}
.visualization .container > svg .tick text {
	fill: #888;
	font-size: 90%;
}

.visualization .container > svg .clips.drilldown {
	transition: opacity var(--transition-duration);
}
.visualization .container > svg .clips.drilldown:hover {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.visualization .container > svg .line {
	fill: none;
	stroke: steelblue;
	transition: stroke-width var(--transition-duration);
	stroke-width: 1.5px;
}

.visualization .container > svg .line-hover {
	stroke-width: 3px;
}

.visualization .container > svg .reset-zoom {
	fill: #ccc;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: fill var(--transition-duration);
}
.visualization .container > svg .reset-zoom:hover {
	fill: #ddd;
}
	.visualization .container > svg .reset-zoom text {
		fill: #555;
	}

.visualization .container > svg rect.zoom-rectangle {
	fill: #89b;
	fill-opacity: 0.5;
}
	.visualization .container > svg .zoom text {
		font-size: 110%;
		font-weight: bold;
	}
.visualization .container > svg .bar {
	transition: opacity var(--transition-duration);
}
.visualization .container > svg .bar.hover {
	opacity: 0.7;
}
.visualization .container > svg .pie-slice {
	transition: opacity var(--transition-duration);
}
.visualization .container > svg .pie-slice.hover {
	opacity: 0.8;
}
.visualization .container > svg .pie text {
	fill: #fff;
	font-size: 110%;
	font-weight: bold;
	pointer-events: none;
}
.visualization .container > svg circle.bubble {
	opacity: 0.8;
	transition: opacity var(--transition-duration);
}
.visualization .container > svg circle.bubble:hover {
	opacity: 1;
}
.visualization.bigtext .container .value {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: calc(18px + 5vw);
}
.visualization.livenumber .container {
	display: flex;
	flex-wrap: wrap;
}
	.visualization.livenumber .container h5 {
		font-size: calc(14px + 3vw);
		flex: 1 1 100%;
		margin: 0;
		height: 55%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: normal;
	}
	.visualization.livenumber .container .left {
		border-right: 1px solid #ccc;
	}
	.visualization.livenumber .container .left,
	.visualization.livenumber .container .right {
		flex: 1 0 50%;
		height: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #ccc;
		padding: calc(var(--gap) * 2);
	}
		.visualization.livenumber .container .red {
			color: #a00;
		}
		.visualization.livenumber .container .green {
			color: #191;
		}
		.visualization.livenumber .container h6 {
			font-size: calc(10px + .75vw);
			margin: 0 0 var(--gap) 0;
			font-weight: normal;
		}
		.visualization.livenumber .container .left .value,
		.visualization.livenumber .container .right .value {
			text-align: center;
		}
		.visualization.livenumber .container .left .value small,
		.visualization.livenumber .container .right .value small {
			color: #666;
			margin-top: 1px
		}

main .dialog-box-blanket.data-source-column form .parameter-list {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
	padding: 0 calc(var(--gap) * 2);
}
	main .dialog-box-blanket.data-source-column form .parameter {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr max-content;
	}
		main .dialog-box form .parameter .delete:hover {
			background-color: #c11;
			border-color: #c11;
		}
main .dialog-box-blanket.data-source-column .form {
	padding: calc(var(--gap) * 2) 0 0;
}
	main .dialog-box-blanket.data-source-column .form > label {
		margin-left: calc(var(--gap) * 2);
	}
		main .dialog-box-blanket.data-source-column .form > label .color {
			width: 100%;
			padding: 0;
		}
	main .dialog-box-blanket.data-source-column .form .drilldown-dropdown {
		max-width: initial;
	}
	main .dialog-box-blanket.data-source-column .form > footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 110%;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		position: sticky;
		bottom: 0;
		z-index: 1;
	}
		main .dialog-box-blanket.data-source-column .form > footer button {
			padding: calc(var(--gap) * 2);
			height: auto;
			border-right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 0;
		}

main .dialog-box-blanket.sub-reports-dialog .dialog-box {
	max-width: 80%;
}
	main .dialog-box-blanket.sub-reports-dialog .body {
		padding: var(--gap) 0;
	}
		main .dialog-box-blanket.sub-reports-dialog .sub-reports {
			margin: 0 calc(var(--gap) * 2);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		main .dialog-box-blanket.sub-reports-dialog .data-source {
			width: 350px;
			margin: var(--gap) 0;
		}
