main {
	display: grid;
	grid-template-columns: 220px auto;
}
	main > nav {
		display: flex;
		flex-direction: column;
		color: var(--color-primary-text);
	}
		main > nav a {
			padding: 12px 16px;
			color: #333;
			transition: background var(--transition-duration),
						color var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		main > nav a:hover {
			background: #ddd;
			text-decoration: none;
		}
		main > nav a.selected {
			box-shadow: inset 10px 0px 0 var(--color-accent);
			font-weight: bold;
		}
	main #account-form label img {
		border: 1px solid #ccc;
		padding: var(--gap);
	}

main .settings-manager {
	display: grid;
	grid-template-columns: 300px auto;
	margin-top: calc(var(--gap) * 2);
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
	main .settings-manager > aside {
		display: flex;
		flex-direction: column;
	}
		main .settings-manager > aside table {
			background: #fff;
		}
			main .settings-manager > aside table tr.selected {
				background: var(--color-selected);
			}
			main .settings-manager > aside table tr:active {
				box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
			}
			main .settings-manager > aside table tr:hover {
				cursor: pointer;
			}
		main .settings-manager > aside footer {
			display: flex;
			margin-top: auto;
			border-top: 1px solid #ccc;
		}
			main .settings-manager aside form {
				grid-template-columns: 1fr 1fr;
				grid-gap: calc(var(--gap) * 2);
			}
	main .settings-manager .profile {
		border-left: 1px solid #ccc;
		max-height: 600px;
		overflow: auto;
	}
		main .settings-manager .profile > header {
			display: grid;
			align-items: center;
			padding: calc(var(--gap) * 2);
			background: rgba(255, 255, 255, 0.85);
			grid-template-columns: 1fr auto auto;
			grid-gap: calc(var(--gap) * 2);
			position: sticky;
			top: 0;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			z-index: 5;
		}
			main .settings-manager .profile > header h3 {
				margin: 0;
				margin-right: auto;
			}
		main label.code-editor {
			max-width: 100%;
			position: relative;
		}
			main .settings-manager .profile label > input {
				max-width: 200px;
			}
		main .code-editor .ace_editor {
			display: flex;
			height: 300px;
			width: 100%;
		}
		main .settings-manager .edit {
			display: flex;
			position: relative;
			color: rgba(0 ,0, 0, 0.5);
			width: 100%;
			height: 50px;
		}
			main .settings-manager .edit .content {
				filter: blur(1.5px);
			}
			main .settings-manager .click-to-edit {
				display: flex;
				background: rgba(0, 0, 0, 0.05);
				border: 1px solid #ddd;
				position: absolute;
				font-size: 110%;
				width: 100%;
				height: 50px;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				color: #999;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration);
			}
			main .settings-manager .click-to-edit:hover {
				background: rgba(0, 0, 0, 0.1);
			}
			main .settings-manager .click-to-edit:active {
				box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1)
			}
			main .settings-manager .edit .content {
				display: flex;
				align-items: center;
				padding: calc(var(--gap) * 2);
			}

main .feature-form h3 {
	border-bottom: 1px dashed #999;
	margin-bottom: 0;
}
main .feature-form .table-container {
	max-height: 600px;
	overflow: auto;
}
	main .feature-form table {
		background: #fff;
	}
		main .feature-form table thead th {
			position: sticky;
		}
		main .feature-form table .feature-toggle {
			padding: 0;
			width: 250px;
		}
			main .feature-form table .feature-toggle div {
				display: flex;
			}
				main .feature-form table .feature-toggle label {
					flex: 1;
					text-align: center;
					padding: 8px;
					transition: background var(--transition-duration),
								box-shadow var(--transition-duration);
				}
				main .feature-form table .feature-toggle label:hover {
					cursor: pointer;
					background: #ccc;
				}
				main .feature-form table .feature-toggle label:active {
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
				}

main .privilege-component {display: grid;grid-gap: calc(var(--gap) * 2);margin: calc(var(--gap) * 2) 0;}
	main .privilege-component h3 {
		border-bottom: 1px dashed #999;
		margin: 0;
	}
	main .privilege-component .headings {
		display: grid;
		grid-template-columns: 50px 150px 150px;
		grid-gap: calc(var(--gap) * 2);
		color: #333;
	}
	main .privilege-component .component-list {
		display: grid;
		grid-template-columns: max-content 150px 50px;
		grid-gap: calc(var(--gap) * 2);
	}
		main .privilege-component .component-list .thin{
			max-width: 50px;
		}
		main .privilege-component .component-list .NA {
		}
	main .privilege-component .add-new-container {
		display: grid;
		grid-template-columns: 200px max-content;
		grid-gap: calc(var(--gap) * 2);
	}