main {
	display: grid;
	grid-template-columns: 220px auto;
}
	main > nav {
		display: flex;
		flex-direction: column;
		color: var(--color-primary-text);
	}
		main > nav a {
			padding: 12px 16px;
			transition: background var(--transition-duration),
						color var(--transition-duration);
		}
		main > nav a:hover {
			background: var(--color-secondary);
			color: var(--color-secondary-text);
			text-decoration: none;
		}
		main > nav a.selected {
		background: var(--color-secondary);
		color: var(--color-secondary-text);
		box-shadow: inset 10px 0px 0 var(--color-accent);
	}