main {
	display: grid;
	grid-template-columns: 220px auto;
}
	main > nav {
		display: flex;
		flex-direction: column;
		height: calc(100vh - 50px);
		border-right: 1px solid var(--color-border);
		position: sticky;
		top: 50px;
	}
		main > nav a {
			padding: 12px 16px;
			transition: background var(--transition-duration),
						color var(--transition-duration),
						box-shadow var(--transition-duration);
		}
		main > nav a:hover {
			background: var(--color-hover);
			color: var(--color-hover-text);
			text-decoration: none;
		}
		main > nav a.selected {
			box-shadow: inset 6px 0px 0 var(--color-selected);
			font-weight: bold;
		}
	main #account-form label img {
		border: 1px solid var(--color-border);
		padding: var(--gap);
	}

main .feature-form h3 {
	border-bottom: 1px dashed #999;
	margin-bottom: 0;
	padding-bottom: var(--gap);
}
main .feature-form .table-container {
	max-height: 600px;
	overflow: auto;
	background: var(--color-surface);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
	main .feature-form table thead th {
		position: sticky;
	}
	main .feature-form table .feature-toggle {
		padding: 0;
		width: 250px;
	}
		main .feature-form table .feature-toggle div {
			display: flex;
		}
			main .feature-form table .feature-toggle label {
				flex: 1;
				text-align: center;
				padding: 8px;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration);
			}
			main .feature-form table .feature-toggle label:hover {
				cursor: pointer;
				background: var(--color-secondary);
				color: var(--color-secondary-text);
			}
			main .feature-form table .feature-toggle label:active {
				box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
			}

main .privilege-component {
	display: grid;
	grid-gap: calc(var(--gap) * 2);
	margin: calc(var(--gap) * 2) 0;
}
	main .privilege-component h3 {
		border-bottom: 1px dashed #999;
		margin: 0;
	}
	main .privilege-component .headings {
		display: grid;
		grid-template-columns: 50px 150px 150px;
		grid-gap: calc(var(--gap) * 2);
		color: #333;
	}
	main .privilege-component .component-list {
		display: grid;
		grid-template-columns: max-content max-content 50px;
		grid-gap: calc(var(--gap) * 2);
	}
		main .privilege-component .component-list .thin{
			max-width: 50px;
		}
	main .privilege-component .add-new-container {
		display: grid;
		grid-template-columns: 200px max-content;
		grid-gap: calc(var(--gap) * 2);
	}

main .about-list {
	display: grid !important;
	grid-template-rows: max-content max-content;
	grid-gap: calc(var(--gap) * 3);
}
	main .about-list .info {
		display: grid;
		grid-template-columns: max-content max-content;
		grid-gap: calc(var(--gap) * 3);
		background: var(--color-surface);
		color: var(--color-surface-text);
		padding: 25px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}
		main .about-list .info .key {
			color: var(--color-grey);
		}
		main .about-list .info .value {
			display: grid;
			grid-gap: var(--gap);
		}
			main .about-list .info .value progress {
				height: 5px;
				width: 100%;
			}
	main .about-list button.clear-cache {
		width: max-content;
		background: var(--color-secondary);
		color: var(--color-secondary-text);
	}
main .executing-reports {
}
	main .executing-reports .toolbar {
		padding: calc(var(--gap) * 2);
		margin: calc(var(--gap) * 2) 0;
	}
		main .executing-reports .toolbar label {
			display: grid;
			grid-template-columns: max-content max-content;
			grid-gap: var(--gap);
			align-items: center;
		}
	main .executing-reports table td.query-name:hover,
	main .executing-reports table td.user-name:hover {
		text-decoration: underline;
		cursor: pointer;
	}
main .cached-reports table {
	margin-top: calc(var(--gap) * 2);
}

.dialog-box-blanket .body.executing-query-info {
	padding: 0 calc(var(--gap) * 2);
}
	.dialog-box-blanket .body.executing-query-info h3 {
		margin: 0;
		font-size: 100%;
		padding: calc(var(--gap) * 2) 0;
	}
	.dialog-box-blanket .body.executing-query-info .code-editor {
		height: 400px;
	}

main .documentation-page .generate-slug {
	margin-left: auto;
	cursor: pointer;
	font-weight: normal;
}
main .documentation-page .generate-slug:hover {
	text-decoration: underline;
}
main .documentation-page form .body {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: calc(var(--gap) * 2);
}
	main .documentation-page form .body > span {
		grid-row: 1;
	}
	main .documentation-page form .body .html-editor {
		grid-column: 1;
	}
	main .documentation-page form .body .preview-label,
	main .documentation-page form .body .preview {
		display: none;
	}
main .documentation-page form .body.preview-mode {
	grid-template-columns: 1fr 1fr;
}
	main .documentation-page form .body.preview-mode .preview-label {
		display: initial;
	}
	main .documentation-page form .body.preview-mode .preview {
		display: initial;
		grid-row: 2;
		grid-column: 2;
		background: var(--color-background);
		max-height: 400px;
		overflow: auto;
		padding: calc(var(--gap) * 2);
	}