.setup-stages {
    position: fixed;
    width: 350px;
    bottom: 0;
    right: 0;
    z-index: 4;
    padding: 10px 15px;
}
    .setup-stages a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: #fff;
        letter-spacing: 0.5px;
        border-radius: 3.6px;
        text-decoration: none;
        transition: background var(--transition-duration), box-shadow var(--transition-duration);
        cursor: pointer;
    }
    .setup-stages a {
        background: var(--color-secondary);
        color: var(--color-secondary-text);
        grid-row: 1 / 3;
    }
        .setup-stages a > i {
            margin-right: 10px;
        }
    .setup-stages a:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        background: #4880db;
    }
    .setup-stages a:active {
        box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25);
    }
    .setup-stages .wrapper {
        background: var(--color-surface);
        color: var(--color-surface-text);
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: calc(var(--gap) * 2);
        display: flex;
        flex-direction: column;
        border-radius: 3px;
    }
        .setup-stages .wrapper .stage {
            padding: 10px;
            cursor: pointer;
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            align-items: center;
            border-bottom: 1px solid var(--color-border);
            grid-gap: 5px;
            position: relative;
        }
        .setup-stages .wrapper .stage:last-child {
            border-bottom: 0;
        }
        .setup-stages .wrapper .stage.active,
        .setup-stages .wrapper .stage.active:hover {
            background: var(--color-selected);
            border-bottom: 0;
        }
        .setup-stages .wrapper .stage:hover {
            background: var(--color-hover);
            color: var(--color-hover-text);
        }
        .setup-stages .wrapper .stage:active {
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
        }
            .setup-stages .wrapper .stage div {
                padding: calc(var(--gap) * 1);
            }
            .setup-stages .wrapper .stage div.status {
                height: 20px;
                width: 20px;
                border: 1px solid var(--color-secondary);
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .setup-stages .wrapper .stage div.hellip {
                color: #ccc;
            }
            .setup-stages .wrapper .stage div.status.checked {
                color: var(--color-secondary);
                font-size: 85%;
            }
            .setup-stages .wrapper .stage:hover .hover-info {
                display: flex;
                font-size: 90%;
            }
            .setup-stages .wrapper .stage .hover-info {
                position: absolute;
                background: var(--color-primary);
                color: var(--color-primary-text);
                height: 45px;
                width: 220px;
                align-items: center;
                right: 335px;
                padding: 10px;
                border-radius: 3px 0px 3px 3px;
                display: none;
                justify-content: center;
            }
            .setup-stages .wrapper .stage .hover-info::after {
                content: '';
                border-left: 10px solid var(--color-primary);
                border-top: 0px solid transparent;
                border-bottom: 10px solid transparent;
                position: absolute;
                top: 0;
                left: 100%;
            }

.dialog-box-blanket.user-onboarding-welcome header {
    color: var(--color-surface-text);
    background: var(--color-surface);
    box-shadow: none;
}
    .dialog-box-blanket.user-onboarding-welcome header .close {
        padding: 10px;
    }
.dialog-box-blanket.user-onboarding-welcome .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr max-content max-content max-content;
    padding: 20px;
    grid-gap: calc(var(--gap) * 4);
}
    .dialog-box-blanket.user-onboarding-welcome .body h2 {
        margin: 0;
        grid-column: 1 / 3;
        padding-bottom: 5px;
        font-weight: normal;
        text-align: center;
        letter-spacing: 0.5px;
        font-size: 175%;
    }
    .dialog-box-blanket.user-onboarding-welcome .body a {
        color: inherit;
    }
    .dialog-box-blanket.user-onboarding-welcome .body a:hover {
        text-decoration: none;
    }
    .dialog-box-blanket.user-onboarding-welcome .body .view-demo,
    .dialog-box-blanket.user-onboarding-welcome .body .initiate-walkthrough {
        font-size: calc(100% + 0.25vw);
        height: 175px;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 200px;
        margin: 25px auto;
        transition: background var(--transition-duration),
        box-shadow var(--transition-duration);
    }
    .dialog-box-blanket.user-onboarding-welcome .body .figure {
        font-size: calc(25px + 1.8vw);
        margin-bottom: 15px;
        height: 110px;
        align-items: flex-end;
        display: flex;
        justify-content: center;
    }
        .dialog-box-blanket.user-onboarding-welcome .body .view-demo .NA,
        .dialog-box-blanket.user-onboarding-welcome .body .initiate-walkthrough .NA {
            font-size: 75%;
            margin-top: 10px;
        }
        .dialog-box-blanket.user-onboarding-welcome .body .or {
            text-align: center;
            color: var(--color-grey);
            grid-column: 1 / 3;
        }
        .dialog-box-blanket.user-onboarding-welcome .body .initiate-chat {
            grid-column: 1 / 3;
            text-align: center;
            font-size: 115%;
            margin: 0 auto;
            padding: 8px 15px;
            border: 1px solid transparent;
            transition: border var(--transition-duration);
        }
        .dialog-box-blanket.user-onboarding-welcome .body .initiate-chat:hover {
            border-color: var(--color-border);
        }
        .dialog-box-blanket.user-onboarding-welcome .body .skip {
            grid-column: 2;
            text-align: right;
            margin-left: auto;
            border: 1px solid transparent;
            padding: 5px 10px;
            transition: border var(--transition-duration),
            box-shadow var(--transition-duration);
        }
        .dialog-box-blanket.user-onboarding-welcome .body .skip:hover {
            border: 1px solid #999;
        }
.save-pop-up {
    background: var(--color-secondary);
    color: var(--color-secondary-text);
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    margin-left: 15px;
    position: absolute;
    justify-content: center;
    z-index: 7;
    letter-spacing: 0.5px;
}
.save-pop-up::before {
    left: -10px;
    content: '';
    border-right: 10px solid var(--color-secondary);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
}

.faded {
    opacity: 0.3;
}

.blink {
    animation: submit-blink 1s infinite;
    transition: background var(--transition-duration);
}
main button.blink:hover {
    color: #333;
}
main .toolbar button.unsaved.blink {
    color: #fff;
}
@keyframes submit-blink {
    from {
        background: var(--color-hover);
        color: var(--color-hover-text);
    }
    15% {
        background: #dc563e;
        color: var(--color-hover-text);
    }
    to {
        background: var(--color-hover);
        color: var(--color-hover-text);
    }
}