.privileges form label,
.roles form label {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	max-width: 150px;
	justify-content: space-between;
	flex: 1 0;
	margin: 16px;
}
.form-container {
	overflow: auto;
}
main #form h3 {
	border-bottom: 1px dashed var(--color-border);
	padding-bottom: 5px;
	letter-spacing: 1px;
}
main #form .filter {
	display: flex;
	transition: opacity var(--transition-duration);
}
	main #form .filter label {
		margin: 5px;
		min-width: 125px;
	}
	main #form .filter input {
		margin: 0 !important;
	}
.form-container .save,
.form-container .delete,
.form-container .edit {
	min-width: 50px !important;
	max-width: 50px;
}
.form-container .NA {
	margin: 5px;
}
main table .search-bar th {
	background: #fff;
	padding: calc(var(--gap) * 2) var(--gap);
}
	main table .search-bar th input {
		width: 100%;
	}
main .user-search {
	margin-bottom: calc(var(--gap) * 2);
	display: flex;
	flex-wrap: wrap;
	padding: var(--gap);
}
	main .user-search label {
		padding: var(--gap);
		flex: 1;
		grid-template-rows: max-content max-content
	}
		main .user-search button {
			cursor: pointer;
			margin-top: auto;
			width: 100px;
			background: var(--color-secondary);
			color: var(--color-secondary-text);
			border-color: var(--color-secondary);
		}
		main .user-search button:hover {
			background: var(--color-secondary);
			color: var(--color-secondary-text);
		}