html, body, main {
	height: auto;
}
main {
	grid-template-columns: 1fr;
}
	main > #list {
		display: grid;
		grid-gap: calc(var(--gap) * 2);
	}
		main > #list .toolbar {
			padding: 0;
			justify-content: space-between;
		}
		main > #list .search-column-filters {
			margin: 0;
		}