:root {
	--color-primary: #212121;
	--color-primary-text: #eee;

	--color-secondary: #a45491;
	--color-secondary-text: #fff;

	--color-selected: #2c9d58;
	--color-selected-text: #fff;

	--color-hover: rgba(255, 255, 255, 0.15);
	--color-hover-text: #eee;

	--color-background: #303030;
	--color-background-text: #eee;

	--color-surface: #444;
	--color-surface-text: #eee;

	--color-grey: #aaa;
	--color-border: #888;
}

a {
	color: #fff;
}

input:not([type=checkbox]):not([type=radio]),
select,
button,
textarea {
	background: #666666;
	color: var(--color-hover-text);
	border: 0;
}