:root {
	--color-primary: #212121;
	--color-primary-text: #eee;

	--color-secondary: #FFC107;
	--color-secondary-text: #333;

	--color-selected: #a55a59;
	--color-selected-text: #fff;

	--color-hover: #666666;
	--color-hover-text: #eee;

	--color-background: #303030;
	--color-background-text: #eee;

	--color-surface: #444;
	--color-surface-text: #eee;

	--color-grey: #aaa;
	--color-border: #888;
}

a {
	color: #fff;
}

input:not([type=checkbox]):not([type=radio]),
select,
button,
textarea {
	background: var(--color-hover);
	color: var(--color-hover-text);
	border: 0;
}