:root {
	--color-primary: #2588f0;
	--color-primary-text: #fff;
	--color-secondary: #2588f0;
	--color-secondary-text: #fff;
	--color-selected: #f8b060;
	--color-selected-text: #333;
	--color-hover: #c3d6e8;
	--color-hover-text: #333;
	--color-background: #eee;
	--color-background-text: #222;
	--color-surface: #fff;
	--color-surface-text: #222;
	--color-grey: #666;
	--color-border: #ccc;
}

a {
	color: #333;
}