:root {

	--color-primary: #3e7adc;
	--color-primary-text: #fff;

	--color-secondary: #3e7adc;
	--color-secondary-text: #fff;

	--color-selected: #fff59d;
	--color-selected-text: inherit;

	--color-hover: #c3d6e8;
	--color-hover-text: inherit;

	--color-background: #eee;
	--color-background-text: #222;

	--color-surface: #fff;
	--color-surface-text: #222;
}