.merge-requests .section > h1 {
	overflow: auto;
	white-space: nowrap;
}
.merge-requests .section > h1::-webkit-scrollbar {
	display: none;
}
	.merge-requests .section > h1 > i {
		margin-right: var(--gap);
		color: var(--color-secondary);
	}
.report-picker {
	display: grid;
	grid-template-columns: 200px max-content 200px;
	width: max-content;
	grid-gap: 20px;
}
	.report-picker .report-picker-arrow {
		align-self: flex-end;
		font-size: 200%;
	}

@media (max-width: 750px) {

	.report-picker {
		grid-template-columns: 1fr;
		width: 100%;
	}
		.report-picker .report-picker-arrow {
			display: none;
		}
}

.merge-requests #merge-request-list > .list {
	display: grid;
	grid-gap: calc(var(--gap) * 4);
	overflow: hidden;
}
	.merge-requests #merge-request-list > .toolbar {
		grid-template-columns: max-content 1fr repeat(3, max-content);
		overflow: auto;
	}
	.merge-requests #merge-request-list > .toolbar::-webkit-scrollbar {
		display: none;
	}
	.merge-requests #merge-request-list > .information-bar {
		margin-bottom: calc(var(--gap) * 2);
		display: grid;
		grid-auto-flow: column;
		width: max-content;
		grid-gap: calc(var(--gap) * 2);
	}
	.merge-requests .merge-request-row {
		padding: calc(var(--gap) * 2) calc(var(--gap) * 2)  calc(var(--gap) * 2) 30px;
		display: grid;
		grid-gap: calc(var(--gap) * 2);
		position: relative;
		border-radius: 3px;
		overflow: hidden;
		transition: background var(--transition-duration),
					color var(--transition-duration);
	}
	.merge-requests .merge-request-row:hover {
		background: var(--color-hover);
		color: var(--color-hover-text);
	}
		.merge-requests .merge-request-row > * {
			white-space: nowrap;
			overflow: auto;
		}
		.merge-requests .merge-request-row > *::-webkit-scrollbar {
			display: none;
		}
		.merge-requests .merge-request-row h2 {
			font-size: 125%;
			margin: 0;
			display: grid;
			grid-auto-flow: column;
			max-width: max-content;
			grid-gap: var(--gap);
			align-items: center;
			cursor: pointer;
			white-space: nowrap;
			overflow: auto;
			letter-spacing: 1px;
		}
		.merge-requests .merge-request-row > .subtitle {
			display: grid;
			grid-auto-flow: column;
			max-width: max-content;
			grid-gap: 15px;
		}
			.merge-requests .merge-request-row > .subtitle i {
				color: var(--color-secondary);
				font-size: 120%;
			}
		.merge-requests .merge-request-row > .NA {
			display: grid;
			grid-auto-flow: column;
			width: max-content;
			grid-gap: var(--gap);
		}
			.merge-requests .merge-request-row > .NA a {
				color: inherit;
			}
		.merge-requests .merge-request-row > .status {
			color: #fff;
			position: absolute;
			height: 100%;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			text-transform: uppercase;
			letter-spacing: 5px;
			font-weight: bold;
			font-size: 70%;
			width: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.merge-requests .merge-request-row.open > .status {
			background: var(--color-secondary);
		}
		.merge-requests .merge-request-row.merged > .status {
			background: var(--color-green);
		}
		.merge-requests .merge-request-row.closed > .status {
			background: var(--color-red);
		}

	.merge-requests .merge-request > .information-bar {
		padding: calc(var(--gap) * 2);
		font-size: 125%;
		justify-content: center;
		grid-auto-flow: column;
		display: grid;
		grid-gap: calc(var(--gap) * 2);
	}
		.merge-requests .merge-request > .information-bar > .NA i {
			color: var(--color-secondary);
		}
	.merge-requests .merge-request > h1 span i {
		color: var(--color-secondary);
		margin: 0 var(--gap);
	}
